<main id="step5">
    {{ FormStackAddon:steps}}
    {{ if step < 4 }}
    {{ redirect to="{ redirect_to }" }}
    {{ /if }}
    <section id="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form">
                        <div id="prequalifed-content" style="margin-bottom: 60px">
                            <img src="/assets/img/checkmark.png">
                            <h1>Thank You</h1>
                            <p>The application was submitted successfully.</p>
                            <br>
                            <p style="font-size: 1rem;">Please <span style="border-bottom: solid 1px #444;">check your email</span> for a Docusign Document to complete your application.
                                <br/>
                                You can upload your voided check, bank statements and Drivers license there as well</p>
                            <div style="max-width: 300px;margin: 0 auto; margin-bottom: 30px;">
                                <div class="text-center" style="text-transform: uppercase; margin-bottom: 5px;">
                                    Complete
                                </div>
                                <div class="progress" style="height: 25px;">
                                    <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ /FormStackAddon:steps }}
</main>