<main id="step2">
    {{ FormStackAddon:steps}}
    {{ if step < 1 }}
    {{ redirect to="{ redirect_to }" }}
    {{ /if }}
    <section id="formNew">
        <div class="form-focus">
        <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 background-focus">
                    <div class="form-progress-bar d-lg-none">
                        <div class="stage text-center">
                            <div class="row">
                                <div class="col">Start</div>
                                <div class="col active">Company</div>
                                <div class="col">Owner(s)</div>
                                <div class="col">Done</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="progression-bar"></div>
                            </div>
                        </div>
                        <div class="percentage text-center">
                            <div class="row">
                                <div class="col start">35%</div>
                                <div class="col company d-none"></div>
                                <div class="col address inactive"></div>
                                <div class="col owners inactive"></div>
                                <div class="col done inactive"></div>
                            </div>
                        </div>
                    </div>
                    <div class="prequalification-header reduce-h1-size">
                        <h1>Enter Company Information.</h1>
                        <h2>Before proceeding to the next step, please enter the following details.</h2>
                    </div>
                    <div class="form">
                        <div id="prequalifed-content">
                            <article class="steps">
                                {{ form:set is="lead" }}
                                {{ form:create }}
                                <div class="fields">
                                    <input type="text" name="honeypot" class="honeypot" />
                                    <input type="hidden" name="source" value="{{ source }}" />
                                    <input type="hidden" name="api_id" value="{{ api_id }}" />
                                    <input type="hidden" name="submission_id" value="{{ submission_id }}" />
                                    <input type="hidden" name="step" value="2" />
                                    <input type="hidden" name="phone" value="{{ phone }}" />
                                    <input type="hidden" name="email" value="{{ email }}" />
                                    <input type="hidden" name="company_name" value="{{ company_name }}" />
                                    <div class="form-category-title">
                                        <h3>Business Details:</h3>
                                    </div>
                                    <div class="form-group input-tooltip float-label">
                                        <input type="text" id="company_name_legal" name="company_name_legal"
                                            class="form-control" placeholder="Company's Legal Name"
                                            value="{{ old:company_name_legal or company_name_legal }}" maxlength="50"
                                            REQUIRED />
                                        <label for="company_name_legal">Company's Legal Name</label>
                                        <div class="tooltip-dot" data-toggle="tooltip" data-placement="top"
                                            title="Typically this would be the name on your business license or business bank account.">
                                            ?</div>
                                    </div>
                                    <div class="form-group input-tooltip float-label">
                                        <input type="text" id="company_name_fake" name="company_name_fake"
                                            class="form-control" placeholder="(DBA) Doing Business As"
                                            value="{{ old:company_name_fake or company_name_fake }}" maxlength="50" />
                                        <label for="company_name_fake">(DBA) Doing Business As</label>
                                        <div class="tooltip-dot" data-toggle="tooltip" data-placement="top"
                                            title="Your business' legal name might be different than the name you 'Do Business As' (DBA).">
                                            ?</div>
                                    </div>
                                    <div class="form-group input-tooltip tooltip-outside-m">
                                        <div class="form-select-container select-float-label">
                                            <span class="down-arrow fa fa-chevron-down tooltip-outside-m"></span>
                                            <label for="company_state" class="on">Business Incorporated</label>
                                            <select id="company_state" name="company_state" class="form-control tooltip-outside position-label-1"
                                                placeholder="Business Incorporated">
                                                <option value="" selected disabled>Business Incorporated</option>
                                                {{ foreach:company_state_options }}
                                                {{ if old:company_state == key || company_state == key }}
                                                <option value="{{ key }}" selected>{{ value }}</option>
                                                {{ else }}
                                                <option value="{{ key }}">{{ value }}</option>
                                                {{ /if }}
                                                {{ /foreach:company_state_options }}
                                            </select>
                                            <div class="tooltip-dot" data-toggle="tooltip" data-placement="top"
                                            title="In what state was your business incorporated?">
                                            ?</div>
                                        </div>
                                    </div>
                                    <div class="form-group input-tooltip float-label">
                                        <input type="number" id="company_tax_id" name="company_tax_id"
                                            class="form-control" placeholder="Tax ID (FEIN) Number"
                                            value="{{ old:company_tax_id or company_tax_id }}" maxlength="9" />
                                        <label for="company_tax_id">Tax ID (FEIN) Number</label>
                                        <div class="tooltip-dot" data-toggle="tooltip" data-placement="top"
                                            title="A Federal Employer Identification Number (FEIN/EIN) is a nine-digit number formatted like this: XX-XXXXXXX.">
                                            ?</div>
                                    </div>
                                    <div class="form-group input-tooltip float-label">
                                        <input type="number" id="company_employees" name="company_employees"
                                            class="form-control" placeholder="Number Of Employees"
                                            value="{{ old:company_employees or company_employees }}" maxlength="9" />
                                        <label for="company_employees">Number of Employee</label>
                                        <div class="tooltip-dot" data-toggle="tooltip" data-placement="top" title="How many employees do you have?">?</div>
                                    </div>
                                    <div class="form-group input-tooltip">
                                        <div class="form-select-container select-float-label">
                                            <span class="down-arrow fa fa-chevron-down"></span>
                                            <label for="company_structure" class="on">Business Structure</label>
                                            <select id="company_structure" name="company_structure" class="form-control position-label-1">
                                                <option value="" selected disabled>Business Structure</option>
                                                {{ foreach:company_structure_options }}
                                                {{ if old:company_structure == key || company_structure == key }}
                                                <option value="{{ key }}" selected>{{ value }}</option>
                                                {{ else }}
                                                <option value="{{ key }}">{{ value }}</option>
                                                {{ /if }}
                                                {{ /foreach:company_structure_options }}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group input-tooltip">
                                        <input type="date" id="company_started_with_you" name="company_started_with_you"
                                            class="form-control" placeholder="Operation Date -"
                                            value="{{ old:company_started_with_you or company_started_with_you }}" />
                                        <div class="tooltip-dot" data-toggle="tooltip" data-placement="top"
                                            title="What date did the business start operating with you as the owner?">?
                                        </div>
                                    </div>
                                    <div class="form-group float-label">
                                        <input type="text" id="company_industry" name="company_industry"
                                            class="form-control" placeholder="Business Industry"
                                            value="{{ old:company_industry or company_industry }}" />
                                        <label for="company_industry">Business Industry</label>
                                    </div>
                                    <div class="form-group input-tooltip">
                                        <div class="form-select-container select-float-label">
                                            <span class="down-arrow fa fa-chevron-down"></span>
                                            <label for="company_type" class="on">Company Type</label>
                                            <select id="company_type" name="company_type" class="form-control position-label-1">
                                                <option value="" selected disabled>Company Type</option>
                                                {{ foreach:company_type_options }}
                                                {{ if old:company_type == key || company_type == key }}
                                                <option value="{{ key }}" selected>{{ value }}</option>
                                                {{ else }}
                                                <option value="{{ key }}">{{ value }}</option>
                                                {{ /if }}
                                                {{ /foreach:company_type_options }}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-category-title">
                                        <h3>Financial Information:</h3>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-select-container select-float-label">
                                            <span class="down-arrow fa fa-chevron-down"></span>
                                            <label for="company_has_loan" class="on">Have MCA or Business Loans?</label>
                                            <select id="company_has_loan" name="company_has_loan" class="form-control position-label-1" placeholder="Have MCA or Business Loans">
                                                <option value="" selected disabled>Have MCA or Business Loans?</option>
                                                {{ foreach:company_has_loan_options }}
                                                {{ if old:company_has_loan == key || company_has_loan == key }}
                                                <option value="{{ key }}" selected>{{ value }}</option>
                                                {{ else }}
                                                <option value="{{ key }}">{{ value }}</option>
                                                {{ /if }}
                                                {{ /foreach:company_has_loan_options }}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group input-tooltip">
                                        <div class="form-select-container select-float-label">
                                            <span class="down-arrow fa fa-chevron-down"></span>
                                            <label for="company_work_with_credit_card" class="on">Accept Credit
                                                Cards</label>
                                            <select id="company_work_with_credit_card" name="company_work_with_credit_card" class="form-control position-label-1" placeholder="Accept Credit Cards">
                                                <option value="" selected disabled>Accept Credit Cards</option>
                                                {{ foreach:company_work_with_credit_card_options }}
                                                {{ if old:company_work_with_credit_card == key || company_work_with_credit_card == key }}
                                                <option value="{{ key }}" selected>{{ value }}</option>
                                                {{ else }}
                                                <option value="{{ key }}">{{ value }}</option>
                                                {{ /if }}
                                                {{ /foreach:company_work_with_credit_card_options }}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group float-label input-tooltip">
                                        <input type="text" id="company_cc_processor" name="company_cc_processor"
                                            class="form-control" placeholder="Credit Card Processing Service"
                                            value="{{ old:company_cc_processor or company_cc_processor }}"
                                            maxlength="50" />
                                        <label for="company_cc_processor">Credit Card Processing Service</label>
                                        <div class="tooltip-dot" data-toggle="tooltip" data-placement="top"
                                                title="What company do you use for accepting credit cards?">?</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-select-container select-float-label">
                                            <span class="down-arrow fa fa-chevron-down"></span>
                                            <label for="company_has_banking" class="on">Have A Business Bank
                                                Account</label>
                                            <select id="company_has_banking" name="company_has_banking" class="form-control position-label-1" placeholder="Have A Business Bank Account">
                                                <option value="" disabled>Have A Business Bank Account</option>
                                                <option value="Yes" selected>Yes</option>
                                                <option value="No">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-category-title">
                                        <h3>Business Location - Tenant/Owner:</h3>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-select-container select-float-label">
                                            <span class="down-arrow fa fa-chevron-down"></span>
                                            <label for="company_rent_or_own" class="on">Rent/Own Business
                                                Location</label>
                                            <select id="company_rent_or_own" name="company_rent_or_own" class="form-control position-label-1" placeholder="Rent/Own Business Location">
                                                <option value="" selected disabled>Rent/Own Business Location</option>
                                                {{ foreach:company_rent_or_own_options }}
                                                {{ if old:company_rent_or_own == key || company_rent_or_own == key }}
                                                <option value="{{ key }}" selected>{{ value }}</option>
                                                {{ else }}
                                                <option value="{{ key }}">{{ value }}</option>
                                                {{ /if }}
                                                {{ /foreach:company_rent_or_own_options }}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group float-label">
                                        <input type="number" id="company_mortgage" name="company_mortgage"
                                            class="form-control" placeholder="Business Rent/Mortgage Cost"
                                            value="{{ old:company_mortgage or company_mortgage }}" maxlength="12" />
                                        <label for="company_mortgage">Business Rent/Mortgage Cost</label>
                                    </div>
                                    <div class="form-group input-tooltip float-label">
                                        <input type="text" id="company_land_lord_name" name="company_land_lord_name" class="form-control"
                                            placeholder="Landlord's Name" value="{{ old:company_land_lord_name or company_land_lord_name }}"
                                            maxlength="50" />
                                        <label for="company_land_lord_name">Landlord's Name</label>
                                        <div class="tooltip-dot" data-toggle="tooltip" data-placement="top"
                                            title="This can be a person, bank or property management company.">?</div>
                                    </div>
                                    <div class="form-group float-label">
                                        <input type="tel" id="company_land_lord_phone" name="company_land_lord_phone" class="form-control"
                                            placeholder="Landlord's Phone Number" value="{{ old:company_land_lord_phone or company_land_lord_phone }}"
                                            maxlength="10" />
                                        <label for="company_land_lord_phone">Landlord's Phone Number</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="date" id="company_land_lord_expiration" name="company_land_lord_expiration" class="form-control"
                                            value="{{ old:company_land_lord_expiration or company_land_lord_expiration }}" maxlength="12"
                                            placeholder="Lease Expiration -" />
                                    </div>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button id="submit" class="btn btn-primary btn-block">NEXT</button>
                                </div>
                                {{ if {form:success} }}
                                {{ form_submission }}
                                {{ /if }}
                                {{ /form:create }}
                                {{ /form:set }}
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 form-right-col progress-right d-none d-lg-block">
                    <div class="qualification-amount">
                        <div class="intro">Based on what you provided</div>
                        <div class="ribbon"></div>
                        <div class="title">You're Pre-qualified!</div>
                        <div class="capital" id="company_revenue">${{ company_revenue }}</div>
                    </div>
                    <h3 class="text-left">Your progress:</h3>
                    <div class="progress-list text-center">
                        <div class="row stage passed">
                            <p>Start Now</p>
                        </div>
                        <div class="row stage active">
                            <p>Your Company</p>
                        </div>
                        <div class="row stage inactive">
                            <p>Owner Info</p>
                        </div>
                        <div class="row stage inactive">
                            <p>All Set!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    {{ /FormStackAddon:steps }}
    <div id="preQual" class="modal fade d-lg-none">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="prequalification-amount-m">
                        <div class="intro">Based on what you provided</div>
                        <div class="title">Pre-qualified</div>
                        <div class="capital" id="capital">${{ company_revenue }}</div>
                        <p><span>Not enough?</span> The pre-qualification amount can be changed based on your unique situation.</p>
                        <button type="button" class="close btn btn-primary btn-block" data-dismiss="modal" aria-hidden="true">Complete Application</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function(){
        if (window.innerWidth < 991) {
            $("#preQual").modal('show');
            $("#capital").text($('#company_revenue').text());
        }
    });
    $(function () {
        var onClass = "on";
        var showClass = "show";
        $("input, select")
            .bind("checkval", function () {
                var label = $(this).prev("label");

                if (this.value !== "") label.addClass(showClass);
                else label.removeClass(showClass);
            })
            .on("keyup", function () {
                $(this).trigger("checkval");
            })
            .on("focus", function () {
                $(this)
                    .prev("label")
                    .addClass(onClass);
            })
            .on("blur", function () {
                $(this)
                    .prev("label")
                    .removeClass(onClass);
            })
            .trigger("checkval");
        $("select")
            .on("change", function () {
                var $this = $(this);

                if ($this.val() == "") $this.addClass("watermark");
                else $this.removeClass("watermark");

                $this.trigger("checkval");
            })
            .change();
    });
    $('.position-label-1').on('change', function() {
        $(this).addClass('position-label', this.value != '1');
    });
</script>