<main>
    <section id="about-us">
        <div class="container">
            <div class="intro">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>¿Qué Hace One Park Financial?</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="description">
                            <p>One Park Financial cree que su empresa debería tener acceso inmediato al capital circulante, al igual que las grandes corporaciones. Por lo tanto, lo emparejamos con proveedores de fondos que se enfocan en trabajar con pequeñas y medianas empresas y nos complace trabajar con personas que pueden no tener una calificación crediticia perfecta.</p>
                            <p>Muchas pequeñas empresas no pueden permitirse esperar semanas para que se apruebe un préstamo bancario. Y el largo tiempo de procesamiento no es el único problema. Muchos bancos requieren una cantidad significativa de documentación, así como una excelente calificación crediticia (personal y / o comercial), y las empresas más pequeñas enfrerntan dificultades para cumplir con estos requisitos. En comparación, One Park Financial trabaja para encontrar el financiador adecuado de manera rápida y eficiente, guiándole en todo el proceso y manteniéndolo informado en cada paso del camino, convirtiéndose verdaderamente en un socio activo en su éxito.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="image-wrapper">
                            <div class="iframe-wrapper">
                                <div class="iframe-wrapper">
                                    <iframe src="https://www.youtube.com/embed/J3oz31KghNM?rel=0&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                                <div class="trustpilot-widget-wrapper">
                                    <!-- TrustBox widget - Micro Star -->
                                    <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="555cd8dd0000ff00057f8e1e" data-style-height="24px" data-style-width="100%" data-theme="light">
                                        <a href="https://www.trustpilot.com/review/oneparkfinancial.com" target="_blank">Trustpilot</a>
                                    </div>
                                    <!-- End TrustBox widget -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="brand">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Nuestra Visión Y Misión</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <ul class="items">
                            <li>
                                <div class="left">
                                    <span>VISIÓN</span>
                                    <i class="fas fa-lightbulb"></i>
                                </div>
                                <div class="right">
                                    <p>
                                        Nuestra visión es hacer que el capital circulante sea igualmente accesible para cualquiera que persiga sus sueños empresariales.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <span>MISIÓN</span>
                                    <i class="fas fa-bullseye"></i>
                                </div>
                                <div class="right">
                                    <p>Convertirnos en un socio activo en el éxito de nuestros clientes a través de la educación, el fomento y la tutoría de pequeñas empresas, y ayudándoles a acceder a capital circulante.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="description">
                            <p>El objetivo de One Park Financial es ayudar a las pequeñas y medianas empresas a acceder a capital circulante de manera rápida y eficiente. En pocas palabras, nivelamos el campo de juego cuando se trata de fondos comerciales. Nos asociamos con nuestros clientes a largo plazo para ayudarles a hacer crecer sus empresas continuamente, y nuestros servicios centrados en el cliente reflejan ese objetivo.</p>
                            <p>Nuestros procesos están diseñados para ser eficientes, simples, justos y, sobre todo, RÁPIDOS. Nuestro equipo de especialistas en financiacion se enorgullece de poder encontrar una solución para sus necesidades de financiamiento empresarial.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="values">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Nuestros Valores y Cultura</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="description">
                            <p>¡Nuestro éxito se basa en nuestra capacidad para ayudarte a crecer! Los propietarios de pequeñas empresas son una fuerza importante en la economía de los Estados Unidos: crean empleos, estimulan la innovación y hacen crecer las comunidades. Pero, desafortunadamente, los propietarios de pequeñas empresas a menudo tienen dificultades para acceder a capital circulante.</p>
                            <p>Estamos trabajando para cambiar eso al encontrar opciones más accesibles para la financiación empresarial, ayudando a las personas a explorar opciones alternativas de financiación empresarial, abriendo posibilidades y educándolas sobre las oportunidades que están disponibles para ellos.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <ul class="items">
                            <li>
                                <div class="left">
                                    <span>VALORES</span>
                                    <i class="fas fa-hand-holding-heart"></i>
                                </div>
                                <div class="right">
                                    <ul>
                                        <li>
                                            Accesibilidad
                                        </li>
                                        <li>
                                            Eficiencia
                                        </li>
                                        <li>
                                            Transparencia
                                        </li>
                                        <li>
                                            Defensa
                                        </li>
                                        <li>
                                            Responsabilidad
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <span>CULTURA</span>
                                    <i class="fas fa-users"></i>
                                </div>
                                <div class="right">
                                    <ul>
                                        <li>
                                            Resultados
                                        </li>
                                        <li>
                                            Rendición de Cuentas
                                        </li>
                                        <li>
                                            El Exito de los Clientes
                                        </li>
                                        <li>
                                            Asumir Riesgos
                                        </li>
                                        <li>
                                            Diversión
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="why">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>¿Por Qué Escoger A One Park Financial?</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="item-wrapper a">
                                        <div class="item">
                                            <span class="number">01</span>
                                            <span class="description">EXPERIENCIA DE ACCESO A LA FINANCIACIÓN</span>
                                        </div>
                                        <div class="item-tooltip">
                                            One Park Financial fue fundada en 2010. Nuestro equipo de liderazgo tiene décadas de experiencia en la creación y el financiamiento de empresas altamente exitosas. Aproveche nuestro conocimiento y nuestra amplia red de fuentes de financiacion para fortalecer la salud financiera de su empresa.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2"></div>
                                <div class="col-lg-5">
                                    <div class="item-wrapper b">
                                        <div class="item">
                                            <span class="number">02</span>
                                            <span class="description">CONFIANZA ESTABLECIDA</span>
                                        </div>
                                        <div class="item-tooltip">
                                            One Park Financial ha facilitado más de $125 millones en fondos comerciales para más de 8,000 clientes. La agencia Better Business Bureau nos calificó con A+, y las excelentes reseñas en línea de nuestra compañía demuestran que deleitamos a nuestros clientes y cumplimos nuestras promesas.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="item-wrapper c">
                                        <div class="item">
                                            <span class="number">03</span>
                                            <span class="description">OPCIONES DE APROBACION FLEXIBLES</span>
                                        </div>
                                        <div class="item-tooltip">
                                            Creemos que un mal historial crediticio no debería automáticamente impedirle el acceso a financiacion para su negocio. Asegurar la financiación debe basarse en su capacidad de pago ahora.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-5">
                                    <div class="item-wrapper d">
                                        <div class="item">
                                            <span class="number">04</span>
                                            <span class="description">PROCESO SIMPLE / TÉRMINOS TRANSPARENTES</span>
                                        </div>
                                        <div class="item-tooltip">
                                            Trabajamos arduamente para que le sea más fácil acceder a capital circulante.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="item-wrapper e">
                                        <div class="item">
                                            <span class="number">05</span>
                                            <span class="description">RESPONSABILIDAD</span>
                                        </div>
                                        <div class="item-tooltip">
                                            Sabemos que su tiempo es valioso, y es por eso que trabajamos arduamente para obtener los fondos que usted merece para hacer crecer su negocio.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:modules/es/testimonials }}
    {{ partial:modules/es/lp-form }}
</main>