<main>
    <section id="about-us">
        <div class="container">
            <div class="intro">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>What does One Park Financial do?</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="description">
                            <p>At One Park Financial, we understand that applying for a bank loan can be a long, drawn out process that many small and mid-sized businesses will not qualify for. We are experts at pairing businesses with the right funders, and since 2010, we have been making a difference in the lives of business owners across the country.</p>
                            <p>By working with a large network of funders (over 20) we are able to offer a wide variety of flexible financing and funding options without all the hassles, hurdles and games associated with traditional bank financing.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="image-wrapper">
                            <div class="iframe-wrapper">
                                <iframe src="https://www.youtube.com/embed/R0kUmrtKlTE?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="trustpilot-widget-wrapper">
                                <!-- TrustBox widget - Micro Star -->
                                <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="555cd8dd0000ff00057f8e1e" data-style-height="24px" data-style-width="100%" data-theme="light">
                                    <a href="https://www.trustpilot.com/review/oneparkfinancial.com" target="_blank">Trustpilot</a>
                                </div>
                                <!-- End TrustBox widget -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="brand">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>The Company Brand</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="items">
                            <li>
                                <div class="left">
                                    <span>Vision</span>
                                    <i class="fas fa-lightbulb"></i>
                                </div>
                                <div class="right">
                                    <p>
                                        To Make Working Capital equally accessible to any one chasing their business dreams
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <span>Mission</span>
                                    <i class="fas fa-bullseye"></i>
                                </div>
                                <div class="right">
                                    <p>To become true partners in our client's success by education, encouraging, and providing them the source to strive for growth.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="values">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>We Value Individuals</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ul class="items">
                            <li>
                                <div class="left">
                                    <span>Values</span>
                                    <i class="fas fa-hand-holding-heart"></i>
                                </div>
                                <div class="right">
                                    <p>
                                        To Make Working Capital equally accessible to any one chasing their business dreams
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <span>Culture</span>
                                    <i class="fas fa-users"></i>
                                </div>
                                <div class="right">
                                    <p>To become true partners in our client's success by education, encouraging, and providing them the source to strive for growth.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="why">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Why One Park Financial?</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="item">
                                        <span class="number">01</span>
                                        <span class="description">Funding Access Experience</span>
                                    </div>
                                </div>
                                <div class="col-lg-2"></div>
                                <div class="col-lg-5">
                                    <div class="item">
                                        <span class="number">02</span>
                                        <span class="description">Established Trust</span>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="item">
                                        <span class="number">03</span>
                                        <span class="description">Flexible Approval Options</span>
                                    </div>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-5">
                                    <div class="item">
                                        <span class="number">04</span>
                                        <span class="description">Simple Process Transparent Terms</span>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="item">
                                        <span class="number">05</span>
                                        <span class="description">Funding Access Experience</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:modules/testimonials }}
    {{ partial:modules/lp-form }}
</main>