<main>
    <div class="container">
        <section id="blog">
            <div class="heading">
                <h1>{{ title }}</h1>
            </div>
            <article class="list">
               <ul>
                  {{ collection:blog paginate="true" as="posts" limit="4" locale="only {locale}" }}
                  {{ posts scope="tag" }}
                  {{ partial:block }}
                  {{ /posts }}
               </ul>
                {{ partial:pagination }}
                {{ /collection:blog }}
            </article>
        </section>
    </div>
</main>