<main>
    <section id="article">
        <div class="container">
            <div class="heading title">
                <div class="date">
                    <div class="day">
                        {{ date format="j" }}
                    </div>
                    <div class="month-year">
                        {{ date format="F Y" }}
                    </div>
                </div>
                <h1>{{ title }}</h1>
                {{ sub_title wrap="h2" }}
            </div>
            <article class="content">
                {{ if intro_image }}
                <p><img src="{{ intro_image }}" class="intro-image"></p>
                {{ /if }}
                {{ content }}
                <ul class="tags">
                    {{ tags }}
                    <li><a href="{{ url }}">{{ title }}</a></li>
                    {{ /tags }}
                </ul>
            </article>
            {{ partial:post-footer }}
        </div>
    </section>
    {{ partial:lp-form }}
</main>