<main>
    <div class="container">
        <section id="press-releases">
            <div class="intro">
                <h1>{{ title }}</h1>
            </div>
            <div class="posts">
                {{ collection:press paginate="true" as="posts" limit="9" locale="{ locale }" }}
                <ul class="items">
                    {{ posts scope="tag" }}
                    {{ partial:press/block }}
                    {{ /posts }}
                </ul>
                {{ partial:modules/pagination }}
                {{ /collection:press }}
            </div>
        </section>
    </div>
    {{ partial:modules/lp-form }}
</main>