<main>
    <section id="hero">
        <div class="container">
            <div class="description">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </section>
    <section id="form">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <article class="content">
                        {{ content }}
                        {{ form:create in="contact" }}
                        {{ if errors }}
                        <div class="alert alert-danger">
                            {{ errors }}
                            {{ value }}<br>
                            {{ /errors }}
                        </div>
                        {{ /if }}
                        {{ if success }}
                        <div class="alert alert-success">
                            Form was submitted successfully.
                        </div>
                        {{ /if }}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>First Name</label>
                                <input type="text" name="firstname" value="{{ old:firstname }}" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last Name</label>
                                <input type="text" name="lastname" value="{{ old:lastname }}" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Business Name</label>
                            <input type="text" name="business_name" value="{{ old:business_name }}" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Contact Phone</label>
                            <input type="number" name="phone" value="{{ old:phone }}" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" value="{{ old:email }}" class="form-control" />
                        </div>
                        <button class="btn btn-primary">Thank You</button>
                        {{ /form:create }}
                    </article>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <h3>One Park Financial Locations</h3>
                    <ul class="locations">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <div>3390 Mary Street Suite 305 <span>Coconut Grove, FL 33133</span></div>
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <div>1321 Upland Drive #1690 <span>Houston, TX 77043</span></div>
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <div>4651 Salisbury Road Suite 400 <span> Jacksonville, FL 32256</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>