<main>
    {{ FormStackAddon:complete }}
    {{ if !status }}
        {{ redirect to="{ url }" }}
    {{ /if }}
        <section id="hero" class="ok">
            <div class="container">
                <div class="description">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </section>
        <section id="form">
            <div class="container">
                <div class="row">
                    <div class="form">
                        <div id="prequalifed-content">
                            <img src="/assets/img/checkmark.png">
                            <h1>Thank You</h1>
                            <p>The application was submitted successfully.</p>
                            <br>
                            <p>Please check your email for a Docusign Document to complete your application. You can upload your voided check, bank statements and Drivers license there as well</p>
                        </div>
                        <hr>
                        <a href="/" class="btn btn-primary">Close</a>
                    </div>
                </div>
            </div>
        </section>
    {{ /FormStackAddon:complete }}
</main>