<main>
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="description">
                        <h1>
                            <div class="what-we-do">¿Necesita capital</div>
                            <div class="why-we-do-it">de trabajo rápido?</div>
                        </h1>
                        <h4>AYUDAMOS A NEGOCIOS A CRECER CON OPCIONES <span>DE FINANCIAMIENTO <strong>FÁCILES</strong> Y SIN PROBLEMAS</span></h4>
                        <ul class="xl">
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>No se requiere garantía o plan de negocios.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Simplemente elija la oferta que más le convenga.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>La mayoría de los negocios reciben su depósito de capital de trabajo en solo días.</span>
                            </li>
                        </ul>
                        <ul class="xs">
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>No Collateral Required.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Funding in Under 72 Hours.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Poor Credit Accepted.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="button-wrapper">
                        <a class="btn btn-primary" href="/es/preaprob">
                            <span>Sea Aprobado Ya</span>
                        </a>
                        <div class="phone">
                            <div class="text">¡Hable con un gestor de fondos!</div>
                            <a href="tel:+18006172020" data-ctm-watch-id="3" data-ctm-tracked="1">
                                <span class="number">1-800-617-2020</span>
                            </a>
                        </div>
                        <div class="slogan">El estándar en excelencia!</div>
                        <div class="badges">
                            <img src="/assets/img/BBB.png">
                            <img src="/assets/img/google-rating-4.5.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:modules/es/lp-form }}
</main>