<main>
    <section id="faqs">
        <div class="faqs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Frequently Asked Questions</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>The Application Process</h3>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="heading1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">How do I apply?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
                                    <div class="card-body">
                                        The application process is fast, simple and secure. Just fill out our easy 5 minute application or call one of our funding experts.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading2">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">Is the process difficult?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                                    <div class="card-body">
                                        We know it can be intimidating and often times confusing figuring out how to apply for business capital. We strive to take the confusion out of the process. One of our funding experts will walk you through the simple steps required for qualification, explain the options and offers, and facilitate your application through funding.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading3">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">What does it cost to apply?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                                    <div class="card-body">
                                        Our application process has no cost to the merchant.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading4">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">What Information will I need to provide?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                                    <div class="card-body">
                                        Very little information and paperwork is required. Usually an easy one-page application, a few months of bank statements, and items such as a copy of a driver’s license and a copy of a void check are all that are needed for funding. There may be times when a funder may ask for other items such as taxes or proof of ownership. It’s all contingent upon the funder.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading5">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">How long will it take to receive my funds?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                                    <div class="card-body">
                                        Funding will usually take place within 1-3 business days after being approved.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3>Basic Requirements</h3>
                        <div id="accordion-1">
                            <div class="card">
                                <div class="card-header" id="heading6">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">What are the basic requirements?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion-1">
                                    <div class="card-body">
                                        For most of our programs, you only need to be in business for a minimum of 3 months, earn at least $5,000 in gross monthly revenue, and have a minimum credit score of 450. Contact a funding expert to discuss your unique situation and find out what options are available to you.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading7">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">Are there any state restrictions?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion-1">
                                    <div class="card-body">
                                        No. We have funding options in all 50 states.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading8">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">Is personal collateral required?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Personal collateral is not a requirement for the majority of our funding programs.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading9">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">Will a past bankruptcy hurt my chances?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion-1">
                                    <div class="card-body">
                                        So long as you are not actively in an open bankruptcy case, a past closed bankruptcy is rarely a problem. We have multiple partners that won’t turn you down for a bankruptcy. Our funders know that a past divorce or a foreclosure during the housing crisis doesn’t have any effect on your ability to run a successful business.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading10">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">Can I pay back the merchant cash advance early?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Yes. Most programs have no early payment penalties of any sort. In fact, some will even offer reduced payment amounts if the advance is paid early.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading11">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">Do I have to accept credit cards or change my processor?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion-1">
                                    <div class="card-body">
                                        No. While we have credit card focused programs, it is never a requirement to accept credit cards. Changing processors is almost never a requirement.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading12">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">Do you take my personal credit score into consideration?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion-1">
                                    <div class="card-body">
                                        While personal credit is a part of the typical underwriting process, other factors such as the strength of your business are very important.  We have a variety of funders including those that work with those who have personal credit challenges.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3>Funding Programs</h3>
                        <div id="accordion-2">
                            <div class="card">
                                <div class="card-header" id="heading13">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">Do you offer start-up business financing?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Our programs require at least 3 months of time in business and at least $5,000 in gross revenues per month. If you are a start-up business that meets these prerequisites, contact one of our funding experts to go over the options available.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading14">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">How long will I have to repay?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Our funders have many different programs and term lengths. The majority of these programs are repaid within 6-12 months.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading15">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">How much funding can I get?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Most funding programs typically range from $5,000 to $500,000. The amount you are approved for will depend on many factors. The funders will look at your business and unique situation. Contact one of our funding experts to see how much funding is available to you.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading16">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">How can I use the working capital?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Most businesses use the working capital to purchase inventory, cover payroll, pay taxes, or expand their business. The truth is, you can use the money for any purposes that will help you grow your business.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3>Fees</h3>
                        <div id="accordion-3">
                            <div class="card">
                                <div class="card-header" id="heading17">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">How is the merchant cash advance paid?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordion-3">
                                    <div class="card-body">
                                        The payment is typically made through a small daily or weekly ACH drawn from your business checking account.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading18">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">What type of rates or fees should I expect?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordion-3">
                                    <div class="card-body">
                                        The rates and fees charged by our funding partners will vary based on multiple factors. Things like past earnings, time in business, and your industry will all play a part. Some are based on a flat fee on the amount funded, some are based on a factor rate. One of our funding experts will walk you through our application process and get you a no-obligation offer(s) within hours.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading19">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">What are the fees associated with One Park Financial's service?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse19" class="collapse" aria-labelledby="heading19" data-parent="#accordion-3">
                                    <div class="card-body">
                                        We receive an origination fee from our lending partners and we charge a professional service fee ONLY once you have been funded.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3>About One Park Financial</h3>
                        <div id="accordion-4">
                            <div class="card">
                                <div class="card-header" id="heading21">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">What makes One Park Financial Different?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse21" class="collapse" aria-labelledby="heading21" data-parent="#accordion-4">
                                    <div class="card-body">
                                        We approach each merchant with a unique and personal touch unlike most other funders or services. The strong relationships we have built over the years with funders across the country ensure you will receive quality offers with great rates and terms. One Park Financial strives to build a long-lasting relationship with each and every merchant we work with. Let us take the leg work out of the process so you can focus on what you do best.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading22">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">How secure is my information?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse22" class="collapse" aria-labelledby="heading22" data-parent="#accordion-4">
                                    <div class="card-body">
                                        We take the safety and security of our merchant’s personal information very seriously. That is why we employ data encryption technology.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:modules/lp-form }}
</main>