<main>
    <section id="contact-us">
        <div class="container">
            <div class="intro" style="display: none">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>¡Ponte en contacto con un agente hoy!</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="description">
                            <p>En One Park Financial, entendemos que solicitar un préstamo bancario puede ser un proceso largo y prolongado para el cual muchas pequeñas y medianas empresas no calificarán. Somos expertos en asociar negocios con los proveedores de fondos adecuados, y desde 2010, hemos estado haciendo una diferencia en las vidas de los dueños de negocios en todo el país.</p>
                            <p>Al trabajar con una gran red de financiadores (más de 20), podemos ofrecer una amplia variedad de opciones flexibles de financiamiento y financiamiento sin todas las molestias, obstáculos y juegos asociados con el financiamiento bancario tradicional.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="image-wrapper">
                            <div class="iframe-wrapper">
                                <img src="/assets/img/contact.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="form">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Contáctanos</h2>
                                <div class="form">
                                    {{ content }}
                                    {{ form:set is="landing-page" }}
                                    {{ form:create }}
                                        {{ if errors }}
                                            <div class="alert alert-danger">
                                                {{ errors }}
                                                    {{ value }}<br>
                                                {{ /errors }}
                                            </div>
                                        {{ /if }}
                                        {{ if success }}
                                            <div class="alert alert-success">
                                                Form was submitted successfully.
                                            </div>
                                        {{ /if }}
                                        <div class="fields">
                                           <input type="text" name="honeypot" class="honeypot"/>
                                           <input type="hidden" name="source" value="{{ current_uri }}"/>
                                           <input type="hidden" name="ip" value="{{ FormStackAddon:ip }}"/>
                                           <input type="hidden" name="utm_campaign" value="{{ get:utm_campaign | sanitize }}"/>
                                           <input type="hidden" name="utm_source" value="{{ get:utm_source | sanitize }}"/>
                                           <input type="hidden" name="aff_sub" value="{{ get:aff_sub | sanitize }}"/>
                                           <input type="hidden" name="aff_sub2" value="{{ get:aff_sub2 | sanitize }}"/>
                                           <input type="hidden" name="utm_medium" value="{{ get:utm_medium | sanitize }}"/>
                                           <input type="hidden" name="utm_term" value="{{ get:utm_term | sanitize }}"/>
                                           <input type="hidden" name="utm_content" value="{{ get:utm_content | sanitize }}"/>
                                           <input type="hidden" name="transaction_id" value="{{ get:transaction_id | sanitize }}"/>
                                           <div class="form-group">
                                               <input type="text" name="name" class="form-control" value="{{ old:name }}" placeholder="Nombre y Apellidos" required autofocus/>
                                           </div>
                                           <div class="form-group">
                                               <input type="text" name="business_name" class="form-control" value="{{ old:business_name }}" placeholder="Nombre del Negocio" required/>
                                           </div>
                                           <div class="form-group">
                                               <select name="monthly_revenue" class="form-control" title="Ganancia Mensual">
                                                   <option value="" disabled selected>Ganancia Mensual</option>
                                                   <option value="1">Menos de $2,500</option>
                                                   <option value="5000">$2,500 - $7,500</option>
                                                   <option value="8000">$7,500 - $ 10,000</option>
                                                   <option value="15000">$10,000 - $25,000</option>
                                                   <option value="35000">$25,000 - $50,000</option>
                                                   <option value="75000">$50,000 - $100,000</option>
                                                   <option value="125000">$100,000 - $750,000</option>
                                                   <option value="1000000">Mas de $750,000</option>
                                                </select>
                                           </div>
                                           <div class="form-group">
                                                <input type="tel" name="phone" id="phone-number" class="form-control phone-format" value="{{ old:phone }}" pattern="(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}" placeholder="Ej. (888) 327-0849" required/>
                                           </div>
                                           <div class="form-group">
                                                <input type="email" name="email" class="form-control" value="{{ old:email }}" placeholder="Correo Electronico" required/>
                                           </div>
                                           <button class="btn btn-primary">Gracias</button>
                                        </div>
                                    {{ /form:create }}
                                    {{ /form:set }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div id="map">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="map">
                            <ul class="locations">
                                <li class="active">
                                    <div>Localización de la oficina (HQ)</div>
                                    <div>3390 Mary Street Suite 216 <span>Coconut Grove, FL 33133</span></div>
                                </li>
                                <li>
                                    <div>Localización de la oficina</div>
                                    <div>1321 Upland Drive #1690 <span>Houston, TX 77043</span></div>
                                </li>
                                <li>
                                    <div>Contáctenos</div>
                                    <div>1-888-273-1405 <span>info@oneparkfinancial.com</span></div>
                                </li>
                            </ul>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3594.2676822836884!2d-80.24224898497972!3d25.728659983651802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b7cefb237851%3A0x4431b2cfdad97c45!2s3390+Mary+St+%23216%2C+Coconut+Grove%2C+FL+33133!5e0!3m2!1sen!2sus!4v1548083441238" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:modules/es/testimonials }}
    {{ partial:modules/es/lp-form }}
</main>