<main>
    <section id="about-us">
        <div class="container">
            <div class="intro">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>What does One Park Financial do?</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="description">
                            <p>One Park Financial believes that your business should have ready access to working capital, just like big corporations do. So, we pair you with funders that focus on working with small and mid-sized businesses and are happy to work with people who may not have a perfect credit score.</p>
                            <p>Many small businesses can’t afford to wait weeks for a bank business loan to be approved. And the long processing time isn’t the only problem. Many banks require a significant amount of documentation as well as an excellent credit score (personal and/or business), and smaller businesses struggle to meet these requirements. In comparison, One Park Financial works to find you the right funder quickly and efficiently, walking you through the entire process and keeping you informed every step of the way -  truly becoming a partner in your success.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="image-wrapper">
                            <div class="iframe-wrapper">
                                <img src="/assets/img/how-it-works.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="brand">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Why One Park Financial</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="items">
                            <li>
                                <div class="left">
                                    <span>Our Vision</span>
                                    <i class="fas fa-lightbulb"></i>
                                </div>
                                <div class="right">
                                    <p>
                                        To make working capital equally accessible to any one chasing their business dreams.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <span>Our Mission</span>
                                    <i class="fas fa-bullseye"></i>
                                </div>
                                <div class="right">
                                    <p>To become a partner in our customers’ success through educating, encouraging and mentoring small businesses, and assisting them in accessing working capital.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <div class="description">
                            <p>One Park Financial’s objective is to help small to mid-size businesses get access to working capital quickly and efficiently. Simply put, we level the playing field when it comes to business funding. We partner with our customers long-term to help them to continually grow their business, and our customer-centric services reflect that goal.</p>
                            <p>Our processes are designed to be efficient, simple, fair and above all FAST. Our team of funding specialists pride themselves on being able to find a solution for your business funding needs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="values">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>We Value Individuals</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="description">
                            <p>Our success is based on our ability to help you grow! Small business owners are a major force in the U.S. economy – they create jobs, spark innovation and grow communities. But unfortunately, small business owners often struggle to access working capital.</p>
                            <p>We’re working to change that, by finding more accessible options for business funding, by helping people explore alternative business funding options – opening possibilities and educating them on the opportunities that are available to them.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ul class="items">
                            <li>
                                <div class="left">
                                    <span>Values</span>
                                    <i class="fas fa-hand-holding-heart"></i>
                                </div>
                                <div class="right">
                                    <ul>
                                        <li>
                                            Accessibility
                                        </li>
                                        <li>
                                            Efficiency
                                        </li>
                                        <li>
                                            Transparency
                                        </li>
                                        <li>
                                            Advocacy
                                        </li>
                                        <li>
                                            Responsibility
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <span>Culture</span>
                                    <i class="fas fa-users"></i>
                                </div>
                                <div class="right">
                                    <ul>
                                        <li>
                                            Results
                                        </li>
                                        <li>
                                            Accountability
                                        </li>
                                        <li>
                                            Clients’ Success
                                        </li>
                                        <li>
                                            Take Risks
                                        </li>
                                        <li>
                                            Fun
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="why">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Why One Park Financial</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="item-wrapper a">
                                        <div class="item">
                                            <span class="number">01</span>
                                            <span class="description">Funding Access Experience</span>
                                        </div>
                                        <div class="item-tooltip">
                                            One Park Financial was founded in 2010. Our leadership team has decades of experience in building and funding highly successful companies. Leverage our knowledge and large network of funding sources to strengthen your company's financial health.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2"></div>
                                <div class="col-lg-5">
                                    <div class="item-wrapper b">
                                        <div class="item">
                                            <span class="number">02</span>
                                            <span class="description">Established Trust</span>
                                        </div>
                                        <div class="item-tooltip">
                                            One Park Financial has facilitated over $125m in funding for 8,000+ clients. We are A+ rated by the Better Business Bureau, and the many excellent online reviews of our company prove that we delight our clients and deliver on our promises.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="item-wrapper c">
                                        <div class="item">
                                            <span class="number">03</span>
                                            <span class="description">Flexible Approval Options</span>
                                        </div>
                                        <div class="item-tooltip">
                                            We believe that a bad credit history shouldn't automatically block you from accessing funding for your business. Securing funding should be based on your ability to pay now.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-5">
                                    <div class="item-wrapper d">
                                        <div class="item">
                                            <span class="number">04</span>
                                            <span class="description">Simple Process Transparent Terms</span>
                                        </div>
                                        <div class="item-tooltip">
                                            We work hard to make it as easy as possible for you to access working capital.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="item-wrapper e">
                                        <div class="item">
                                            <span class="number">05</span>
                                            <span class="description">Accountability</span>
                                        </div>
                                        <div class="item-tooltip">
                                            We work hard to make it as easy as possible for you to access working capital.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:modules/testimonials }}
    {{ partial:modules/lp-form }}
</main>