<main class="restaurant-business-funding">
    <section id="hero" class="restaurant overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="description">
                        <h1>
                            <div class="what-we-do">Get <span><strong>$5,000</strong> to <strong>$500,000</strong></span></div>
                            <div class="why-we-do-it">in Funding Fast</div>
                        </h1>
                        <h4>Your restaurant needs <strong>working capital</strong> <span>and it needs it <strong>fast</strong>.</span></h4>
                        <ul class="xl">
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Hassle-Free Application Process. Get Pre-Qualified in Minutes.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Your own Team of Funding Experts finds the offer that's best for you.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Most businesses get funds deposited in less than 3 business days.</span>
                            </li>
                        </ul>
                        <ul class="xs">
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Get Pre-Qualified in Minutes.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Funding in Under 72 Hours.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Poor Credit Accepted.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5">
                    <div class="lp-form-wrapper">
                        <div id="form" class="lp-form">
                            <div class="phone-header">
                                <span class="label">Speak to a funding expert</span>
                                <span class="number">
                                    <a href="tel:+18883271044" data-ctm-watch-id="3" data-ctm-tracked="1">
                                        <span class="number">1-888-327-1044</span>
                                    </a>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>You could have <strong>funds in <br> 72 hours</strong></h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <article class="content">
                                        {{ form:set is="landing-page" }}
                                        {{ form:create }}
                                        <div class="fields">
                                            <input type="text" name="honeypot" class="honeypot"/>
                                            <div class="form-group">
                                                <input type="text" name="name" class="form-control" value="{{ old:name }}" placeholder="First & Last Name" required/>
                                            </div>
                                            <div class="form-group">
                                                <input type="tel" name="phone" id="phone-number" class="form-control" value="{{ old:phone }}" placeholder="Phone" required/>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-control" value="{{ old:email }}" placeholder="Email" required/>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <input type="text" name="business_name" class="form-control" value="{{ old:business_name }}" placeholder="Business Name" required/>
                                                </div>
                                                <div class="col-md-6">
                                                    <select name="monthly_revenue" class="form-control" title="Monthly Revenue">
                                                        <option value="" disabled selected>Gross Monthly Sales</option>
                                                        <option value="1">Less than $2,500</option>
                                                        <option value="5000">$2,500 - $7,500</option>
                                                        <option value="8000">$7,500 - $ 10,000</option>
                                                        <option value="15000">$10,000 - $25,000</option>
                                                        <option value="35000">$25,000 - $50,000</option>
                                                        <option value="75000">$50,000 - $100,000</option>
                                                        <option value="125000">$100,000 - $500,000</option>
                                                        <option value="1000000">Over $500,000</option>
                                                    </select>
                                                </div>
                                            </div>
                                            {{ if errors }}
                                            <div id="error-alert" class="alert error alert-danger">
                                                {{ errors }}
                                                {{ value }}<br>
                                                {{ /errors }}
                                                <div class="btn close" onclick="document.getElementById('error-alert').classList.toggle('hidden');">Ok</div>
                                            </div>
                                            {{ /if }}
                                            {{ if {form:success} }}
                                            {{ form_submission }}
                                            {{ /if }}
                                        </div>
                                        <button class="btn btn-primary">Get Funded Now</button>
                                        {{ /form:create }}
                                        {{ /form:set }}
                                        <ul>
                                            <li>
                                                <a href="/terms-of-use" target="_blank">By clicking "Get Funded Now" I agree to all <span>terms and conditions</span></a>
                                            </li>
                                            <li>
                                                <div class="bbb-accredited">
                                                    <img src="/assets/img/bbb_accredited.svg">
                                                </div>
                                            </li>
                                        </ul>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1"></div>
            </div>
        </div>
    </section>
    {{ partial:services }}
    {{ partial:call-to-action-1 }}
    {{ partial:testimonials }}
    {{ partial:call-to-action-2 }}
    {{ partial:about-us }}
    {{ partial:call-to-action-3 }}
    {{ partial:products }}
    {{ partial:lp-form }}
</main>
<script>
    document.getElementById('phone-number').addEventListener('blur', function (e) {
        var x = e.target.value.replace(/\D/g, '').match(/(\d{3})(\d{3})(\d{4})/);
        e.target.value = '(' + x[1] + ') ' + x[2] + '-' + x[3];
    });
</script>