<div class="circles">
    <div class="circle circle1">
        <div class="item">
            <div class="number">01</div>
            <i class="fas fa-clock"></i>
            <div class="title">SOLICITUD EN LÍNEA</div>
            <div class="description">Usted llena un formulario sencillo, y en menos de cinco minutos de su tiempo se inicia el proceso de financiación</div>
        </div>
    </div>
    <div class="circle circle2">
        <div class="item">
            <div class="number">02</div>
            <i class="fas fa-user-tie"></i>
            <div class="title">OBTENGA SU PRE-CALIFICACIÓN</div>
            <div class="description">Averigüe ahora mismo si califica para la financiación. Después de la precalificación, le ayudaremos a obtener las fuentes de financiamiento adecuadas para sus necesidades.</div>
        </div>
    </div>
    <div class="circle circle3">
        <div class="item">
            <div class="number">03</div>
            <i class="fas fa-file-signature"></i>
            <div class="title">REVISE SUS OFERTAS</div>
            <div class="description">Nuestro equipo de financiación revisa su solicitud y trabaja con usted para vincular su empresa con los financiadores adecuados.</div>
        </div>
    </div>
    <div class="circle circle4">
        <div class="item">
            <div class="number">04</div>
            <i class="fas fa-check-circle"></i>
            <div class="title">OBTENGA FINANCIACION</div>
            <div class="description">Cuando usted acepta una oferta de financiación, el dinero es depositado en su cuenta dentro de los primeros tres días hábiles</div>
        </div>
    </div>
    <p>Con One Park Financial usted no tiene que luchar para obtener el capital circulante que necesita. Nuestro proceso simplificado está diseñado para que las pequeñas y medianas empresas puedan acceder fácilmente a la financiación empresarial. ¡Póngase en contacto con nosotros hoy mismo para comenzar el proceso!
        <br>
        <a href="/es/contactenos/">Contáctenos</a> hoy para empezar.</a>
    </p>
</div>