<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Opciones de financiación para <span>pequeñas y medianas empresas</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="tabs">
                <div class="col-lg-8 tab-descriptions">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                            <p>
                                ¿Necesita financiación para hacer crecer su negocio al siguiente nivel, o para cumplir con obligaciones críticas, pero quizá no desee esperar a que se apruebe un préstamo bancario empresarial o, al igual que muchas empresas pequeñas o medianas es posible que no califique fácilmente para las ofertas de préstamos comerciales tradicionales?  No se preocupe, estamos aquí para ayudarle.
                            </p>
                            <p>
                                One Park Financial cree que su empresa debería tener acceso inmediato a capital circulante, al igual que las grandes corporaciones. Por lo tanto, lo emparejamos con proveedores de fondos que se enfocan en trabajar con pequeñas y medianas empresas, y estamos felices de trabajar con personas que pueden no tener una calificación crediticia perfecta.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                            <p>
                                Contáctenos ahora para una evaluación de pre-calificación. Trabajaremos con usted para ayudarlo a encontrar la financiación que su empresa necesita, incluso si no califica para un préstamo bancario tradicional. Necesitaremos que comparta algunos documentos que confirmen su identidad y los detalles de su empresa. Necesita ser un ciudadano estadounidense, residente de cualquiera de los cincuenta estados de la nación o de Puerto Rico, que posea una empresa con sede en los Estados Unidos, y debe haber estado en el negocio por tres meses o más, con ingresos mensuales de al menos  $5,000.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
                            <p>
                                El éxito de su empresa es lo que determina la cantidad de capital circulante a la que podemos ayudarlo a acceder. No es necesario comprometer sus activos personales o comerciales para asegurar el financiamiento. En su lugar, revisaremos su información comercial básica y lo ayudaremos a conectarse con las fuentes de financiación que mejor se adapten a sus necesidades.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
                            <p>
                                Podemos ayudarlo a conectarse con fuentes de financiación que trabajan con propietarios de pequeñas empresas que tienen puntajes de crédito más bajos que los ideales. Comience ahora mismo con una evaluación de precalificación y permítanos ayudarlo a acceder al capital circulante que necesita. Es un proceso rápido, fácil e indoloro. Para comenzar, simplemente haga clic en el botón "Obtener Financiación Ahora".
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 tab-headings">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1"
                               role="tab" aria-controls="nav-1" aria-selected="true">
                                <i class="far fa-clock"></i>
                                <span>APROBACION EN POCAS HORAS</span>
                            </a>
                            <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab"
                               aria-controls="nav-2" aria-selected="false">
                                <i class="fas fa-file-signature"></i>
                                <span>DOCUMENTACION MINIMA</span>
                            </a>
                            <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab"
                               aria-controls="nav-3" aria-selected="false">
                                <i class="far fa-edit"></i>
                                <span>COLATERAL NO REQUERIDO</span>
                            </a>
                            <a class="nav-item nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab"
                               aria-controls="nav-4" aria-selected="false">
                                <i class="fas fa-check-circle"></i>
                                <span>
                                MAL CRÉDITO - ¡NO HAY PROBLEMA!
                            </span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-wrapper classic">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-right hidden" width="auto">
                                <span>LA VENTAJA DE ONE PARK</span>
                            </th>
                            <th class="text-center" width="150">
                                <a href="javascript:void(0)" class="branding logo">One Park Financial</a>
                            </th>
                            <th class="text-center" width="150">
                                PRESTAMISTAS ALTERNATIVOS
                            </th>
                            <th class="text-center" width="150">
                                MAYORÍA DE BANCOS
                            </th>
                            <th class="text-center" width="150">
                                TARJETAS DE CREDITO
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td class="text-right">Decisiones de calificación en menos de 24 horas.</td>
                            <td class="text-center"><i class="far fa-check-circle"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td class="text-right">Documentación Mínima.</td>
                            <td class="text-center"><i class="far fa-check-circle"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr class="odd">
                            <td class="text-right">Financiación en tan poco como 72 horas.</td>
                            <td class="text-center"><i class="far fa-check-circle"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="text-right">Aceptamos Gravámenes Bancarios y Fiscales.</td>
                            <td class="text-center"><i class="far fa-check-circle"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                        <tr>
                        <tr class="odd">
                            <td class="text-right">Proceso En Línea Totalmente Automatizado.</td>
                            <td class="text-center"><i class="far fa-check-circle"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="text-right">Valores de Flujo de Caja, No Solo Puntaje Crediticio.</td>
                            <td class="text-center"><i class="far fa-check-circle"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr class="odd">
                            <td class="text-right">Tasas de Interés Competitivas.</td>
                            <td class="text-center"><i class="far fa-check-circle"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>¿Ha Sido Rechazado Por Los Bancos u Otros? Trabajaremos Con Usted.</h4>
                <a href="/pre-qualification" class="btn btn-primary">Comience Ahora Mismo</a>
            </div>
        </div>
    </div>
</section>