<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5"></div>
            <div class="col-sm-12 col-lg-7">
                <div class="hero-content">
                    <a href="/" class="branding logo">One Park Financial</a>
                    <h1>¿Necesita Financiación Rápida?</h1>
                    <h2>Obtenga $5,000 a $750,000</h2>
                    <h3>
                        <span>SU EMPRESA NECESITA CAPITAL CIRCULANTE</span>
                        <span>Y LO NECESITA RÁPIDO</span>
                    </h3>
                    <ul class="xs">
                        <li>
                            <span>Colateral No Requerido</span>
                        </li>
                        <li>
                            <span>Fondos en Menos de 3 Días</span>
                        </li>
                        <li>
                            <span>Crédito Malo Aceptado</span>
                        </li>
                    </ul>
                    <a class="btn btn-primary" href="/es/preaprob">
                        <span>Obtenga fondos ahora</span>
                    </a>
                    <div class="phone">
                        <div class="text">¡Hable con un experto en financiación!</div>
                        <a href="tel:+18885183475">
                            <span class="number">1-888-518-3475</span>
                        </a>
                    </div>
                    <ul class="badgets">
                        <li>
                            <img src="/assets/img/google-rating.png">
                        </li>
                        <li>
                            <img src="/assets/img/comodo.png">
                        </li>
                        <li>
                            <img src="/assets/img/bbbb.png">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>