<section id="highlights">
    <div class="container">
        <div class="row">
            <ul class="highlights">
                <li>
                    <i class="far fa-clock"></i>
                    <div>PRECALIFICADO</div>
                    <div>EN POCOS MINUTOS</div>
                </li>
                <li>
                    <i class="fas fa-dollar-sign"></i>
                    <div>CONSIGA ENTRE 5K-500K</div>
                    <div>EN FINANCIACIÓN EMPRESARIAL</div>
                </li>
                <li>
                    <i class="far fa-check-circle"></i>
                    <div>Financiado</div>
                    <div>EN TAN POCO COMO 3 DÍAS</div>
                </li>
            </ul>
        </div>
    </div>
</section>