<section id="highlights">
    <div class="container">
        <div class="row">
            <ul class="highlights">
                <li>
                    <i class="far fa-check-circle"></i>
                    <div>Tiene Mal crédito?</div>
                    <div>¡No hay problema!</div>
                </li>
                <li>
                    <i class="far fa-clock"></i>
                    <div>Sea Precalificado</div>
                    <div>EN TAN SOLO MINUTOS</div>
                </li>
                <li>
                    <i class="fas fa-dollar-sign"></i>
                    <div>Dinero en su cuenta</div>
                    <div>en Menos de 3 días</div>
                </li>
            </ul>
        </div>
    </div>
</section>
