<section id="highlights">
    <div class="container">
        <div class="row">
            <ul class="highlights">
                <li>
                    <i class="far fa-star"></i>
                    <div>Pre-Cualificacion</div>
                    <div>En Minutos</div>
                </li>
                <li>
                    <i class="fas fa-dollar-sign"></i>
                    <div>Obtenga de 5K-500K</div>
                    <div>En Financiación</div>
                </li>
                <li>
                    <i class="far fa-check-circle"></i>
                    <div>Obtenga Fondos</div>
                    <div>en solo 3 dias</div>
                </li>
            </ul>
        </div>
    </div>
</section>