<section id="partners">
    <div class="container">
        <div class="row">
            <h2>Our Partners</h2>
            <ul class="partners">
                <li>
                    <img src="/assets/img/1-Mckenzie%20Capital.png">
                </li>
                <li>
                    <img src="/assets/img/2-National%20Funding.png">
                </li>
                <li>
                    <img src="/assets/img/3-OnDeck.png">
                </li>
                <li>
                    <img src="/assets/img/4-Rapid%20Advance.png">
                </li>
                <li>
                    <img src="/assets/img/5-Bluevine.png">
                </li>
                <li>
                    <img src="/assets/img/6-Fora.png">
                </li>
                <li>
                    <img src="/assets/img/7-Kapitus.png">
                </li>
                <li>
                    <img src="/assets/img/8-Can%20Capital.png">
                </li>
                <li>
                    <img src="/assets/img/9-Quick%20Bridge%20Funding.png">
                </li>
            </ul>
        </div>
    </div>
</section>