<section id="products" class="bullets">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Opciones de Financiación <span>para su empresa pequeña o mediana</span></h2>
                <p>¿Necesita usted financiación para llevar su empresa al próximo nivel de crecimiento o para cumplir con obligaciones críticas, pero no desea esperar la aprobación de un préstamo bancario empresarial? Quizá como muchas empresas pequeñas o medianas es posible que no califique fácilmente para las ofertas de préstamos comerciales tradicionales. Si este es su caso, no hay por qué preocuparse. iEstamos aquí para ayudarle!</p>
                <p>En One Park Financial creemos que su empresa debería tener acceso inmediato a capital circulante igual que las grandes corporaciones. Por lo tanto, lo emparejamos con financiadores que se enfocan en trabajar con pequeñas y medianas empresas, y quienes felizmente trabajan con personas cuya calificación crediticia quizá no sea la más perfecta.</p>
                <h4>Estas son algunas de las opciones de financiación que le podemos ayudar a conseguir:</h4>
                <ul class="products-wrapper">
                    <li class="product">
                        <i class="far fa-gem"></i>
                        <div class="description">
                            <h4>INGRESOS RÁPIDOS<br>FINANCIACIÓN EMPRESARIAL</h4>
                            <p>Esta clase de producto de capital circulante se denomina Adelanto de efectivo para comerciantes o MCA (Merchant Cash Advance, por sus siglas en inglés). Este es un tipo de transacción basada en factores donde recibirá el capital circulante que necesita RÁPIDAMENTE, y su pago se calculará sobre la base del valor del factor de los términos de su transacción.</p>
                            <ul class="items">
                                <li>Financiación de $5,000 - $500,000</li>
                                <li>No se requiere garantía.</li>
                                <li>Se aceptan puntuaciones de crédito deficientes.</li>
                                <li>Calificación en Minutos.</li>
                                <li>Pocos requisitos de documentación.</li>
                                <li>Disponibilidad de fondos en tan solo 3 días.</li>
                                <li>Pagos asequibles.</li>
                            </ul>
                            <a href="#lp-form" class="btn">Solicite Ahora</a>
                        </div>
                    </li>
                    <li class="product">
                        <i class="far fa-gem"></i>
                        <div class="description">
                            <h4>INGRESOS PREMIUM<br>FINANCIACIÓN EMPRESARIAL</h4>
                            <p>Esta clase de producto de capital circulante actúa en el mismo formato que un MCA, por sus siglas en inglés. Sin embargo, lo es con otro grupo de financiadores de tipo Premium. Esta será una transacción basada por factores y usted recibirá el capital circulante que necesita RÁPIDAMENTE. El pago se calculará en base al valor del factor de los términos de su transacción.</p>
                            <ul class="items">
                                <li>Financiación de $5,000 - $500,000</li>
                                <li>No se requiere garantía.</li>
                                <li>Se aceptan puntuaciones de crédito deficientes.</li>
                                <li>Calificación en Minutos.</li>
                                <li>Pocos requisitos de documentación.</li>
                                <li>Disponibilidad de fondos en tan solo 3 días.</li>
                                <li>Pagos asequibles.</li>
                            </ul>
                            <a href="#lp-form" class="btn">Solicite Ahora</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>