<section id="products" class="bullets">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Las opciones de financiación a las que podemos ayudarlo a acceder incluyen:</h2>
                <ul class="products-wrapper">
                    <li class="product">
                        <i class="far fa-gem"></i>
                        <div class="description">
                            <h4>INGRESOS RÁPIDOS <br> FINANCIACIÓN CON ENFOQUE EMPRESARIAL</h4>
                            <p>Este tipo de producto de capital circulante se conoce como Merchant Cash Advance o MCA por sus siglas en inglés. Este es un tipo de transacción basada en factores en el que recibirá el capital circulante que necesita de manera RÁPIDA, y su pago se calculará en función del valor factorial de los términos de su transacción</p>
                            <ul class="items">
                                <li>Financiación desde $5,000 - $750,000</li>
                                <li>Colateral No Requerido.</li>
                                <li>Aceptamos Mal Puntaje Crediticio.</li>
                                <li>Calificación en Pocos Minutos.</li>
                                <li>Pocos Requisitos Documentales.</li>
                                <li>Fondos en Cuenta En Tan Solo 3 Días.</li>
                                <li>Pagos Asequibles.</li>
                            </ul>
                            <a href="#lp-form" class="btn">Aplique Ya</a>
                        </div>
                    </li>
                    <li class="product">
                        <i class="far fa-gem"></i>
                        <div class="description">
                            <h4>INGRESOS PREMIUM <br> FINANCIACIÓN CON ENFOQUE EMPRESARIAL</h4>
                            <p>Este tipo de producto de capital actúa en el mismo formato que un MCA. Sin embargo, el mismo se lleva acabo con otro subconjunto de financiadores de tipo Premium. La transacción es basada en factores, y usted recibirá RÁPIDAMENTE el capital que necesita. El reembolso se calculará en función del valor factorial de los términos de su transacción.</p>
                            <ul class="items">
                                <li>Financiación desde $5,000 - $750,000</li>
                                <li>Colateral No Requerido.</li>
                                <li>Aceptamos Mal Puntaje Crediticio.</li>
                                <li>Calificación en Pocos Minutos.</li>
                                <li>Puede Tener Más Requisitos Documentales.</li>
                                <li>Fondos en Cuenta En Tan Solo 3 Días.</li>
                                <li>Pagos Asequibles.</li>
                            </ul>
                            <a href="#lp-form" class="btn">Aplique Ya</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>