<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Sea Calificado en Pocos Minutos <span>y Obtenga Financiación en Pocos Días.</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>
                        <div>
                            <span>01</span>
                            <i class="fas fa-shield-alt"></i>
                            <div>PRECALIFICACIÓN</div>
                            <div>RÁPIDA</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span>02</span>
                            <i class="fas fa-user-tie"></i>
                            <div>DIALOGUE CON NUESTROS</div>
                            <div>EXPERTOS</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span>03</span>
                            <i class="fas fa-file-signature"></i>
                            <div>REVISE SUS</div>
                            <div>OFERTAS</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span>04</span>
                            <i class="far fa-check-circle"></i>
                            <div>OBTENGA</div>
                            <div>FINANCIACIÓN</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>UNA SIMPLE SOLICITUD: MÁS DE 20 FINANCIADORES A SU DISPOSICIÓN</h4>
                <a href="/es/preaprob" class="btn btn-primary">Solicite Hoy</a>
            </div>
        </div>
    </div>
</section>