<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>La aplicacion es Rapida y Simple.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>
                        <div>
                            <span>01</span>
                            <i class="fas fa-shield-alt"></i>
                            <div>Sea Pre-Cualificado</div>
                            <div>Rapido</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span>02</span>
                            <i class="fas fa-user-tie"></i>
                            <div>Hable Con Nuestros</div>
                            <div>Expertos</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span>03</span>
                            <i class="fas fa-file-signature"></i>
                            <div>Revise sus</div>
                            <div>Ofertas</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span>04</span>
                            <i class="far fa-check-circle"></i>
                            <div>Obtenga</div>
                            <div>Fondos</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>Listo para llevar su negocio al proximo nivel?</h4>
                <a href="/pre-qualification" class="btn btn-primary">Aplique Ahora</a>
            </div>
        </div>
    </div>
</section>