<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>¿Cómo Funciona One Park Financial?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>
                        <div>
                            <span>01</span>
                            <i class="fas fa-clock"></i>
                            <div>APLIQUE EN LINEA</div>
                            <div>SIN COMPROMISO</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span>02</span>
                            <i class="fas fa-user-tie"></i>
                            <div>HABLE CON SU</div>
                            <div>EXPERTO</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span>03</span>
                            <i class="fas fa-file-signature"></i>
                            <div>ELIJA LA MEJOR</div>
                            <div>OFERTA</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span>04</span>
                            <i class="fas fa-check-circle"></i>
                            <div>OBTENGA</div>
                            <div>SUS FONDOS</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>OBTENGA ACCESO A MAS DE 20 FINANCISTAS CON UNA SIMPLE APLICACION</h4>
                <a href="/es/preaprob" class="btn btn-primary">Aplique Ya</a>
            </div>
        </div>
    </div>
</section>
