<main>
    {{ FormStackAddon:gracias }}
    {{ if !status }}
    {{ redirect to="{ url }" }}
    {{ /if }}
    <section id="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form">
                        <div id="prequalifed-content">
                            <img src="/assets/img/checkmark.png">
                            <h1>Gracias</h1>
                            <p>Su aplicación fue enviada exitosamente. En breve recibirá un documento de Docusign en su correo electrónico para completar su solicitud. En ese correo, tambien encontrará el vínculo para cargar sus estados de cuenta bancarios, , su licencia de conducir y su cheque cancelado</p>
                        </div>
                        <hr>
                        <a href="/" class="btn btn-primary">Cerrar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ /FormStackAddon:gracias }}
</main>