<main>
    {{ FormStackAddon:feliz }}
    {{ if ! status }}
    {{ redirect to="{ url }" }}
    {{ /if }}
    <section id="form">
        <div class="container">
            <div class="row">
                <div class="form">
                    <div id="prequalifed-content">
                        <h1>¡Usted ha sido precalificado!</h1>
                        <img src="/assets/img/checkmark.png">
                        <div>
                            <p>{{ first_name }}, usted ha sido pre-aprobado para un monto de hasta</p>
                        </div>
                        <div>
                            <p class="amount">
                                <span>${{ qualified }}</span>
                            </p>
                        </div>
                        <div>
                            <p>en capital para {{ business.name }}</p>
                        </div>
                        <br>
                        <p>Uno de nuestros asesores financieros estará en contacto con usted en breve para completar esta aplicación. </p>
                        <p>También puede hacerlo llamando al 888-535-6880</p>
                    </div>
                    <script type="text/javascript" src="https://oneparkfinancial.formstack.com/forms/js.php/{{ form }}?{{ rest_request }}"></script>
                    <noscript>
                        <a href="https://oneparkfinancial.formstack.com/forms/{{ form }}" title="Online Form"></a>
                    </noscript>
                </div>
            </div>
        </div>
    </section>
    {{ /FormStackAddon:feliz }}
</main>