<main>
    <section id="article">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="intro">
                        <ul class="breadcrumbs">
                            {{ nav:breadcrumbs }}
                            <li{{ if is_current }} class="current"{{ /if }}>
                            <a href="{{ url }}">{{ title }}</a>
                            </li>
                            {{ /nav:breadcrumbs }}
                        </ul>
                        <h1>{{ title }}</h1>
                        <div class="meta">
                            <div class="date">
                                <div class="day">
                                    {{ date format="j" }}
                                </div>
                                <div class="month-year">
                                    {{ date format="F Y" }}
                                </div>
                            </div>
                            <ul class="social-media">
                                <li>
                                    <a href="//www.facebook.com/oneparkfinancial" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="//twitter.com/1ParkFinancial" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="//www.linkedin.com/company/9205817?trk=tyah&trkInfo=tarId%3A1418469295382%2Ctas%3Aone%20park%20finan%2Cidx%3A1-1-1" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <article class="content">
                        {{ content }}
                        <ul class="tags">
                            {{ tags }}
                            <li><a href="{{ url }}">{{ title }}</a></li>
                            {{ /tags }}
                        </ul>
                    </article>
                </div>
                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="widget get-funded">
                            <h4>Get Funded</h4>
                            <div class="description">
                                <h5>Ready to take your business to the next level?</h5>
                                <a href="/pre-qualification" class="btn">Apply Now</a>
                            </div>
                        </div>
                        <div class="popular-articles">
                            {{ partial:blog/popular-articles }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="related-articles">
                        {{ partial:blog/related-articles }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>