<main>
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="description">
                        <h1>
                            <div class="what-we-do">Get Hassle-Free</div>
                            <div class="why-we-do-it">Funding Fast</div>
                        </h1>
                        <h4>We Help Businesses grow with <strong>easy</strong>, <span>hassle-free funding options.</span> </h4>
                        <ul class="xl">
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>No collateral or business plan required.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Simply choose the offer that’s best for you.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Most businesses get working capital deposited in just days.</span>
                            </li>
                        </ul>
                        <ul class="xs">
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>No Collateral Required.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Funding in Under 72 Hours.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Poor Credit Accepted.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="button-wrapper">
                        <a class="btn btn-primary" href="/pre-qualification">
                            <span>Get Funded Now</span>
                        </a>
                        <div class="phone">
                            <div class="text">Speak to a funding expert</div>
                            <a href="tel:+18883271044" data-ctm-watch-id="3" data-ctm-tracked="1">
                                <span class="number">1-888-327-1044</span>
                            </a>
                        </div>
                        <div class="slogan">The standard in excellence!</div>
                        <div class="badges">
                            <img src="/assets/img/BBB.png">
                            <img src="/assets/img/google-rating-4.5.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:modules/lp-form }}
</main>