<main>
    <section id="careers">
        <div class="container">
            <div class="intro">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Join Our Team</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="image-wrapper">
                            <div class="iframe-wrapper" style="text-align: center">
                                <img src="/assets/img/careers.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="careers">
            <div class="container">
                <h2>One Park Financial believes in helping business thrive!</h2>
                <h3>We want you to be part of that team!</h3>
                <h4>Current Openings For</h4>
                {{ collection:careers paginate="true" as="posts" limit="6" locale="only {locale}" status:is="1"}}
                    <ul>
                        {{ posts scope="tag" }}
                        {{ partial:careers/block }}
                        {{ /posts }}
                    </ul>
                {{ partial:modules/pagination }}
                {{ /collection:careers }}
            </div>
        </div>
    </section>
</main>