<rss version="2.0">
    <channel>
        {{ get_content from="/press" }}
        <title>{{ title | cdata }}</title>
        <link>
        {{ site_url }}</link>
        <description>{{ content | cdata }}</description>
        {{ /get_content }}
        <lastBuildDate>{{ collection:press limit="1" }}{{ date format="r" }}{{ /collection:press }}</lastBuildDate>
        <language>en-us</language>
        <copyright>Copyright {{ current_date format='Y' }}</copyright>
        <ttl>3600</ttl>
        {{ collection:press }}
        <item>
            <title>{{ title | cdata }}</title>
            <link>
            {{ permalink }}</link>
            <guid>{{ permalink }}</guid>
            <pubDate>{{ date format="r" }}</pubDate>
            <description>{{ content | full_urls | cdata }}</description>
        </item>
        {{ /collection:press }}
    </channel>
</rss>