<main>
    {{ FormStackAddon:preaprob }}
    {{ if !status }}
    {{ redirect to="{ url }" }}
    {{ /if }}
    <section id="hero">
        <div class="container">
            <div class="description">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </section>
    <section id="form">
        <div class="container">
            <div class="row">
                <div class="form">
                    <script type="text/javascript" src="https://oneparkfinancial.formstack.com/forms/js.php/{{ form }}"></script>
                    <noscript>
                        <a href="https://oneparkfinancial.formstack.com/forms/{{ form }}"></a>
                    </noscript>
                    <div class="legal-notice">
                        <p>Al hacer clic en "Obtener aprobación ahora", usted acepta explícitamente recibir llamadas telefónicas y mensajes de texto (pueden aplicarse tarifas de mensajes y datos) de OPF al número que proporcionó anteriormente. Se pueden efectuar las llamadas por medio de un sistema de marcado automático, que podría contener mensajes pregrabados. El consentimiento no es una condición requerida de compra. Puede retirarse en cualquier momento.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ /FormStackAddon:preaprob }}
</main>