<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5">
                <a href="/" class="logo"><img src="/assets/img/one-park-logo-drk.png"></a>
                <div class="copyright">&copy;{{ now format="Y" }} {{ site_name }}. All rights reserved.</div>
                <div class="notice">Funding offerings have a term of at least 60 days.</div>
                <ul class="locations">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>3390 Mary Street, Suite 305,<br>Coconut Grove, FL 33133</span>
                    </li>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>1321 Upland Drive #1690,<br>Houston, TX 77043</span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="row">
                    <h3>Overview</h3>
                </div>
                <ul class="links">
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/terms-of-use">Terms Of Use</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <ul class="social-media">
                    <li>
                        <a href="//twitter.com/1ParkFinancial" target="_blank">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="//www.facebook.com/oneparkfinancial" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="//www.linkedin.com/company/9205817?trk=tyah&trkInfo=tarId%3A1418469295382%2Ctas%3Aone%20park%20finan%2Cidx%3A1-1-1" target="_blank">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    </li>
                </ul>
                <div class="question">Questions? Speak to a funding expert today</div>
                <div class="phone">
                    <a href="tel:+18883271044" data-ctm-watch-id="3" data-ctm-tracked="1">
                        <span class="number">1-888-327-1044</span>
                    </a>
                </div>
                <img class="badget" src="/assets/img/badget-2017.png">
            </div>
        </div>
    </div>
</footer>