<section id="lp-form">
    <div class="container">
        <div id="form" class="lp-form">
            <div class="row">
                <div class="col-md-12">
                    <h2>Hassle-free funding starts today!</h2>
                    <p>The bottom line is this: We believe that small and mid-sized businesses are critical to the well-being of their communities and the financial strength of our nation. We look forward to talking to you about your business, and helping you acquire the working capital it needs to succeed.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <article class="content">
                        {{ form:set is="landing-page" }}
                        {{ form:create }}
                        <input type="text" name="honeypot" class="honeypot"/>
                        <ul class="fields">
                            <li>
                                <input type="text" name="name" class="form-control" value="{{ old:name }}"
                                       placeholder="First & Last Name" required/>
                            </li>
                            <li>
                                <input type="tel" name="phone" id="phone-number" class="form-control" value="{{ old:phone }}"
                                       placeholder="Phone" required/>
                            </li>
                            <li>
                                <input type="email" name="email" class="form-control" value="{{ old:email }}"
                                       placeholder="Email" required/>
                            </li>
                            <li>
                                <input type="text" name="business_name" class="form-control" value="{{ old:business_name }}"
                                       placeholder="Business Name" required/>
                            </li>
                            <li>
                                <select name="monthly_revenue" class="form-control" title="Monthly Revenue">
                                    <option value="" disabled selected>Gross Monthly Sales</option>
                                    <option value="1">Less than $2,500</option>
                                    <option value="5000">$2,500 - $7,500</option>
                                    <option value="8000">$7,500 - $ 10,000</option>
                                    <option value="15000">$10,000 - $25,000</option>
                                    <option value="35000">$25,000 - $50,000</option>
                                    <option value="75000">$50,000 - $100,000</option>
                                    <option value="125000">$100,000 - $500,000</option>
                                    <option value="1000000">Over $500,000</option>
                                </select>
                            </li>
                        </ul>
                        {{ if errors }}
                        <div id="error-alert">
                            {{ errors }}
                            {{ value }}<br>
                            {{ /errors }}
                        </div>
                        {{ /if }}
                        {{ if {form:success} }}
                        {{ form_submission }}
                        {{ /if }}
                        <button class="btn btn-third">Apply Now</button>
                        {{ /form:create }}
                        {{ /form:set }}
                        <ul class="disclaimer">
                            <li>
                                <a href="/terms-of-use" target="_blank" class="terms-of-use">Your privacy is important to us. By clicking “Apply Now”, you expressly consent to receive phone calls and text messages – Msg and data rates may apply – from One Park Financial at the number you provided above. Calls may be generated using an autodialer and may contain pre-recorded messages. Consent is not a required condition of purchase. Opt out at any time.</a>
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>