<header>
    <nav id="menu" class="container" role="navigation">
        <ul class="languages">
            <li class="en active"><a href="{{ current_url }}"><span>English</span></a></li>
            <li class="es"><a href="/es/{{ es_url }}"><span>Español</span></a></li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div id="nav-menu" class="right collapse navbar-collapse">
            <ul>
                <li class="funding-options">
                    <a href="#products">
                        Funding Options
                    </a>
                </li>
                <li class="about-us">
                    <a href="/#about-us">
                        About Us
                    </a>
                </li>
                <li class="press">
                    <a href="/press">
                        Press
                    </a>
                </li>
                <li class="faqs">
                    <a href="/faq">
                        FAQs
                    </a>
                </li>
                <li class="contact-us">
                    <a href="/pre-qualification" class="btn btn-primary">
                        Apply now
                    </a>
                </li>
                {{ if logged_in }}
                    <li>
                        <a href="{{ user:logout_url }}">Log out</a>
                    </li>
                {{ /if }}
            </ul>
        </div>
    </nav>
    <nav id="branding" class="container" role="navigation">
        <ul class="branding">
            <li class="logo">
                <a href="/" class="logo" title="{{ site_name }} home">
                    {{site_name}}
                </a>
            </li>
            <li class="phone">
                <a href="tel:+18883271044" data-ctm-watch-id="3" data-ctm-tracked="1">
                    <span class="text">Questions? Speak to a funding expert today</span>
                    <span class="number">1-888-327-1044</span>
                </a>
            </li>
            <li class="join-now">
                <a href="tel:+18883271044" data-ctm-watch-id="3" data-ctm-tracked="1">
                    <span class="text">Get Funded</span>
                    <span class="number">1-888-327-1044</span>
                </a>
            </li>
        </ul>
    </nav>
</header>