<section id="products" class="bullets">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Funding options for your small-medium size business</h2>
                <p>You need funding to grow your business to the next level, or to meet critical obligations. But you may not want to wait for a bank business loan to be approved, or – like many small or mid-sized businesses, you may not easily qualify for traditional business loan offerings. Don’t worry, we’re here to help.</p>
                <p>One Park Financial believes that your business should have ready access to working capital, just like big corporations do. So, we pair you with funders that focus on working with small and mid-sized businesses, and are happy to work with people who may not have a perfect credit score.</p>
                <h4>Funding options that we can help you access include:</h4>
                <ul class="products-wrapper">
                    <li class="product">
                        <i class="fa fa-diamond"></i>
                        <div class="description">
                            <h4>FAST REVENUE <br> BASED BUSINESS FUNDING</h4>
                            <p>This working capital product type is referred to as a Merchant Cash Advance or MCA for short. This is a factor-based type of transaction where you will receive the working capital you need FAST, and your repayment will be calculated based upon the factor value of the terms of your transaction.</p>
                            <ul class="items">
                                <li>Funding from $5,000 - $500,000</li>
                                <li>No Collateral is Required.</li>
                                <li>Poor Credit Scores Accepted.</li>
                                <li>Qualification in Minutes.</li>
                                <li>Low Document Requirements.</li>
                                <li>Funds in Account in as little as 3 Days.</li>
                                <li>Affordable Payments.</li>
                            </ul>
                            <a href="#lp-form" class="btn">Apply Now</a>
                        </div>
                    </li>
                    <li class="product">
                        <i class="fa fa-diamond"></i>
                        <div class="description">
                            <h4>PREMIUM REVENUE <br> BASED BUSINESS FUNDING</h4>
                            <p>This working capital product type acts in the same format as an MCA. However, it is with another subset of Premium type funders. This will be a factor-based transaction and you will receive the working capital you nee FAST. Repayment will be calculated based upon the factor value of the terms of your transaction.</p>
                            <ul class="items">
                                <li>Funding from $5,000 - $500,000</li>
                                <li>No Collateral is Required.</li>
                                <li>Less than Poor Credit Scores Accepted.</li>
                                <li>Qualification in Minutes.</li>
                                <li>May Have More Document Requirements.</li>
                                <li>Funds in Account in as little as 3 Days.</li>
                                <li>Affordable Payments.</li>
                            </ul>
                            <a href="#lp-form" class="btn">Apply Now</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>