<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Funding options for your small-medium size business</h2>
                <p>You need funding to grow your business to the next level, or to meet critical obligations. But you may not want to wait for a bank business loan to be approved, or – like many small or mid-sized businesses, you may not easily qualify for traditional business loan offerings. Don’t worry, we’re here to help.</p>
                <p>One Park Financial believes that your business should have ready access to working capital, just like big corporations do. So, we pair you with funders that focus on working with small and mid-sized businesses, and are happy to work with people who may not have a perfect credit score.</p>
                <h4>Funding options that we can help you access include:</h4>
                <ul class="products-wrapper">
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/mancomp.jpg">
                        </div>
                        <div class="description">
                            <h4>Merchant Cash Advances (MCAs)</h4>
                            <p>Get the money that you need now to grow your business or meet your obligations, fast, even if you don’t have a good credit score. The entire qualification process is simple and streamlined, and is based on your business’ revenue, not your past credit history. We’ll help you every step of the way, and after you qualify you could have funds in your account within 72 hours. Why wait? Contact one of our funding experts to see what option is right for you.</p>
                            <a href="#lp-form" class="btn">Apply Now</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/manchill100.jpg">
                        </div>
                        <div class="description">
                            <h4>Small Business Funding</h4>
                            <p>Build on your success with the working capital you need to sustain and grow your business. We’re experts in helping small businesses find the funding sources that meet their business needs. We’ll work with you to find the best options, act as your advocate, and will help reduce the complexity and stress of obtaining business funding. You’re running a business, and you really don’t have time to waste looking for the best funding options and figuring out how to qualify for loans. Make your life a little easier, and contact one of our funding experts today.</p>
                            <a href="#lp-form" class="btn">Apply Now</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>