<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>We offer a wide variety of working capital products</h2>
                <h3>WITH A RANGE OF RATES AND TERMS… ANYTHING THAT A BANK WON’T DO.</h3>
                <ul class="products-wrapper">
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/mancomp.jpg">
                        </div>
                        <div class="description">
                            <h4>Revenue-Based Funding</h4>
                            <p>Funding up to $500,000 based on your monthly gross business revenue.</p>
                            <a href="/products#revenue">Learn More</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/lady.jpg">
                        </div>
                        <div class="description">
                            <h4>Asset-Based Financing</h4>
                            <p>Advances up to $2,500,000 based on the value of business assets. If your company has
                                equipment or inventory, we have funding options!</p>
                            <a href="/products#asset">Learn More</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/ladykitch.jpg">
                        </div>
                        <div class="description">
                            <h4>Equipment Leasing</h4>
                            <p>Funding for all types of equipment you need to grow your business. Vehicles, heavy
                                machinery, skip loaders and more have financing options available.</p>
                            <a href="/products#equipment">Learn More</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/office.jpg">
                        </div>
                        <div class="description">
                            <h4>Receivables Factoring</h4>
                            <p>Financing up to $5,000,000 based on unpaid invoices that are currently awaiting
                                payment. Get paid now for money you are already owed!</p>
                            <a href="/products#factoring">Learn More</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/men.jpg">
                        </div>
                        <div class="description">
                            <h4>Hard Money Capital</h4>
                            <p>Financing up to $2,500,000 for real estate you own. Funding is available even if you
                                have an outstanding mortgage!</p>
                            <a href="/products#hardmoney">Learn More</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/manchill100.jpg">
                        </div>
                        <div class="description">
                            <h4>Business Insurance</h4>
                            <p>One Park has partnered with Sure to make business insurance available to our
                                customers</p>
                            <a href="/business-insurance">Learn More</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>