<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Ofrecemos una amplia variedad de productos para capital de trabajo</h2>
                <h3>CON UN RANGO DE TARIFAS Y CONDICIONES… TODO LO QUE UN BANCO NO OFRECE.</h3>
                <ul class="products-wrapper">
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/mancomp.jpg">
                        </div>
                        <div class="description">
                            <h4>Préstamos Basados Sobre Ingresos o Avances de Efectivo para Comerciantes</h4>
                            <p>Financiamiento hasta $500,000 basado en sus ingresos netos mensuales.</p>
                            <a href="/es/nuestros-productos#revenue">OBTENGA MAS INFORMACION</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/lady.jpg">
                        </div>
                        <div class="description">
                            <h4>Préstamos Para Activos</h4>
                            <p>Préstamos de hasta $2,500,000 basados en el valor de los activos de su negocio. ¡Si su negocio tiene equipos o inventario, tenemos opciones de financiamiento para usted!</p>
                            <a href="/es/nuestros-productos#assets">OBTENGA MAS INFORMACION</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/ladykitch.jpg">
                        </div>
                        <div class="description">
                            <h4>Financiamiento de Equipos</h4>
                            <p>Fondos para adquirir todo tipo de equipo que necesite para fomentar su negocio. Opciones para financiar vehículos, maquinaria pesada, remolques, y otra maquinaria.</p>
                            <a href="/es/nuestros-productos#equipment">OBTENGA MAS INFORMACION</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/office.jpg">
                        </div>
                        <div class="description">
                            <h4>Financiamiento de Cuentas por Cobrar</h4>
                            <p>Préstamos de hasta $5,000,000 basados sobre facturas por cobrar. ¡Cobre ahora por dinero que se le debe!</p>
                            <a href="/es/nuestros-productos#equipment">OBTENGA MAS INFORMACION</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/men.jpg">
                        </div>
                        <div class="description">
                            <h4>Préstamos de dinero duro</h4>
                            <p>Financiamiento hasta $2,5000,000 sobre propiedades. ¡Existen fondos incluso para cuando hay una hipoteca sin resolver!</p>
                            <a href="/es/nuestros-productos#hardmoney">OBTENGA MAS INFORMACION</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/manchill100.jpg">
                        </div>
                        <div class="description">
                            <h4>Financiamiento VIP</h4>
                            <p>Oportunidades exclusivas para negociaciones de más de $500,000. Contacte a un gerente de financiamiento para obtener más información.</p>
                            <a href="/es/nuestros-productos#vip">OBTENGA MAS INFORMACION</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>