$white: #fff;
$brand-primary: #359c1c; //#359c1c; #74bf64;
$brand-secondary: #162c4e; //#162c4e; #12314d;
$brand-third: #e88f0b;
$color-dark: #323831;
$border-color: #eeeeee;
$text-color: #323831;
$text-green-light: #c5e2bd;
$legal-text: #888;
$light-bg: #f1f6ef;
$font-forge: "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-one-park-financial: 'Nunito', sans-serif;
// ndc additions
$form-focus: #f1f1f1;
$form-gray: #888;
$text-green-light-darker: #add7a4;
$subtle: #ccc;