<main>
    <section id="faqs">
        <div class="faqs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Preguntas Comunes</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>El Proceso de Solicitud</h3>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="heading1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Cómo solicito financiación?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
                                    <div class="card-body">
                                        El proceso de solicitud es rápido, sencillo y seguro. Le tomará cinco minutos llenar nuestro sencillo formulario de solicitud, o también puede llamar a uno de nuestros expertos en financiación. Cuando obtenga su aprobación previa, por lo general recibirá opciones de financiación y ofertas en un período de pocas horas.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading2">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Es difícil el proceso?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                                    <div class="card-body">
                                        Sabemos que puede ser intimidante y mucha veces confuso averiguar cómo solicitar capital empresarial. Nos esforzamos por eliminar de este proceso todo tipo de confusión. Uno de nuestros expertos en financiación lo guiará a través de los pasos sencillos requeridos para obtener la calificación, le explicará cuáles son las opciones y las ofertas disponibles y facilitará su solicitud hasta lograr la financiación deseada.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading3">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Cuánto cuesta la solicitud?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                                    <div class="card-body">
                                        Para el comerciante, nuestro proceso de solicitud siempre es gratis.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading4">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Qué información necesitaré proporcionar?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                                    <div class="card-body">
                                        La información y el papeleo que requerimos es muy poco. Generalmente una solicitud sencilla de una sola página, estados de cuenta bancaria de los últimos meses y otros requisitos tales como licencia de conducir y un cheque anulado es todo lo que necesita para la financiación. En ocasiones, un financiador podría solicitar alguna otra información como por ejemplo evidencia de la radicación de impuestos, o prueba de propiedad. Todo depende del financiador.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading5">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Cuánto tiempo se tarda en recibir mis fondos?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                                    <div class="card-body">
                                        Generalmente el proceso completo de financiación toma entre 1-3 días después de haber sido aprobado.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3>Requisitos Básicos</h3>
                        <div id="accordion-1">
                            <div class="card">
                                <div class="card-header" id="heading6">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Cuáles son los requisitos básicos?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Para la mayoría de nuestros programas, usted sólo tiene que estar en su negocio por un mínimo de 3 meses, ganar por lo menos $5,000 en ingresos brutos mensuales y contar con una calificación de crédito mínima de 450. No obstante, existen otros programas fuera de estos parámetros. Comuníquese con un experto en financiación para dialogar sobre su situación particular e identificar cuáles otras opciones estarían disponibles para usted.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading7">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Existen algunas restricciones estatales?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion-1">
                                    <div class="card-body">
                                        No. Contamos con opciones de financiación en los 50 estados de la nación.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading8">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Se requiere una garantía personal?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion-1">
                                    <div class="card-body">
                                        La garantía o colateral personal, no es un requisito para la mayoría de nuestros programas de financiación.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading9">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Perjudicará mis posibilidades una bancarrota pasada?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Siempre que no esté activamente involucrado en un caso de bancarrota, es muy raro que una bancarrota pasada cerrada resulte ser un problema. Contamos con múltiples socios que lo rechazarán por causa de una quiebra. Nuestros financiadores entienden que un divorcio pasado o una ejecución durante la crisis hipotecaria no tienen efecto alguno sobre su habilidad de administrar un negocio exitoso.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading10">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Puedo pagar antes de tiempo el anticipo en efectivo del comerciante?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Sí. La mayoría de los programas no tienen penalidades por reembolso anticipado. De hecho, algunos programas hasta ofrecen montos de reembolso reducido si el anticipo se amortiza antes del término designado.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading11">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Tengo que aceptar tarjetas de crédito o cambiar mi procesador?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion-1">
                                    <div class="card-body">
                                        No. Aunque contamos con programas enfocados en tarjetas de crédito, nunca es un requisito aceptar tarjetas de crédito. Cambiar los procesadores casi  nunca es un requisito.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading12">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Toman ustedes bajo consideración mi puntaje crediticio personal?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Aunque el crédito personal forma parte del típico proceso de suscripción, otros factores tales como la vitalidad de su empresa son muy importantes. Contamos con una amplia variedad de financiadores, entre los cuales aquellos que trabajan con individuos que enfrentan retos en su crédito personal.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3>Programas de Financiación</h3>
                        <div id="accordion-2">
                            <div class="card">
                                <div class="card-header" id="heading13">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Ofrecen ustedes financiación de lanzamiento para empresas emergentes?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Nuestros programas requieren por lo menos 3 meses de tiempo como dueño del negocio, y por lo menos $5,000 en ingresos brutos mensuales. Si usted es una empresa emergente que cumple con estos pre-requisitos, comuníquese con uno de nuestros expertos en financiación para dialogar sobre las opciones disponibles.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading14">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Cuánto tiempo  voy a tener para pagar?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Nuestros financiadores cuentan con diversos programas y duración de términos. La mayoría de estos programas se pagan entre un período de 6-12 meses.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading15">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Cuánto dinero puedo pedir prestado?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Normalmente la mayoría de los programan de financiación oscilan entre $5,000 a $500,000. La cantidad que se aprueba depende de muchos factores. Los financiadores examinarán su empresa y lo particular de su situación. Comuníquese con uno de nuestros expertos en financiación para conocer cuánto financiamiento está disponible para usted.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading16">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Cómo puedo usar el capital circulante?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordion-2">
                                    <div class="card-body">
                                        La mayoría de las empresas usan el capital circulante para adquirir inventario, cubrir la nómina, pagar impuestos o expandir su negocio. Lo cierto es que, usted puede usar el dinero para cualquier propósito que le ayude a hacer crecer su empresa.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3>Cuotas</h3>
                        <div id="accordion-3">
                            <div class="card">
                                <div class="card-header" id="heading17">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Cómo se paga el adelanto en efectivo de comerciante?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordion-3">
                                    <div class="card-body">
                                        Normalmente el pago se hace a través de un pequeño retiro de ACH de su cuenta de cheques empresarial, diario o semanal.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading18">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Qué tipo de tarifas o cargos debo esperar?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordion-3">
                                    <div class="card-body">
                                        Las tarifas y cargos cobrados por nuestros socios financiadores varían dependiendo de múltiples factores. Asuntos como ingresos pasados, tiempo en la empresa y su industria contribuyen a ello. Algunos están basados en una tasa fija sobre el dinero prestado, y algunos están basados en un factor de tarifa. Uno de nuestros expertos financiadores le guiará a través del proceso de solicitud y le ayudará a conseguir dentro de pocas horas oferta(s) sin obligación alguna.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading19">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Cuáles son las cuotas asociadas con el servicio que ofrece One Park Financial?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse19" class="collapse" aria-labelledby="heading19" data-parent="#accordion-3">
                                    <div class="card-body">
                                        En One Park Financial recibimos de nuestros socios prestamistas una pequeña cuota de originación, y cobramos SOLAMENTE una pequeña tarifa por servicio profesional una vez usted consiga su financiación.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3>Acerca de One Park Financial</h3>
                        <div id="accordion-4">
                            <div class="card">
                                <div class="card-header" id="heading20">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Qué Hace a One Park Financial Diferente?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse20" class="collapse" aria-labelledby="heading20" data-parent="#accordion-4">
                                    <div class="card-body">
                                        Nos acercamos a cada comerciante con un toque único y personal distinto a la mayoría de los demás financiadores o servicios. Las relaciones sólidas que a través de los años hemos establecido con financiadores por todo el país, aseguran que usted recibirá las ofertas mejor calificadas y con las mejores tasas y plazos. One Park Financial se esfuerza por construir relaciones duraderas con cada uno de los comerciantes con los que trabajamos. Permítanos encargarnos de todo el trabajo de campo en este proceso, y así usted se puede concentrar en hacer lo que mejor hace.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading21">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
                                            <div class="left">
                                                <i class="fas fa-plus-circle"></i>
                                            </div>
                                            <div class="right">¿Cuán segura está mi información?</div>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse21" class="collapse" aria-labelledby="heading21" data-parent="#accordion-4">
                                    <div class="card-body">
                                        Tomamos muy en serio la seguridad y protección de la información personal de nuestros comerciantes. Por esta razón es que empleamos la tecnología de encriptación de  datos más segura en la industria.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:modules/es/lp-form }}
</main>