<nav class="menu apple" v-bind:class="{'shown':menu_opened}">
    <div class="nav-wrapper" v-bind:class="{'shown':menu_opened}">
        <div class="menu">
            <a href="/" class="branding logo">One Park Financial</a>
            <ul>
                <li class="menu-item"><a href="/">Home</a></li>
                <li class="menu-item"><a href="/how-it-works">How it works</a></li>
                <li class="menu-item"><a href="/about-us">About Us</a></li>
                <li class="menu-item"><a href="/faq">FAQs</a></li>
                <li class="menu-item"><a href="/contact">Contact Us</a></li>
                <li class="menu-item"><a href="/blog">Blog</a></li>
            </ul>
            <div class="cta-menu">
                <a href="/pre-qualification" class="btn btn-primary"><span>Get Funded Now</span></a>
            </div>
        </div>
        <div class="burger-container" v-on:click="toggle_menu">
            <div id="burger">
                <div class="bar topBar"></div>
                <div class="bar btmBar"></div>
            </div>
        </div>
        <div class="container">
            <div class="menus">
                <div class="navbar-left">
                    <a href="/" class="branding logo">One Park Financial</a>
                </div>
                <div class="navbar-right">
                    <ul class="nav-top">
                        <li class="phone">
                            <span class="questions">Questions?</span>
                            <span class="text">Call Us.</span>
                            <a href="tel:+18883271044" data-ctm-watch-id="3" data-ctm-tracked="1">
                                <span class="number">1-888-327-1044</span>
                            </a>
                        </li>
                        <li class="language">
                            <a href="/es/{{ es_url }}" class="btn">
                                <i class="fas fa-globe"></i>
                                <span class="active">EN</span>
                                <span>|</span>
                                <span>ES</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-bottom">
                        {{ if current_uri == "/how-it-works" }}
                        <li class="how-it-works active">
                        {{ else }}
                        <li class="how-it-works">
                        {{ /if }}
                            <a href="/how-it-works">
                                How it works
                            </a>
                        </li>
                        {{ if current_uri == "/about-us" }}
                        <li class="about-us active">
                        {{ else }}
                        <li class="about-us">
                        {{ /if }}
                            <a href="/about-us">
                                About Us
                            </a>
                        </li>
                        {{ if current_uri == "/faq" }}
                        <li class="faqs active">
                        {{ else }}
                        <li class="faqs">
                        {{ /if }}
                            <a href="/faq">
                                FAQs
                            </a>
                        </li>
                        <li class="apply-now">
                            <a href="/pre-qualification" class="btn btn-primary">
                                Apply now
                            </a>
                        </li>
                        {{ if logged_in }}
                        <li>
                            <a href="{{ user:logout_url }}">Log out</a>
                        </li>
                        {{ /if }}
                    </ul>
                    <div class="join-now">
                        <a href="tel:+18883277846" data-ctm-watch-id="3" data-ctm-tracked="1" data-ctm-remark="1">
                            <span class="text">Get Funded:</span>
                            <i class="fas fa-phone"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

