<main>
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="description">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="button-wrapper">
                        <a class="btn btn-primary" href="/es/preaprob">
                            <span>Siguiente</span>
                        </a>
                        <div class="badges">
                            <img src="/assets/img/BBB.png">
                            <img src="/assets/img/google-rating-4.5.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="faqs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Proceso de Solicitud</h3>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="heading1">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                        ¿Cómo solicito?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                                <div class="card-body">
                                    El proceso de solicitud es fácil, sencillo y seguro. Simplemente llene nuestra solicitud de cinco minutos o llame a uno de nuestros gerentes de financiamiento. Una vez sea pre-calificado, usualmente recibirá opciones de financiamiento y ofertas en tan sólo horas.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading2">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        ¿Es difícil el proceso?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                                <div class="card-body">
                                    Sabemos que muchas veces solicitar fondos para un negocio puede ser intimidante y confuso. Nosotros hacemos el proceso fácil para usted. Uno de nuestros gerentes de financiamiento le ayudará a completar los pasos simples para conseguir aprobación, le explicará las opciones y las ofertas disponibles, y le guiará en el proceso de financiación.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading3">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        ¿Cuánto cuesta solicitar?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                                <div class="card-body">
                                    Nuestra solicitud siempre es gratis para el comerciante.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading4">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        Nuestra solicitud siempre es gratis para el comerciante.
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                                <div class="card-body">
                                    Se requiere muy poca información y papeleo. Usualmente lo único que se requiere es una solicitud fácil de llenar de sólo una página, algunos meses de estados bancarios, y otros datos como copia de licencia de conducir y un cheque nulo.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading5">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        ¿Cuán rápido recibiré los fondos?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                                <div class="card-body">
                                    Usualmente los fondos están disponibles entre 1 y 3 días después de recibir aprobación.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>Requisitos Básicos</h3>
                    <div id="accordion-1">
                        <div class="card">
                            <div class="card-header" id="heading6">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                        ¿Cuáles son los requisitos básicos?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion-1">
                                <div class="card-body">
                                    Para la mayoría de nuestros programas, sólo necesita haber estado operando por un mínimo de 3 meses, tener ganancias de al menos $5,000 mensuales y un mínimo de crédito de 450. Sin embargo, existen programas fuera de estos parámetros. Contacte a uno de nuestros gerentes de financiamiento para discutir su situación particular y conocer qué opciones existen para usted.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading7">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                        ¿Existen restricciones de estados?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion-1">
                                <div class="card-body">
                                    No. Proveemos financiamiento a todos los 50 estados de la nación.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading8">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        ¿Se requiere colateral?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion-1">
                                <div class="card-body">
                                    No se requiere colateral para ser elegible para la mayoría de nuestros programas de financiamiento.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading9">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                        ¿Qué pasa si he tenido una bancarrota en el pasado?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion-1">
                                <div class="card-body">
                                    Después de que no exista un caso de bancarrota activo, una bancarrota ya resuelta usualmente no es un problema. Trabajamos con múltiples socios que no le rechazarán por una bancarrota. Nuestros prestamistas saben que un divorcio en el pasado o una ejecución hipotecaria durante la crisis de bienes raíces no afecta su habilidad de correr y manejar un negocio exitoso.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading10">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                        ¿Puedo reembolsar el préstamo antes del término estipulado?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion-1">
                                <div class="card-body">
                                    Si. La mayoría de los programas no conllevan ningún tipo de penalidad. Incluso, algunos hasta ofrecen pagos más bajos si el préstamo se reembolsa antes.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                        ¿Tengo que aceptar tarjetas de crédito o cambiar mi procesador?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion-1">
                                <div class="card-body">
                                    No. Aunque trabajamos con programas que se enfocan en tarjetas de crédito, nunca es un requisito aceptar tarjetas de crédito. Casi nunca se requiere cambiar el procesador.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading12">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                        ¿Tienen que verificar mi calificación de crédito personal?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion-1">
                                <div class="card-body">
                                    Nuestros financiadores se enfocan en la salud de su negocio y el crédito personal es un factor secundario. Nuestros financiadores saben que un divorcio en el pasado o una ejecución hipotecaria durante la crisis de bienes raíces no afecta su habilidad de correr y manejar un negocio exitoso. ¡Incluso, tenemos ciertos programas que nunca verifican el crédito! Contacte a uno de nuestros gerentes de financiamiento para discutir su situación particular y conocer qué opciones existen para usted.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>Programas de Préstamos</h3>
                    <div id="accordion-2">
                        <div class="card">
                            <div class="card-header" id="heading13">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                        ¿Cómo funcionan los programas de préstamos?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion-2">
                                <div class="card-body">
                                    Tenemos múltiples programas de financiamiento. Por favor diríjase a la sección de “Nuestros Productos” para obtener una idea clara de todas las opciones que tenemos disponibles. La mayoría de los programas requieren un mínimo de papeleo, no requieren colateral, y un crédito personal bajo no tiende a ser problemático. Sin embargo, no existe un programa que sea perfecto para todos. Uno de nuestros gerentes expertos en financiamiento le guiará en el proceso y le explicará todas las opciones disponibles, conectándolo con el producto que más le convenga a las necesidades de su negocio.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading14">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                        ¿Ofrecen fondos para empezar mi negocio?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion-2">
                                <div class="card-body">
                                    La mayoría de nuestros programas requieren por lo menos 3 meses de operación y $5,000 mensuales en ventas brutas. Si su empresa cumple estos  requerimientos, contacte a uno de nuestros gerentes de financiamiento para discutir las opciones disponibles.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading15">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                        ¿Cuánto tiempo tengo para pagar?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion-2">
                                <div class="card-body">
                                    Ofrecemos diferentes programas con diferentes duraciones y términos. La mayoría de nuestros programas requieren que se reembolse el préstamo entre 6 y 12 meses.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading16">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                                        ¿Cuánto dinero puedo tomar prestado?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordion-2">
                                <div class="card-body">
                                    En general, la mayoría de los programas ofrecen entre $5,000 y $500,000. La cantidad que se le preste dependerá de varios factores. Los prestamistas analizan su negocio y su situación particular. Contacte a uno de nuestros gerentes de financiamiento para discutir las opciones disponibles.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading17">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                                        ¿Cómo puedo utilizar el capital?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordion-2">
                                <div class="card-body">
                                    La mayoría de los negocios utilizan el capital para comprar inventario, cubrir costos de nómina, pagar impuestos, o expandir su negocio. La verdad es que usted puede utilizar el dinero para cualquier propósito que le permita expandir su negocio.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading18">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                                        ¿Cómo se reembolsa el dinero prestado?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordion-2">
                                <div class="card-body">
                                    Comúnmente el pago se hace a través de un pequeño pago diario o semanal debitado directamente de la cuenta de cheques del negocio (ACH).
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>Tarifas</h3>
                    <div id="accordion-3">
                        <div class="card">
                            <div class="card-header" id="heading19">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                                        ¿Qué tipo de tasas y tarifas puedo esperar?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse19" class="collapse" aria-labelledby="heading19" data-parent="#accordion-3">
                                <div class="card-body">
                                    Las tasas y las tarifas que cobran nuestros socios financieros estarán basadas en múltiples factores. Elementos como ingresos en el pasado, tiempo de operación del negocio, y el tipo de industria serán todos factores. Algunos se basan en una tarifa fija sobre el dinero prestado, algunos se basan en una tasa de factor sobre el dinero prestado. Uno de nuestros gerentes de financiamiento le guiará en el proceso y le presentará una oferta(s) sin obligaciones dentro de horas.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading20">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                                        ¿Cuáles son las tarifas asociadas con el servicio que ofrece One Park Financial?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse20" class="collapse" aria-labelledby="heading20" data-parent="#accordion-3">
                                <div class="card-body">
                                    Recibimos una pequeña tarifa de incepción de parte de nuestros socios prestamistas una vez usted haya recibido su préstamo.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>Sobre One Park Financial</h3>
                    <div id="accordion-4">
                        <div class="card">
                            <div class="card-header" id="heading21">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
                                        ¿Qué distingue a One Park Financial?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse21" class="collapse" aria-labelledby="heading21" data-parent="#accordion-4">
                                <div class="card-body">
                                    Nos acercamos a cada comerciante con un toque único y personal, a diferencia de la mayoría de los otros financiadores o servicios. Las sólidas relaciones que hemos establecido a lo largo de los años con financianistas en de todo el país garantizan que recibirá las ofertas más calificadas con las mejores tarifas y términos. One Park Financial se esfuerza por construir una relación duradera con todos y cada uno de los comerciantes con los que trabajamos
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading22">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                                        ¿Cuán segura está mi información?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse22" class="collapse" aria-labelledby="heading22" data-parent="#accordion-4">
                                <div class="card-body">
                                    Tomamos muy en serio la seguridad de la información personal de nuestros clientes. Por eso utilizamos la tecnología de inscripción de data más segura de la industria.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:es/lp-form }}
</main>