<main>
    <section id="article">
        <div class="container">
            <div class="heading title">
                <h1>{{ title }}</h1>
                <div class="location">In {{ location }}</div>
                <div class="salary">{{ salary }}</div>
            </div>
            <article class="content">
                <div class="row">
                    <div class="col-sm-8">
                        {{ description | markdown}}
                    </div>
                    <div class="col-sm-4">
                        {{ partial:careers-form }}
                    </div>
                </div>
            </article>
        </div>
    </section>
</main>