<main>
    <div class="container">
        <section id="careers">
            <div class="heading">
                <h1>Careers</h1>
                <h2>One Park Financial believes in helping businesses thrive!</h2>
                <h3>We want you to be a part of that team!</h3>
            </div>
                <article class="list">
                    {{ collection:careers paginate="true" as="posts" limit="4" locale="only {locale}" }}
                        <ul>
                            {{ posts scope="tag" }}
                                {{ partial:career-block }}
                            {{ /posts }}
                        </ul>
                        {{ partial:pagination }}
                    {{ /collection:careers }}
                </article>
        </section>
    </div>
</main>