<section id="how-business-funds-works">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="headline">
                    <h1>How One Park Financial business funds works</h1>
                </div>
            </div>
        </div>
        <div class="row business-funds-container">
            <div class="col-lg-6 ceo">
                <div  class="ceo-photo">
                    <img src="/assets/img/ceo-appliying.png" alt="">
                </div>
                <div class="btn-started">
                    <a href="/pre-qualification" class="btn main-cta">
                        LET'S GET STARTED
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="steps-container">
                    <span class="numbers">01</span>
                    <div class="row">
                        <div class="steps-line"></div>
                        <div class="subtitle-step">
                            <span class= "title">Get pre-qualidfied fast</span><br>
                            <div>
                                &nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elite,
                                <br> &nbsp;sed do eiusmod tempor incididunt.
                            </div>
                        </div>
                    </div>
                    <div><span class="numbers">02</span>
                    </div>
                    <div class="row">
                        <div class="steps-line"></div>
                        <div class="subtitle-step talk">
                            <span class="title">Talk to our experts</span><br>
                            <div>
                                &nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elite,
                                <br> &nbsp;sed do eiusmod tempor incididunt.
                            </div>
                        </div>
                    </div>
                    <div><span class="numbers">03</span>
                    </div>
                    <div class="row">
                        <div class="steps-line"></div>
                        <div class="subtitle-step review">
                            <span class= "title">Review your offers</span><br>
                            <div>
                                &nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elite,
                                <br> &nbsp;sed do eiusmod tempor incididunt.
                            </div>
                        </div>
                    </div>
                    <div><span class="numbers">04</span>
                    </div>
                    <div class="row">
                        <div class="subtitle-step get-funded">
                            <span class= "title">Get Funded</span><br>
                            <div>
                                &nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elite,
                                <br> &nbsp;sed do eiusmod tempor incididunt.
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</section> 