<section id="business-funds-works">
    <div class="main-container">
        <div class="title">
            <h1>How One Park Financial business funds works</h1>
        </div>
        <div class="col-lg-12 context-container">
            <div class="row">
                <div class="bg-img-sir">
                </div>
                <a class="experiment" href="www.google.com"> check</a>
                <div class="steps-container">
                    <div><span class="numbers">01</span> Get pre-qualidfied fast
                    </div>
                    <div class="row">
                    <div class="steps-line"></div>
                        <div class="subtitle-step">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elite,
                            <br> sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                    <div><span class="numbers">02</span> Talk to our experts
                    </div>
                    <div class="row">
                    <div class="steps-line"></div>
                        <div class="subtitle-step">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elite,
                            <br> sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                    <div><span class="numbers">03</span> Review your offers
                    </div>
                    <div class="row">
                    <div class="steps-line"></div>
                        <div class="subtitle-step">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elite,
                            <br> sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                    <div><span class="numbers">04</span> Get Funded
                    </div>
                    <div class="row">
                        <div class="subtitle-step">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elite,
                            <br> sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>  
</section>
