<section id="how-business-funds-works">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="headline">
                    <h1>How One Park Financial business funds works</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 text-center">
                <div  class="ceo-photo">
                    <img src="/assets/img/ceo-appliying.png" alt="">
                </div>
                <div class="">
                    <a href="/pre-qualification" class="btn btn-primary main-cta">
                        LET'S GET STARTED
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="steps-container">
                    <div><span class="numbers">01</span> Get pre-qualidfied fast
                    </div>
                    <div class="row">
                        <div class="steps-line"></div>
                        <div class="subtitle-step">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elite,
                            <br> sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                    <div><span class="numbers">02</span> Talk to our experts
                    </div>
                    <div class="row">
                        <div class="steps-line"></div>
                        <div class="subtitle-step">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elite,
                            <br> sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                    <div><span class="numbers">03</span> Review your offers
                    </div>
                    <div class="row">
                        <div class="steps-line"></div>
                        <div class="subtitle-step">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elite,
                            <br> sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                    <div><span class="numbers">04</span> Get Funded
                    </div>
                    <div class="row">
                        <div class="subtitle-step">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elite,
                            <br> sed do eiusmod tempor incididunt.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 