<div class="circles">
    <div class="circle circle1">
        <div class="item">
            <div class="number">01</div>
            <i class="fas fa-clock"></i>
            <div class="title">Apply Online</div>
            <div class="description">One simple form-and less than five minutes of your time gets the funding process started.</div>
        </div>
    </div>
    <div class="circle circle2">
        <div class="item">
            <div class="number">02</div>
            <i class="fas fa-user-tie"></i>
            <div class="title">Get Pre-Qualified</div>
            <div class="description">Find out now if you qualify for funding. After pre-qualifying, we’ll help get the right funding sources for your needs.</div>
        </div>
    </div>
    <div class="circle circle3">
        <div class="item">
            <div class="number">03</div>
            <i class="fas fa-file-signature"></i>
            <div class="title">REVIEW YOUR OFFERS</div>
            <div class="description">Our funding team reviews your application and works with you to pair your business with the right funders.</div>
        </div>
    </div>
    <div class="circle circle4">
        <div class="item">
            <div class="number">04</div>
            <i class="fas fa-check-circle"></i>
            <div class="title">Get Funded</div>
            <div class="description">You accept a funding offer, and the money is in your account within three business days.</div>
        </div>
    </div>
    <p>With One Park Financial, you don’t have to struggle to get the working capital you need. Our streamlined process is design to make it easy for small and mid-size companies to gain access to business funding.
        <br class="d-sm-block d-md-block"> <a href="/contact/"> Contact us</a> today to get started. </p>
</div>