<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>The One Park Financial Advantage</h2>
            </div>
        </div>
        <div class="row">
            <div class="tabs">
                <div class="col-lg-8 tab-descriptions">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                            <p>You need funding to grow your business to the next level, or to meet critical
                                obligations. But you may not want to wait for a bank business loan to be approved, or –
                                like many small or mid-sized businesses, you may not easily qualify for traditional
                                business loan offerings. Don’t worry, we’re here to help.</p>
                            <p>One Park Financial believes that your business should have ready access to working
                                capital, just like big corporations do. So, we pair you with funders that focus on
                                working with small and mid-sized businesses, and are happy to work with people who may
                                not have a perfect credit score.</p>
                        </div>
                        <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                            <p>Contact us now for a pre-qualification assessment. We’ll work with you to help find the
                                funding that your business needs, even if you do not qualify for a traditional bank
                                loan. We’ll need you to share a few documents that confirm your identity and business
                                specifics. You do need to be a U.S. citizen, a resident of any of the fifty states or
                                Puerto Rico, who owns a U.S.-based business. And you need to have been in business for
                                three months or more, with monthly revenues of at least $5,000.</p>
                        </div>
                        <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
                            <p>Your business success determines the amount of working capital amount that we can help
                                you to access. No need to pledge your assets - personal or business - to secure funding.
                                Instead, we’ll review your basic business information, and help you connect with the
                                funding sources that best meet your needs.</p>
                        </div>
                        <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
                            <p>We can help you connect with funding sources that work with small business owners who
                                have lower-than-ideal credit scores. Get started with a pre-qualification assessment
                                now, and let us help you access the working capital you need. It’s a quick, easy and
                                painless process, to get started just click the “Get Funding Now” button.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 tab-headings">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1"
                               role="tab" aria-controls="nav-1" aria-selected="true">
                                <i class="far fa-clock"></i>
                                <span>Approval in Hours</span>
                            </a>
                            <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab"
                               aria-controls="nav-2" aria-selected="false">
                                <i class="fas fa-file-signature"></i>
                                <span>Minimal Documentation</span>
                            </a>
                            <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab"
                               aria-controls="nav-3" aria-selected="false">
                                <i class="far fa-edit"></i>
                                <span>Collateral Not Required</span>
                            </a>
                            <a class="nav-item nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab"
                               aria-controls="nav-4" aria-selected="false">
                                <i class="fas fa-check-circle"></i>
                                <span>
                                Bad Credit, No Problem
                            </span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-wrapper classic">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-right hidden" width="auto">
                                <span>The One Park Advantage</span>
                            </th>
                            <th class="text-center" width="150">
                                <a href="javascript:void(0)" class="branding logo">One Park Financial</a>
                            </th>
                            <th class="text-center" width="150">
                                Alternative Lenders
                            </th>
                            <th class="text-center" width="150">
                                Most Banks
                            </th>
                            <th class="text-center" width="150">
                                Credit Cards
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td class="text-right">Qualification decisions in under 24 hours</td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td class="text-right">Low Competitive Rates</td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                        </tr>
                        <tr class="odd">
                            <td class="text-right">Minimal Documentation</td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td class="text-right">Funding in as little as 72 hours</td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr class="odd">
                            <td class="text-right">Banking and Tax Liens Accepted</td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                        <tr>
                        <tr>
                            <td class="text-right">Automated Online Process</td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                        </tr>
                        <tr class="odd">
                            <td class="text-right">Values Cash Flow, Not just Credit Score</td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>Have you been rejected by the banks or others? We will work with you.</h4>
                <a href="/pre-qualification" class="btn btn-primary">Get Funded</a>
            </div>
        </div>
    </div>
</section>