<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Funding Options for your <span>small-medium size business</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="tabs">
                <div class="col-lg-8 tab-descriptions">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                            <p>
                                You need funding to grow your business to the next level, or to meet critical obligations. But you may not want to wait for a bank business loan to be approved,
                                or – like many small or mid-sized businesses, you may not easily qualify for traditional business loan offerings. Don’t worry, we’re here to help.
                            </p>
                            <p>
                                One Park Financial believes that your business should have ready access to working capital, just like big corporations do. So, we pair you with funders that focus on working with small and mid-sized businesses, and are happy to work with people who may not have a perfect credit score.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab"></div>
                        <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">...</div>
                        <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">...</div>
                    </div>
                </div>
                <div class="col-lg-4 tab-headings">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">
                                <i class="far fa-clock"></i>
                                <span>Approval in Hours</span>
                            </a>
                            <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false">
                                <i class="fas fa-file-signature"></i>
                                <span>Minimal Documentation</span>
                            </a>
                            <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">
                                <i class="far fa-edit"></i>
                                <span>Collateral Not Required</span>
                            </a>
                            <a class="nav-item nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-4" aria-selected="false">
                                <i class="fas fa-check-circle"></i>
                                <span>
                                Bad Credit, No Problem
                            </span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-left" width="auto">
                                One Park Advantage
                            </th>
                            <th class="text-center" width="150">
                                One Park Financial
                            </th>
                            <th class="text-center" width="150">
                                Alternative Lenders
                            </th>
                            <th class="text-center" width="150">
                                Most Banks
                            </th>
                            <th class="text-center" width="150">
                                Credit Cards
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td class="text-left">Qualification decisions in under 24 hours</td>
                            <td class="text-center"><i class="far fa-check-circle"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td class="text-left">Minimal Documentation</td>
                            <td class="text-center"><i class="far fa-check-circle"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr class="odd">
                            <td class="text-left">Funding in as little as 72 hours</td>
                            <td class="text-center"><i class="far fa-check-circle"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="text-left">Banking and Tax Liens Accepted</td>
                            <td class="text-center"><i class="far fa-check-circle"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                        <tr>
                        <tr class="odd">
                            <td class="text-left">Fully Automated Online Process</td>
                            <td class="text-center"><i class="far fa-check-circle"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                        </tr>
                        <tr>
                            <td class="text-left">Values Cash Flow, Not just Credit Score</td>
                            <td class="text-center"><i class="far fa-check-circle"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr class="odd">
                            <td class="text-left">Low Competitive Rates</td>
                            <td class="text-center"><i class="far fa-check-circle"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>Ready to take your business to the next level?</h4>
                <a href="/pre-qualification" class="btn btn-primary">Apply Today</a>
            </div>
        </div>
    </div>
</section>