<section id="features-new">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>The One Park Financial Advantage</h2>
            </div>
        </div>
        <div class="row">
            <div class="tabs">
                <div class="tab-descriptions">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active arrows row" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                              <div class="row">
                                <div class="col-lg-1 arrow-left"> 
                                </div>
                                <div class="col-lg-10 paragraph">
                                    <div class="row carousel-titles approval">
                                        <img 
                                            class="highlight-icons check-square" 
                                            src="/assets/img/approval.svg"
                                         />
                                         <span>
                                             Approval In Hours
                                         </span>
                                    </div>
                                    <p>You need funding to grow your business to the next level, or to meet critical
                                        obligations. But you may not want to wait for a bank business loan to be approved, or –
                                        like many small or mid-sized businesses, you may not easily qualify for traditional
                                        business loan offerings. Don’t worry, we’re here to help.
                                        <br>
                                        One Park Financial believes that your business 
                                        should have ready access to working capital, just like big corporations do. 
                                        So, we pair you with funders that focus on working with small and mid-sized businesses,
                                        and are happy to work with people who may not have a perfect credit score.
                                    </p>
                                </div>
                                <div class="col-lg-1 arrow-right"> 
                                    <img src="/assets/img/arrow-green-right.png" onclick="pressNav2()" />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade arrows row" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                            <div class="row ">
                                <div class="col-lg-1 arrow-left"> 
                                    <img src="/assets/img/arrow-green-left.png" onclick="pressNav1()" />
                                </div>
                                <div class="col-lg-10 paragraph">
                                    <div class="row carousel-titles documment">
                                        <img 
                                            class="highlight-icons documment" 
                                            src="/assets/img/document.svg"
                                         />
                                         <span>
                                            Minimal Documentation
                                         </span>
                                    </div>
                                    <p> Contact us now for a pre-qualification assessment. 
                                        We’ll work with you to help find the funding that your business needs, 
                                        even if you do not qualify for a traditional bank loan. 
                                        We’ll need you to share a few documents that confirm your identity and business specifics.
                                        <br> 
                                        You do need to be a U.S. citizen, a resident of any of the fifty states or Puerto Rico, 
                                        who owns a U.S.-based business.And you need to have been in business for three months or more, 
                                        with monthly revenues of at least $5,000.
                                    </p>
                                </div>
                                <div class="col-lg-1 arrow-right"> 
                                    <img src="/assets/img/arrow-green-right.png" onclick="pressNav3()" />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade arrows" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
                            <div class="row ">
                                <div class="col-lg-1 arrow-left"> 
                                    <img src="/assets/img/arrow-green-left.png" onclick="pressNav2()" />
                                </div>
                                <div class="col-lg-10 paragraph">
                                    <div class="row carousel-titles collateral">
                                        <img 
                                            class="highlight-icons check-square" 
                                            src="/assets/img/document.svg"
                                         />
                                         <span>
                                             Collateral Not Required
                                         </span>
                                    </div>
                                    <p>Your business success determines the amount of working capital amount that we can help you to access.
                                       No need to pledge your assets - personal or business - to secure funding.<br>
                                       Instead, we’ll review your basic business information,
                                       and help you connect with the funding sources that best meet your needs.
                                    </p>
                                </div>
                                <div class="col-lg-1 arrow-right"> 
                                    <img src="/assets/img/arrow-green-right.png" onclick="pressNav4()" />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade arrows" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
                            <div class="row ">
                                <div class="col-lg-1 arrow-left"> 
                                    <img src="/assets/img/arrow-green-left.png" onclick="pressNav3()" />
                                </div>
                                <div class="col-lg-10 paragraph">
                                    <div class="row carousel-titles bad">
                                        <img 
                                            class="highlight-icons check-square" 
                                            src="/assets/img/check-square.svg"
                                         />
                                         <span>
                                             Bad Credit , No Problem
                                         </span>
                                    </div>
                                    <p>
                                        We can help you connect with funding sources that work with small business owners who have lower-than-ideal credit scores.
                                        Get started with a pre-qualification assessment now, and let us help you access the working capital you need.
                                        It’s a quick, easy and painless process, to get started just click the “Get Funding Now” button.
                                    </p>
                                </div>
                                <div class="col-lg-1 arrow-right"> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 arrows row tab-headings dots-headings">
                        <div class="nav" id="nav-tab">
                            <a class="nav-item nav-link active elipse-1 " id="nav-1-tab" data-toggle="tab" href="#nav-1"
                                role="tab" aria-controls="nav-1" aria-selected="true">
                            </a>
                            <a class="nav-item nav-link elipse elipse-2" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab"
                                aria-controls="nav-2" aria-selected="false">
                            </a>
                            <a class="nav-item nav-link elipse elipse-3" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab"
                                aria-controls="nav-3" aria-selected="false">
                            </a>
                            <a class="nav-item nav-link elipse elipse-4" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab"
                                aria-controls="nav-4" aria-selected="false">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-wrapper classic">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-right hidden" width="auto">
                                <span>The One Park Financial Advantage</span>
                            </th>
                            <th class="text-center" width="150">
                                <a href="javascript:void(0)" class="branding logo">One Park Financial</a>
                            </th>
                            <th class="text-center" width="150">
                                Alternative<br> Lenders
                            </th>
                            <th class="text-center" width="150">
                                Most<br>Banks
                            </th>
                            <th class="text-center text-left" width="150">
                                Credit<br> Cards
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td class="text-right">Qualification decisions in under 24 hours</td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td class="text-right">Low Competitive Rates</td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                            <td class="text-center"></td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                        </tr>
                        <tr class="odd">
                            <td class="text-right">Minimal Documentation</td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td class="text-right">Funding in as little as 72 hours</td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr class="odd">
                            <td class="text-right">Banking and Tax Liens Accepted</td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                        <tr>
                        <tr>
                            <td class="text-right">Automated Online Process</td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                            <td class="text-center blue-check"></td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                        </tr>
                        <tr class="odd">
                            <td class="text-right">Values Cash Flow, Not just Credit Score</td>
                            <td class="text-center blue-check"><img src="assets/img/check.svg" /></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12 row have-you">
            <div class="col-lg-8">
                <h6>Have you been rejected by the banks or others?&nbsp;&nbsp; 
                    <span class="we-will">We will work with you.</span>
                </h6>
            </div>            
            <div class="col-lg-1">
                <a href="/pre-qualification" class="btn btn-primary">
                    LET'S GET STARTED
                </a>
            </div>
        </div>
    </div>
</section>
<script>
    document.getElementsByClassName('elipse-1')[0].setAttribute(
        "style", "background: url(/assets/img/elipse-green.svg); background-repeat:no-repeat;)"
        );
    function pressNav1(){
       document.getElementById('nav-1-tab').click();
       document.getElementsByClassName('elipse-1')[0].setAttribute(
        "style", "background: url(/assets/img/elipse-green.svg); background-repeat:no-repeat;)"
        );
        document.getElementsByClassName('elipse-2')[0].setAttribute(
        "style", "background: url(/assets/img/elipse-purple.svg); background-repeat:no-repeat;)"
        );
        document.getElementsByClassName('elipse-3')[0].setAttribute(
        "style", "background: url(/assets/img/elipse-purple.svg); background-repeat:no-repeat;)"
        );
        document.getElementsByClassName('elipse-4')[0].setAttribute(
        "style", "background: url(/assets/img/elipse-purple.svg); background-repeat:no-repeat;)"
        );
    }
    function pressNav2(){
        document.getElementById('nav-2-tab').click();
        document.getElementsByClassName('elipse-2')[0].setAttribute(
            "style", "background: url(/assets/img/elipse-green.svg); background-repeat:no-repeat;)"
        );
        document.getElementsByClassName('elipse-3')[0].setAttribute(
        "style", "background: url(/assets/img/elipse-purple.svg); background-repeat:no-repeat;)"
        );
        document.getElementsByClassName('elipse-1')[0].setAttribute(
        "style", "background: url(/assets/img/elipse-purple.svg); background-repeat:no-repeat;)"
        );
        document.getElementsByClassName('elipse-4')[0].setAttribute(
        "style", "background: url(/assets/img/elipse-purple.svg); background-repeat:no-repeat;)"
        );
    }
    function pressNav3(){
        document.getElementById('nav-3-tab').click();
        document.getElementsByClassName('elipse-3')[0].setAttribute(
            "style", "background: url(/assets/img/elipse-green.svg); background-repeat:no-repeat;)"
        );
        document.getElementsByClassName('elipse-4')[0].setAttribute(
        "style", "background: url(/assets/img/elipse-purple.svg); background-repeat:no-repeat;)"
        );
        document.getElementsByClassName('elipse-2')[0].setAttribute(
        "style", "background: url(/assets/img/elipse-purple.svg); background-repeat:no-repeat;)"
        );
        document.getElementsByClassName('elipse-1')[0].setAttribute(
        "style", "background: url(/assets/img/elipse-purple.svg); background-repeat:no-repeat;)"
        );
    }
    function pressNav4(){
        document.getElementById('nav-4-tab').click();
        document.getElementsByClassName('elipse-4')[0].setAttribute(
            "style", "background: url(/assets/img/elipse-green.svg); background-repeat:no-repeat;)"
        );
        document.getElementsByClassName('elipse-1')[0].setAttribute(
        "style", "background: url(/assets/img/elipse-purple.svg); background-repeat:no-repeat;)"
        );
        document.getElementsByClassName('elipse-3')[0].setAttribute(
        "style", "background: url(/assets/img/elipse-purple.svg); background-repeat:no-repeat;)"
        );
        document.getElementsByClassName('elipse-2')[0].setAttribute(
        "style", "background: url(/assets/img/elipse-purple.svg); background-repeat:no-repeat;)"
        );
    }
</script>