<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6"></div>
            <div class="col-sm-12 col-lg-6">
                <div class="hero-content">
                    <h1>Need Funding Fast?</h1>
                    <h2>Get $5K to $500K</h2>
                    <h3>
                        <span>YOUR BUSINESS NEEDS WORKING CAPITAL</span>
                        <span>AND IT NEEDS IT FAST</span>
                    </h3>
                    <a class="btn btn-primary" href="/pre-qualification">
                        <span>Get Funded Now</span>
                    </a>
                    <ul class="badgets">
                        <li>
                            <img src="/assets/img/google-rating.png">
                        </li>
                        <li>
                            <img src="/assets/img/comodo.png">
                        </li>
                        <li>
                            <img src="/assets/img/bbbb.png">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>