<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6"></div>
            <div class="col-sm-12 col-lg-6">
                <h1>Funding for<span> small-medium size business</span></h1>
                <h2>
                    <span>Funding in as little as 3 days</span>
                    <span>Rates as low as 4.99%</span>
                </h2>
                <a class="btn btn-primary" href="/pre-qualification">
                    <span>Get Funded Now</span>
                </a>
            </div>
        </div>
    </div>
</section>