<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5"></div>
            <div class="col-sm-12 col-lg-7">
                <div class="hero-content">
                    <a href="/" class="branding logo">One Park Financial</a>
                    <h1>Need Funding Fast?</h1>
                    <h2>Get $5K to $500K</h2>
                    <h3>
                        <span>YOUR BUSINESS NEEDS WORKING CAPITAL</span>
                        <span>AND IT NEEDS IT FAST</span>
                    </h3>
                    <ul class="xs">
                        <li>
                            <span>Get Pre-Qualified in Minutes.</span>
                        </li>
                        <li>
                            <span>Funding in Under 72 Hours.</span>
                        </li>
                        <li>
                            <span>Poor Credit Accepted.</span>
                        </li>
                    </ul>
                    <a class="btn btn-primary" href="/pre-qualification">
                        <span>Get Funded Now</span>
                    </a>
                    <div class="phone">
                        <div class="text">Speak to a funding expert</div>
                        <a href="tel:+18883276909" data-ctm-watch-id="3" data-ctm-tracked="1" data-ctm-remark="1">
                            <span class="number">1-888-327-6909</span>
                        </a>
                    </div>
                    <ul class="badgets">
                        <li>
                            <img src="/assets/img/google-rating.png">
                        </li>
                        <li>
                            <img src="/assets/img/comodo.png">
                        </li>
                        <li>
                            <img src="/assets/img/bbbb.png">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>