<section id="highlights-new">
    <div class="container highlight">
        <div class="col-lg-12 row">
            <div class="col-lg-1">
                <img class="highlight-icons check-square" src="/assets/img/check-square.svg" />
            </div>
            <div class="col-lg-3">
                <div>BAD CREDIT NO PROBLEM</div>
                <div>No need to pledge your assets</div>
            </div>
            <div class="col-lg-1">
                <img class="highlight-icons" src="/assets/img/document.svg" />
            </div>
            <div class="col-lg-3">
                <div>MINIMAL DOCUMENTION</div>
                <div>Get qualified in minutes</div>
            </div>
            <div class="col-lg-1">
                <img class="highlight-icons approval" src="/assets/img/approval.svg" />
            </div>
            <div class="col-lg-3">
                <div>APPROVAL IN HOURS</div>
                <div>Funded in as little as 3 days</div>
            </div>
        </div>
    </div>
    <!--Tablet-->
    <div class="container highlight-tablet">
        <div class="col-lg-12 row">
            <div>
                <img class="highlight-icons check-square" src="/assets/img/check-square.svg" />
            </div>
            <div class="col-lg-3">
                <div>BAD CREDIT NO PROBLEM</div>
                <div>No need to pledge your assets</div>
            </div>
            <div>
                <img class="highlight-icons" src="/assets/img/document.svg" />
            </div>
            <div class="col-lg-3">
                <div>MINIMAL DOCUMENTION</div>
                <div>Get qualified in minutes</div>
            </div>
            <div>
                <img class="highlight-icons approval" src="/assets/img/approval.svg" />
            </div>
            <div class="col-lg-3">
                <div>APPROVAL IN HOURS</div>
                <div>Funded in as little as 3 days</div>
            </div>
        </div>
    </div>


    <!--Mobile-->
    <div class="container highlight-minimalist">
        <div class="row">
            <div class="row content">
                <img class="highlight-icons check-square" src="/assets/img/check-square.svg" />
                <div class="letters">
                    BAD CREDIT NO PROBLEM
                    <div class="subtitle">No need to pledge your assets</div>
                </div>
            </div>
            <div class="row content document">
                <img class="highlight-icons" src="/assets/img/document.svg" />
                <div class="letters">
                    MINIMAL DOCUMENTION
                    <div class="subtitle">Get qualified in minutes</div>
                </div>
            </div>
            <div class="row content">
                <img class="highlight-icons approval" src="/assets/img/approval.svg" />
                <div class="letters">
                    APPROVAL IN HOURS
                    <div class="subtitle">Funded in as little as 3 days</div>
                </div>
            </div>
        </div>
    </div>

</section>