<section id="highlights">
    <div class="container">
        <div class="row">
            <ul class="highlights">
                <li>
                    <i class="far fa-check-circle"></i>
                    <div>Bad Credit</div>
                    <div>No Problem</div>
                </li>
                <li>
                    <i class="far fa-clock"></i>
                    <div>Pre-Qualified</div>
                    <div>In Minutes</div>
                </li>
                <li>
                    <i class="fas fa-dollar-sign"></i>
                    <div>Money in the bank</div>
                    <div>in as little as 3 days</div>
                </li>
            </ul>
        </div>
    </div>
</section>