<section id="highlights-new">
    <div class="container highlight">
        <div class="col-lg-12 row">
            <div class="col-lg-1">
                <img class="highlight-icons" src="assets/img/document.svg" />
            </div>
            <div class="col-lg-3 ">
                <div>BAD CREDIT NO PROBLEM</div>
                <div>No need to pledge your assets</div>
            </div>
            <div class="col-lg-1">
                <img class="highlight-icons" src="assets/img/document.svg" />
            </div>
            <div class="col-lg-3">
                <div>MINIMAL DOCUMENTION</div>
                <div>Get qualified in minutes</div>
            </div>
            <div class="col-lg-1">
                <img class="highlight-icons" src="assets/img/document.svg" />
            </div>
            <div class="col-lg-3">
                <div>APPROVAL IN HOURS</div>
                <div>Funded in as little as 3 days</div>
            </div>
        </div>
</section>