<section id="highlights">
    <div class="container">
        <div class="row">
            <ul class="highlights">
                <li>
                    <i class="far fa-clock"></i>
                    <div>Pre-Qualified</div>
                    <div>In minutes</div>
                </li>
                <li>
                    <i class="fas fa-dollar-sign"></i>
                    <div>Get 5K-500K</div>
                    <div>In Business Funding</div>
                </li>
                <li>
                    <i class="far fa-check-circle"></i>
                    <div>Get Funded</div>
                    <div>in as little as 3 days</div>
                </li>
            </ul>
        </div>
    </div>
</section>