<section id="how-we-do">
    <div class="main-container">
        <div class="container how-we-do">
            <div class="row">    
                <div class="row welcome-to">
                    <div class="line"></div>
                    <div class="title">
                            <h6>Welcome to One Park Financial</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 experience">
                <div>
                    <h2>Experience genuine <br>substantial business growth<span class="circle-dot">●</span></h2>
                </div>
            </div>
            <div class="col-lg-6 row">
                <div class="col-lg-6">
                    <span class="plus">+</span>
                    <h1 class="numbers">90</h1>
                    <h6 class="header-business">Business Increase</h6>
                    <hr/>
                    <h6 class="letters">Pursue sustainable  <br> development build on solid backgrounds.</h6>
                </div>
                <div class="col-lg-6">
                    <h1 class="numbers">200</h1>
                    <h6 class="header-business">Business Funded</h6>
                    <hr/>
                    <h6 class="letters">Pursue sustainable  <br> development build on solid backgrounds.</h6>
                </div>
                <div class="apply-now">
                    <a href="/pre-qualification" class="btn btn-primary">
                        WATCH HOW WE DO IT
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>