<section id="stats">
        <div class="row bckgs">
            <div class="col-lg-6 facts-bckg "></div>
            <div class="col-lg-6 video-bckg "></div>
        </div>

        <div class="row stats-info">
            <div class="container">
                <div class="play-btn">
                    <img src="/assets/img/play-btn.svg" alt="">
                </div>
                <div class="circle-responsive-3">
                    <div class="circle-responsive-2">
                        <div class="circle-responsive">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 facts-info">
                        <div class="line"></div>
                        <div class="hello">
                            <h6>Welcome to One Park Fiancial</h6>
                        </div>
                        <div class="headline">
                            <h2>Experience genuine substantial business growth.</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 numbers">
                                <h2>90<span>+</span></h2>
                                <h3>Business Funded</h3>
                                <hr/>
                                <p>Pursue sustainable development built on solid backgrounds.</p>
                            </div>
                            <div class="col-lg-6">
                                <h2>200<span>+</span></h2>
                                <h3>Business Increased</h3>
                                <hr/>
                                <p>Pursue sustainable development built on solid backgrounds.</p>
                            </div>
                            <div class="col-lg-12">
                                <div class="apply-now">
                                    <a href="/pre-qualification" class="btn btn-primary">
                                        WATCH HOW WE DO IT
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6 video">
                        <div class="video-cover">
                            <img src="/assets/img/video-cover.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


<section id="how-we-do">
    <div class="main-container">

        <div class="container how-we-do">


            <div class="row">
                <div class="row welcome-to">
                    <div class="line"></div>
                    <div class="title">
                        <h6>Welcome to One Park Financial</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 experience">
                <div>
                    <h2>Experience genuine <br>substantial business growth<span class="circle-dot">●</span></h2>
                </div>
            </div>
            <div class="col-lg-12 row">
                <div class="col-lg-3 left-side">
                    <span class="plus">+</span>
                    <h1 class="numbers">90</h1>
                    <h6 class="header-business">Business Increase</h6>
                    <hr/>
                    <h6 class="letters">Pursue sustainable <br> development build on solid backgrounds.</h6>
                    <br>
                    <div class="apply-now">
                        <a href="/pre-qualification" class="btn btn-primary">
                            WATCH HOW WE DO IT
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 left-side">
                    <h1 class="numbers">200</h1>
                    <h6 class="header-business">Business Funded</h6>
                    <hr/>
                    <h6 class="letters">Pursue sustainable <br>development build on solid backgrounds.</h6>
                </div>
                <div class="col-lg-2 image-container">
                    <img class="img-play" src="assets/img/play-image.svg"/>
                </div>
                <div class="col-lg-1 image-container">
                    <iframe class="bg-image" width="301" height="289" src="https://www.youtube.com/embed/R0kUmrtKlTE">
                    </iframe>
                </div>
            </div>



        </div>
    </div>
</section>

