<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Get Qualified in Minutes <span>& Funded in Days.</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>
                        <div>
                            <span>01</span>
                            <i class="fas fa-clock"></i>
                            <div>Get PreQualified</div>
                            <div>FAST</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span>02</span>
                            <i class="fas fa-user-tie"></i>
                            <div>Talk to Our</div>
                            <div>Experts</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span>03</span>
                            <i class="fas fa-file-signature"></i>
                            <div>Review your</div>
                            <div>Offers</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span>04</span>
                            <i class="fas fa-check-circle"></i>
                            <div>Get</div>
                            <div>Funded</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>ONE SIMPLE APPLICATION – OVER 20 FUNDERS AT YOUR DISPOSAL</h4>
                <a href="/pre-qualification" class="btn btn-primary">Get Funded</a>
            </div>
        </div>
    </div>
</section>