<section id="testimonials-new">
    <div class="row main-container ">
        <div class="main-container col-sm-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 row">
                        <div class="col-sm-6">
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
        <div class="right-container col-sm-6">
            <div class="we-succeed">
                <span class="first-title"> We succeed when you succeed!</span>
            </div>
            <div class="we-succeed">
                <span class="second-title"> But, don’t just take our word for it…</span>
            </div> 
            <div class="comment-customer">
                <div>
                    <img class="quotes" src="assets/img/quotes.png"/>
                </div>
                <div class="comment">
                    They took the time to get to know my financial situation. The agent was genuinely caring and considerate. It made me feel like a real person and not just a number.
                </div>
                <div class="row ratings">
                    <div class="col-sm-6">
                        <img class="kristie-img" src="assets/img/kristie.png"/>
                    </div>
                    <div class="col-sm-6">
                        <img class="stars-img" src="assets/img/stars-green.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12">
            <!-- TrustBox script -->
            <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
            <!-- End Trustbox script -->
            <!-- TrustBox widget - Carousel -->
            <div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="555cd8dd0000ff00057f8e1e" data-style-height="130px" data-style-width="100%" data-theme="light" data-stars="3,4,5" data-schema-type="Organization">
                <a href="https://www.trustpilot.com/review/oneparkfinancial.com" target="_blank">Trustpilot</a>
            </div>
            <!-- End TrustBox widget -->
        </div>
    </div>
</section>