<main>
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="description">
                        <h1>
                            <div class="what-we-do">¿Necesita capital</div>
                            <div class="why-we-do-it">de trabajo rápido?</div>
                        </h1>
                        <h4>AYUDAMOS A NEGOCIOS A CRECER CON OPCIONES <span>DE FINANCIAMIENTO <strong>FÁCILES</strong> Y SIN PROBLEMAS</span></h4>
                        <ul class="xl">
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>No se requiere garantía o plan de negocios.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Simplemente elija la oferta que más le convenga.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>La mayoría de los negocios reciben su depósito de capital de trabajo en solo días.</span>
                            </li>
                        </ul>
                        <ul class="xs">
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Colateral No Requerido</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Fondos en Menos de 3 Días</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Sin o Mal Crédito Aceptado</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="button-wrapper">
                        <a class="btn btn-primary" href="/es/preaprob">
                            <span>Sea Aprobado Ya</span>
                        </a>
                        <div class="phone">
                            <div class="text">¡Hable con un gestor de fondos!</div>
                            <a href="tel:+18006172020" data-ctm-watch-id="3" data-ctm-tracked="1">
                                <span class="number">1-800-617-2020</span>
                            </a>
                        </div>
                        <div class="slogan">El estándar en excelencia!</div>
                        <div class="badges">
                            <img src="/assets/img/BBB.png">
                            <img src="/assets/img/google-rating-4.5.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>La mayoría de los negocios califican en cuestión de minutos.</h2>
                    <p>Si usted es el propietario de una pequeña o mediana empresa y necesita financiación ahora, incluso si su crédito no es excelente, estamos aquí para ayudarle a encontrar fuentes de financiamiento empresarial que entienden las necesidades de las empresas más pequeñas y que trabajen con usted para ayudarle a alcanzar el éxito deseado. Ya sea que usted necesita $5,000 o $500,000 en fondos comerciales, nosotros podemos ayudarle a obtener una decisión de aprobación previa dentro de 24 horas, y si lo aprueban, tendrá acceso a los fondos que necesita en menos de 72 horas.</p>
                    <h3>UNA APLICACIÓN – MAS DE 20 INSTITUCIONES FINANCIERAS PARA APORTAR DINERO</h3>
                    <ul class="services-wrapper">
                        <li class="service">
                            <img src="/assets/img/circle6.jpg">
                            <div class="description">Mal crédito? <span>¡No hay problema!</span></div>
                        </li>
                        <li class="service">
                            <img src="/assets/img/circle7.jpg">
                            <div class="description">Aceptamos ingresos mensuales de $ 5,000 o más.</div>
                        </li>
                        <li class="service">
                            <img src="/assets/img/circle8.jpg">
                            <div class="description">Aceptamos negocios de 3 meses abiertos o más.</div>
                        </li>
                        <li class="service">
                            <img src="/assets/img/circle9.jpg">
                            <div class="description">Aceptamos aplicaciones de todos los estados de E.E.U.U.</div>
                        </li>
                        <li class="service">
                            <img src="/assets/img/circle10.jpg">
                            <div class="description">Ofrecemos nuestros servicios <span>a la mayoria de industrias.</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="call-to-action-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="flexed">
                        <h2>¿Listo para llevar a su negocio al próximo nivel?</h2>
                        <a href="/es/preaprob" class="btn btn-primary">¡APLIQUE AHORA!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:es/testimonials }}
    <section id="call-to-action-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="flexed">
                        <h2>Podemos ayudarle a construir el negocio que siempre se ha imaginado.</h2>
                        <a href="/es/preaprob" class="btn btn-primary">¡APLIQUE AHORA!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sobre-nosotros">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>¿Qué hace One Park Financial?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-5">
                    <div class="image-wrapper">
                        <div class="iframe-wrapper">
                            <iframe src="https://www.youtube.com/embed/J3oz31KghNM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="trustpilot-widget-wrapper">
                            <!-- TrustBox widget - Micro Star -->
                            <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="555cd8dd0000ff00057f8e1e" data-style-height="24px" data-style-width="100%" data-theme="light">
                                <a href="https://www.trustpilot.com/review/oneparkfinancial.com" target="_blank">Trustpilot</a>
                            </div>
                            <!-- End TrustBox widget -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-7">
                    <div class="description">
                        <p>En One Park Financial, entendemos que solicitar un préstamo bancario puede ser un proceso largo y extenuante para el cual muchos negocios pequeños y medianos no califican. Somos expertos en el conectar las empresas con las instituciones financieras adecuadas y, desde 2010, hemos estado haciendo una diferencia en las vidas de los dueños de negocios en todo el país.</p>
                        <p>Al trabajar con una amplia red de instituciones financieras (más de 20) que son capaces de ofrecer una amplia variedad de opciones de financiación y de fondos de dinero flexibles sin todos los problemas, obstáculos y juegos asociados a la financiación bancaria tradicional.</p>
                        <div class="advantages">
                            <h4>
                                <img src="/assets/img/leaf.png" width="20" height="16">
                                LAS VENTAJAS DE ONE PARK FINANCIAL
                            </h4>
                            <ul>
                                <li>Financiamiento de $5.000 a $500.000</li>
                                <li>Las decisiones de aprobación en menos de 24 horas</li>
                                <li>Obtenga El Dinero en menos de 72 Horas</li>
                                <li>Proceso sin complicaciones</li>
                                <li>No hay garantías requeridas</li>
                                <li>No hace falta un Plan de Negocios</li>
                                <li>Gratis, Pre-aprobación Sin Compromiso</li>
                                <li>Tarifas Competitivas Bajas</li>
                                <li>Créditos malos, incluyendo Quiebras y Gravámenes Fiscales Aceptados</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="call-to-action-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="flexed">
                        <h2>¡Obtenga Ahora Los Fondos Que Necesita Para Lograr El Éxito!</h2>
                        <a href="/es/preaprob" class="btn btn-primary">¡APLIQUE AHORA!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:es/products }}
    {{ partial:es/lp-form }}
</main>