<main>
    <section id="contact-us">
        <div class="container">
            <div class="intro" style="display: none">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Get in touch with an agent today!</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="description">
                            <p>At One Park Financial, we understand that applying for a bank loan can be a long, drawn out process that many small and mid-sized businesses will not qualify for. We are experts at pairing businesses with the right funders, and since 2010, we have been making a difference in the lives of business owners across the country.</p>
                            <p>By working with a large network of funders (over 20) we are able to offer a wide variety of flexible financing and funding options without all the hassles, hurdles and games associated with traditional bank financing.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="image-wrapper">
                            <div class="iframe-wrapper">
                                <img src="/assets/img/contact.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="form">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Contact Us</h2>
                        <div class="form">
                            {{ content }}
                            {{ form:create in="contact" }}
                            {{ if errors }}
                            <div class="alert alert-danger">
                                {{ errors }}
                                {{ value }}<br>
                                {{ /errors }}
                            </div>
                            {{ /if }}
                            {{ if success }}
                            <div class="alert alert-success">
                                Form was submitted successfully.
                            </div>
                            {{ /if }}
                            <input type="hidden" name="source" value="{{ current_uri }}"/>
                            <input type="hidden" name="utm_campaign" value="{{ get:utm_campaign | sanitize }}"/>
                            <input type="hidden" name="utm_source" value="{{ get:utm_source | sanitize }}"/>
                            <input type="hidden" name="utm_medium" value="{{ get:utm_medium | sanitize }}"/>
                            <input type="hidden" name="transaction_id" value="{{ get:transaction_id | sanitize }}"/>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="firstname" value="{{ old:firstname }}" class="form-control" placeholder="First name" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="lastname" value="{{ old:lastname }}" class="form-control" placeholder="Last Name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="business_name" value="{{ old:business_name }}" class="form-control" placeholder="Business Name"/>
                            </div>
                            <div class="form-group">
                                <input type="number" name="phone" value="{{ old:phone }}" class="form-control" placeholder="Contact Phone"/>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" value="{{ old:email }}" class="form-control" placeholder="Email"/>
                            </div>
                            <button class="btn btn-primary">Thank You</button>
                            {{ /form:create }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="map">
                            <ul class="locations">
                                <li class="active">
                                    <div>Office Location (HQ)</div>
                                    <div>3390 Mary Street Suite 216 <span>Coconut Grove, FL 33133</span></div>
                                </li>
                                <li>
                                    <div>Office Location</div>
                                    <div>1321 Upland Drive #1690 <span>Houston, TX 77043</span></div>
                                </li>
                                <li>
                                    <div>Contact Us</div>
                                    <div>1-888-327-0849 <span>info@oneparkfinancial.com</span></div>
                                </li>
                            </ul>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3594.2676822836884!2d-80.24224898497972!3d25.728659983651802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b7cefb237851%3A0x4431b2cfdad97c45!2s3390+Mary+St+%23216%2C+Coconut+Grove%2C+FL+33133!5e0!3m2!1sen!2sus!4v1548083441238" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:modules/testimonials }}
    {{ partial:modules/lp-form }}
</main>