<main>
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-7">
                    <div class="description">
                        <h3>
                            Ofrecemos una variedad de opciones de financiación flexibles diseñadas para ayudar a pequeñas y medianas
                            <br>
                            <span>empresas a tener éxito.</span>
                        </h3>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-5">
                    <div class="button-wrapper">
                        <a class="btn btn-primary" href="/es/preaprob">
                            <span>Siguiente</span>
                        </a>
                        <div class="badges">
                            <img src="/assets/img/BBB.png">
                            <img src="/assets/img/google-rating-4.5.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="description">
        <div class="container">
            <div class="text">
                <p>Estamos asociados con la mayoría de los prestamistas privados de la nación. Utilizamos nuestro amplio conocimiento y experiencia para conectarlo con el prestamista o prestamistas que más le convenga(n) a usted y a las necesidades particulares de su negocio. Esto a su vez significa que como nuestros prestamistas saben que trabajamos con varios socios, compiten activamente por su negocio. ¡Esto resulta en mejores tarifas y términos para usted! Además, nunca hay cuotas a pagar por adelantado o costos asociados por nuestros servicios.</p>
            </div>
        </div>
    </section>
    <section id="packages">
        <div class="container">
            <h2>6 Paquetes Especializados de Financiación</h2>
            <ul class="packages">
                <li id="revenue" class="package">
                    <div class="image-wrapper">
                        <img src="/assets/img/prod1a.jpg">
                    </div>
                    <div class="text">
                        <div class="badge">Package 1</div>
                        <h3>Préstamos Basados Sobre Ingresos o Avances de Efectivo para Comerciantes (sin colateral, activos o acciones)</h3>
                        <p>Un préstamo no-asegurado basado sobre ingresos es la forma más común de financiar un negocio. Son los más fáciles de adquirir y usualmente los fondos se desembolsan en 2 o 3 días. No se requiere colateral ni activos, y la calificación de crédito no es un obstáculo para conseguir financiamiento. One Park Financial trabaja con docenas de prestamistas privados que ofrecen de $5,000 a $500,000 en capital de trabajo. Las tasas y los términos varían de 18% a 35% y duran de 4 a 18 meses, dependiendo de la situación específica del comerciante. Uno de nuestros especialistas le guiará en el proceso y le dará los detalles sobre lo que puede esperar.</p>
                        <a href="/es/preaprob?package=1" class="btn btn-primary">¡Comience Ahora!</a>
                    </div>
                </li>
                <li id="asset" class="package">
                    <div class="image-wrapper">
                        <img src="/assets/img/prod2a.jpg">
                    </div>
                    <div class="text">
                        <div class="badge">Package 2</div>
                        <h3>Préstamos Para Activos</h3>
                        <p>Este tipo de préstamo está asegurado por algún activo, ya sea propiedad, vehículo o equipos. La estructura del préstamo es igual a la de un préstamo no-asegurado, pero está apoyada por colateral. Básicamente, un préstamo para activos se refiere a cualquier tipo de préstamo asegurado por un activo. En este sentido, una hipoteca es un ejemplo de un préstamo para activo. Sin embargo, la frase se utiliza comúnmente para describir préstamos a negocios o grandes corporaciones utilizando activos que comúnmente no se utilizan en otro tipo de préstamos. Típicamente, estos préstamos están atados a inventario, cuentas por cobrar, maquinaria y equipos. Las tasas son más bajas que con un préstamo no-asegurado y los términos pueden variar de 6 a 18 meses. Uno de nuestros especialistas le guiará en el proceso y le dará los detalles sobre lo que puede esperar.</p>
                        <a href="/es/preaprob?package=2" class="btn btn-primary">¡Comience Ahora!</a>
                    </div>
                </li>
                <li id="hardmoney" class="package">
                    <div class="image-wrapper">
                        <img src="/assets/img/prod1.jpg">
                    </div>
                    <div class="text">
                        <div class="badge">Package 3</div>
                        <h3>Préstamos de Dinero Duro</h3>
                        <p>Un préstamo de dinero duro es un tipo específico de financiamiento para activos a través del cual el prestatario recibe fondos asegurados por el valor de una parcela de bienes raíces. Usualmente, las tasas son más altas, dado el alto riesgo para el prestamista. La mayoría de los préstamos de dinero duro se utilizan para proyectos con duración de meses hasta años. Esta opción se puede utilizar para obtener un préstamo sobre alguna propiedad perteneciente al prestatario o una propiedad que va a ser comprada. Las tasas fluctúan entre 5 y 17%, y usualmente duran de 12 a 18 meses. Uno de nuestros especialistas le guiará en el proceso y le dará los detalles sobre lo que puede esperar. </p>
                        <a href="/es/preaprob?package=3" class="btn btn-primary">¡Comience Ahora!</a>
                    </div>
                </li>
                <li id="equipment" class="package">
                    <div class="image-wrapper">
                        <img src="/assets/img/prod2.jpg">
                    </div>
                    <div class="text">
                        <div class="badge">Package 4</div>
                        <h3>Alquiler de Equipos</h3>
                        <p>Este es un proceso en el cual un negocio puede obtener el uso de ciertos activos fijos, por los cuales deberá pagar una serie de pagos contractuales periódicos y deducibles de impuestos. Similar al arrendamiento de un auto, ofrece la opción a compra. Esta es una buena opción para negocios que requieren el uso de maquinaria, camiones grandes, y equipo de construcción o de oficina. Las tasas varían entre 7% y 19% y usualmente duran de 2 a 4 años. Una vez pago, el equipo le pertenece al prestamista. Uno de nuestros especialistas le guiará en el proceso y le dará los detalles sobre lo que puede esperar. </p>
                        <a href="/es/preaprob?package=4" class="btn btn-primary">¡Comience Ahora!</a>
                    </div>
                </li>
                <li id="factoring" class="package">
                    <div class="image-wrapper">
                        <img src="/assets/img/prod3.jpg">
                    </div>
                    <div class="text">
                        <div class="badge">Package 5</div>
                        <h3>Cuentas por Cobrar</h3>
                        <p>Este es un tipo de transacción financiera en la cual un negocio vende sus cuentas por cobrar (facturas) a un tercero a un descuento. Usualmente se utiliza como un préstamo a corto plazo, o puente. El préstamo se hace sobre labor o bienes que se han completado o entregado. Las tasas son tan bajas como 5% o 6% y usualmente el término es de 1 a 3 meses. Uno de nuestros especialistas le guiará en el proceso y le dará los detalles sobre lo que puede esperar</p>
                        <a href="/es/preaprob?package=5" class="btn btn-primary">¡Comience Ahora!</a>
                    </div>
                </li>
                <li id="vip" class="package">
                    <div class="image-wrapper">
                        <img src="/assets/img/prod4.jpg">
                    </div>
                    <div class="text">
                        <div class="badge">Package 6</div>
                        <h3>Financiamiento VIP</h3>
                        <p>Este tipo de financiamiento acapara inversiones de deuda intermedia (mezzanine), por título de renta variable, deudas principales y subalternas, incorporaciones y adquisiciones, o inversiones de sociedad o sindicatos. One Park Financial cuenta con los expertos y las relaciones para exitosamente financiar aquellos casos particulares que buscan más de $500,000. Uno de nuestros especialistas le guiará en el proceso y le dará los detalles sobre lo que puede esperar</p>
                        <a href="/es/preaprob?package=6" class="btn btn-primary">¡Comience Ahora!</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>