<main>
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="description">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="policy">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="wpb_wrapper">
                        <p>
                            At One Park Financial (OPF For purposes of this document), we respect your privacy
                            rights and are committed to protecting the information we collect from you and the
                            information that you furnish to us. The information you provide to OPF may reveal,
                            or allow others to identify, your gender, age, business, business address, credit
                            score and other aspects of your life and business information. By providing
                            information to us for the purposes of applying for funding or inquiring about any of
                            OPF and its affiliates products or services, you are expressly and voluntarily
                            accepting the terms and conditions of this Privacy Policy. Supplying information to
                            OPF, including any information deemed “sensitive” by applicable law, is entirely
                            voluntary on your part.
                        </p>
                        <p>Submitting the electronic pre-qualification “Get Funded” form confirms your interest
                            in pursuing business funding from OPF. After we receive your “Get Funded” form, a
                            funding manager will contact you regarding next steps to attain a final decision.
                            Next steps will include an application and further documents needed to assess a
                            final decision needed to approve your business cash advance.<br>
                            This Privacy Policy describes how OPF (“OPF”) collects and manages information when
                            you:</p>
                        <ul>
                            <li>access our website or use mobile applications</li>
                            <li>fill out any part of the form on our website or any webpage on our website</li>
                            <li>open and respond to our e-mails</li>
                            <li>visit any page online that displays our ads or content</li>
                            <li>visit any of our blogs, social media outlets, or affiliated websites</li>
                            <li>directly call OPF or its affiliates with phone numbers provided through any and all marketing and lead generation sources</li>
                            <li>provide information to OPF employees through email, phone, or facsimile</li>
                            <li>interact with our advertising and applications on third-party websites and services, if those applications or advertising include links to this policy</li>
                        </ul>
                        <p>
                            It does not apply to the collection of information in any way other than as listed
                            above. Please read this Privacy Policy carefully to understand our policies and
                            practices regarding your information and how we will treat it. By accessing or using
                            our website or other services described above, you agree to this Privacy Policy.
                            This Privacy Policy may change from time to time, so please check the Privacy Policy
                            periodically for updates. All Internet sites have the ability to collect information
                            about you. We encourage you to read the privacy policies of every site you
                            visit.
                        </p>
                        <p>
                            It does not apply to the collection of information in any way other than as listed
                            above. Please read this Privacy Policy carefully to understand our policies and
                            practices regarding your information and how we will treat it. By accessing or using
                            our website or other services described above, you agree to this Privacy Policy.
                            This Privacy Policy may change from time to time, so please check the Privacy Policy
                            periodically for updates. All Internet sites have the ability to collect information
                            about you. We encourage you to read the privacy policies of every site you
                            visit.
                        </p>
                        <h3>Collection and Use</h3>
                        <p>
                            Sometimes we collect information from and about you when you use our website or other
                            applications, including information:
                        </p>
                        <ul>
                            <li>by which you may be personally identified, such as name, postal address, e-mail address or telephone number</li>
                            <li>about your internet connection, the equipment you use to access our website and applications, and usage details</li>
                        </ul>
                        <p>
                            Sometimes you give information directly to us (or our Vendors and Affiliates). For
                            example, but not limited to the following, when you:
                        </p>
                        <ul>
                            <li>provide it to us directly by filling out an online application</li>
                            <li>log into your account</li>
                            <li>provide location information from your mobile device</li>
                            <li>contact us and we save records of correspondence, which may contain information such as e-mail addresses</li>
                        </ul>
                        <p>
                            Sometimes we (or our Vendors and Affiliates) collect information through Cookies or
                            Other Web Technologies. For example, we may record information:
                        </p>
                        <ul>
                            <li>about your operating system, browser version, IP Address, and mobile device</li>
                            <li>on our sites about the web pages that you view</li>
                            <li>information you search for</li>
                            <li>which ads or web content from us or our vendors and affiliates you click to or view on our sites or on third-party sites</li>
                            <li>when you open our e-mails or click on any of its links</li>
                        </ul>
                        <h5>USE OF COOKIES, IP ADDRESSES AND WEB BEACON</h5>
                        <p>
                            Cookies are small text files that a website might place on your hard drive whenever
                            you visit the website. Their purpose is to identify files on your computer and
                            record your preferences and other data about your visit to our website so that when
                            you return to the website we are aware of who you are and can help personalize your
                            next visit here. Please note that cookies may be linked to personal information
                            about you. The use of cookies allows us to keep track of your shopping cart and wish
                            lists and may (if you do not disable or refuse the use of a cookie) prevent you from
                            having to reenter your information at each connection.
                        </p>
                        <p>
                            There may be a time that we use the information collected by the cookies as well as
                            other tools such as log files or web beacons for additional purposes such as to
                            determine how OPF, may improve our website by seeing which features, areas and
                            products are most popular. This would enable us to personalize the website
                            experience and allow making recommendations to you based upon your link history.
                            Please note that most internet browsers are automatically preset to accept all
                            cookies. In the event you choose to disable this function some areas of our website
                            may not function properly.
                        </p>
                        <p>
                            in addition to cookies and log files we do at times use a common internet technology
                            called “web beacons”. These are small graphic images placed on a web page, web based
                            document, or an email address that is designed specifically to allow us or our third
                            parties vendors to collect certain information and monitor use activity on our
                            website. Please note these are invisible to the user because they are typically very
                            small. In furtherance of our Privacy Policy please note we do not use web beacons to
                            collect the personal information about you. We may use them to collect non-personal
                            information such as IP addresses of the computer that the web beacon said to, the
                            URL of the page where the web user comes from and the time the web beacon is
                            activated.
                        </p>
                        <h5>What other choices do you have?</h5>
                        <p>
                            Most computer systems and browsers offer their own privacy settings. We encourage you
                            to use them to enhance your choices. Most browsers’ advanced settings allow you to
                            disable Cookies. However, if you do so, some site features and services may not
                            work. You can also:
                        </p>
                        <ul>
                            <li>register for the National Do Not Call List at donotcall.gov/default.aspx</li>
                            <li>register for the Direct Marketing Association’s Mail Preference Service at dmachoice.org/MPS/proto1.php</li>
                            <li>click unsubscribe on the bottom of e-mails and follow the instructions</li>
                            <li>request to be DNC’d (added to our Do Not Call list) from an OPF employee or OPF Affiliate employee</li>
                        </ul>
                        <h5>How Do We Use The Information We Collect?</h5>
                        <p>
                            We (or our Vendors and Affiliates) use information collected as described in this
                            Privacy Policy , sometimes combined with information from other sources, in the
                            following ways:
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="wpb_wrapper">
                        <ul class="no-margin-top">
                            <li>To deliver products and services</li>
                            <li>recognize you when you return to our sites</li>
                            <li>process applications</li>
                            <li>tell you about updates to your accounts, products, and services</li>
                            <li>answer questions and respond to your requests</li>
                            <li>make our sites easier to use</li>
                            <li>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection</li>
                            <li>To advertise and market our products and services to you by some or all of the following methods of communication and presentations:</li>
                            <li>present targeted ads</li>
                            <li>on this and other sites you visit</li>
                            <li>through e-mail</li>
                            <li>through direct mail</li>
                            <li>through telemarketing</li>
                            <li>through text messaging</li>
                            <li>through phone call broadcasting</li>
                            <li>analyze the effectiveness of ads</li>
                            <li>determine whether you would be interested in new products or services</li>
                            <li>To conduct research and analysis</li>
                            <li>analyze data to prevent fraud and better understand our customers and site
                                visitors
                            </li>
                            <li>To fulfill any other purpose for which you provide the information and in any
                                way we may describe when you provide the information
                            </li>
                            <li>For any other purpose with your consent</li>
                        </ul>
                        <h3>Disclosure of Your Information</h3>
                        <p>Disclosure By Law: You acknowledge and agree that we may disclose information you
                            provide if required to do so by law, at the request of a third party, or if we, in
                            our sole discretion, believe that disclosure is 8reasonable to (1) comply with the
                            law, requests or orders from law enforcement, or any legal process (whether or not
                            such disclosure is required by applicable law) and (2) protect or defend OPF´s, or a
                            third party´s, rights or property.</p>
                        <p>Disclosure to Trusted Third Parties By Us: We may share and/or sell your information
                            with or to third parties, but only in accordance with this Privacy Policy, the Terms
                            of Use of www.oneparkfinancial.com and to fulfill your requests for certain products
                            and services. By accepting the Terms of Use of www.oneparkfinancial.com, you agree
                            to receive various marketing materials from our trusted third parties. We are not
                            responsible for the material of the third parties or their actions. Your information
                            may also be shared with third-party contractors that provide services to OPF and are
                            bound by this privacy policy. Your information will be treated as private and
                            confidential by such third parties and not used for any other purpose than we
                            authorize. In addition, from time to time, we may share personal information (such
                            as e-mail or mailing address) about our user base with carefully selected third
                            parties, so they can offer goods and services that we believe may be of interest to
                            our users. If you do not wish to receive offers from our trusted partners, you can
                            change your e-mail preferences at any time by following the steps outlined in the
                            “Choice/Opt-Out” section below.</p>
                        <h5>We may also disclose your personal information:</h5>
                        <p>To comply with any court order, law or legal process, including to respond to any
                            government or regulatory request.</p>
                        <p>To enforce or apply our terms of use or terms of sale and other agreements, including
                            for billing and collection purposes.</p>
                        <p>If we believe disclosure is necessary or appropriate to protect the rights, property,
                            or safety of OPF, our customers or others. This includes exchanging information with
                            other companies and organizations for the purposes of fraud protection and credit
                            risk reduction.</p>
                        <h5>How do we keep your Personal Information safe and secure?</h5>
                        <p>We use reasonable administrative, technical, and physical security measures to
                            protect your Personal Information. These measures include computer safeguards and
                            secured files and buildings. Please do not send us any Personal Information through
                            unsecured channels, including e-mail or social media sites. The safety and security
                            of your information also depends on you. Where we have given you (or where you have
                            chosen) a password, you are responsible for keeping this password confidential. We
                            ask you not to share your password with anyone. Unfortunately, the transmission of
                            information via the internet is not completely secure. Although we do our best to
                            protect your personal information, we cannot guarantee the security of your personal
                            information transmitted to our website or to OPF through other means of
                            communication. Any transmission of personal information is at your own risk. We are
                            not responsible for circumvention of any privacy settings or security measures
                            contained on any of our applications, including our website.</p>
                        <h5>Accessing and Correcting Your Information</h5>
                        <p>You can review and change your personal information by logging into our website and
                            visiting your account profile page.</p>
                        <p>You may also send us an e-mail at info@oneparkfinancial.com to request access to,
                            correct or delete any personal information that you have provided to us. We cannot
                            delete your personal information except by also deleting your user account. We may
                            not accommodate a request to change information if we believe the change would
                            violate any law or legal requirement or cause the information to be incorrect.</p>
                        <h5>Opt-Out Policy</h5>
                        <p>OPF and your business partners may contact you to offer you products and services
                            that may of interest to you. To opt-out of receiving emails, telephone solicitations
                            or other forms of contact from OPF, and our trusted business partners regarding
                            other products and services, please send an email to info@oneparkfinancial.com with
                            “Opt-Out” in the Subject line, or a letter by postal mail to:</p>
                        <p>One Park Financial<br>
                            4651 Salisbury Road, Suite 400<br>
                            Jacksonville, Florida 32256</p>
                        <p>You must include your full name and business mailing email addresses and account
                            number. Once we locate your contact information based on the information you provide
                            us, it will be removed from our databases and mailings lists.</p>
                        <h5>Your California Privacy Rights</h5>
                        <p>California Civil Code Section §1798.83 permits users of our website that are
                            California residents to request certain information regarding our disclosure of
                            personal information to third parties for their direct marketing purposes. To make
                            such a request, please send an e-mail to info@oneparkfinancial.com or write us at:
                            4651 Salisbury Road, Suite 400 ,Jacksonville, Florida 32256.</p>
                        <h5>Children under 13</h5>
                        <p>OPF’s sites are not for children under 13 years old. We do not knowingly solicit data
                            online from, or market online to, children under 13. If we knowingly receive a
                            child’s Personal Information, we will delete it from our systems.</p>
                        <h5>Can this Privacy Policy change?</h5>
                        <p>We may change this Privacy Policy at any time. Changes are effective when we post
                            them on this site and we encourage you to visit this site frequently for updates, as
                            these updates will only be made available through this site unless otherwise and
                            specifically requested from you. The date the Privacy Policy was last revised is
                            identified at the top of the page.</p>
                        <h5>Questions About this Privacy Policy</h5>
                        <p>If you have questions about this Privacy Policy, email us at
                            info@oneparkfinancial.com.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:modules/lp-form }}
</main>