<footer>
    <div class="container">
        <div class="row brand-links">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <h3>MENÚ</h3>
                <ul class="links">
                    <li class="link">
                        <a href="/es">Página de Inicio</a>
                    </li>
                    <li class="link">
                        <a href="/es/como-trabaja">Cómo Funciona</a>
                    </li>
                    <li class="link">
                        <a href="/es/sobre-nosotros">Sobre nosotros</a>
                    </li>
                    <li class="link">
                        <a href="/es/medios">Centro de Prensa</a>
                    </li>
                    <li class="link">
                        <a href="/es/articulos">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <h3>Asuntos Legales</h3>
                <ul class="links">
                    <li class="link">
                        <a href="/es/contactenos">Comuníquese Con Nosotros</a>
                    </li>
                    <li class="link">
                        <a href="/es/politica-de-privacidad">Política de Privacidad</a>
                    </li>
                    <li class="link">
                        <a href="/es/condiciones-de-uso">Condiciones de Uso</a>
                    </li>
                    <li class="link">
                        <a href="/es/preguntas-comunes">FAQs</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <h3>Dirección</h3>
                <ul class="locations">
                    <li>
                        <span>3390 Mary Street, Suite 216, Coconut Grove FL 33133</span>
                    </li>
                    <li>
                        <hr>
                    </li>
                    <li>
                        <span>1321 Upland Drive #1690, Houston TX 77043</span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 contact-us">
                <h3>Contáctenos</h3>
                <div class="question">Preguntas? Hable con un experto en financiamiento hoy.</div>
                <div class="phone">
                    <a href="tel:+18885183475">
                        <span class="number">1-888-518-3475</span>
                    </a>
                </div>
                <div class="email">
                    <span>info@oneparkfinancial.com</span>
                    <span>www.oneparkfinancial.com</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row brand-info">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="/" class="logo">
                    <img src="/assets/img/logo-white.png">
                </a>
                <div class="copyright">&copy;{{ now format="Y" }} {{ site_name }}. Todos los derechos reservados.</div>
                <div class="notice">Las ofertas de financiamiento tienen un plazo de al menos 60 días.</div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4">
                <h3>Síguenos en las redes sociales</h3>
                <ul class="social-media">
                    <li>
                        <a href="//www.facebook.com/oneparkfinancial" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="//twitter.com/1ParkFinancial" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="//www.linkedin.com/company/9205817?trk=tyah&trkInfo=tarId%3A1418469295382%2Ctas%3Aone%20park%20finan%2Cidx%3A1-1-1" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="//www.youtube.com/channel/UCLbRwJ0G_PJR4tiC3_N8zbQ" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="badget">
                    <ul class="badgets">
                        <li>
                            <img src="/assets/img/comodo-white.png">
                        </li>
                        <li>
                            <img src="/assets/img/bbb-white.png">
                        </li>
                        <li>
                            <img src="/assets/img/badget-2019.png">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>