<footer>
    <div class="container">
        <div class="row brand-info">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="/" class="logo">
                    <img src="/assets/img/logo-white.png">
                </a>
                <div class="copyright">&copy;{{ now format="Y" }} {{ site_name }}. Todos los derechos reservados.</div>
                <div class="notice">Las ofertas de financiamiento tienen un plazo de al menos 60 días.</div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4">
                <h3>Legal</h3>
                <ul>
                    <li class="link">
                        <a href="/es/politica-de-privacidad">Política de Privacidad</a>
                    </li>
                    <li class="link">
                        <a href="/es/condiciones-de-uso">Condiciones de Uso</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="badget">
                    <ul class="badgets">
                        <li>
                            <img src="/assets/img/comodo-white.png">
                        </li>
                        <li>
                            <img src="/assets/img/bbb-white.png">
                        </li>
                        <li>
                            <img src="/assets/img/badget-2019.png">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>