<main>
    <section class="hero">
        <div class="column left color-1">
            <div class="content-wrapper callout">
                <div class="content">
                    <div class="main">
                        <div class="logo">
                            <a href="{{ link to='/' }}">
                                <img src="/assets/img/one-park-logo-white.png" alt="{{ site_name }}">
                            </a>
                        </div>
                        <div class="product">
                            <span>Login</span>
                            <span>Funding for small-medium size business.</span>
                        </div>
                        <div class="copyright">
                            ® 2019 {{ site_name }}. All rights reserved
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column right color-2">
            <div class="content-wrapper">
                <div class="content">
                    <fieldset class="form">
                        <article class="content">
                            {{ user:login_form redirect="/" }}
                            {{ if errors }}
                            <div class="alert alert-danger">
                                {{ errors }}
                                {{ value }}<br>
                                {{ /errors }}
                            </div>
                            {{ /if }}
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" name="username" value="{{ old:username }}" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" value="{{ old:password }}" class="form-control" />
                            </div>
                            <div class="form-group">
                                <div class="button-group">
                                    <button class="btn btn-primary">Log in</button>
                                    <a href="/forgot-password">Forgot password?</a>
                                </div>
                            </div>
                            {{ /user:login_form }}
                        </article>
                    </fieldset>
                </div>
            </div>
        </div>
    </section>
</main>