<main>
    <section id="how-it-works">
        <div class="container">
            <div class="intro">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Cómo Funciona</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="description">
                            <p>En One Park Financial, entendemos que solicitar un préstamo bancario puede ser un proceso largo y prolongado para el cual muchas pequeñas y medianas empresas no calificarán. Somos expertos en emparejar negocios con los financiadores adecuados, y desde 2010, hemos estado marcando una diferencia en las vidas de los dueños de empresas en todo el país.</p>
                            <p>Al trabajar con una gran red de financiadores (más de 20), podemos ofrecer una amplia variedad de opciones flexibles de financiación y financiamiento las complicaciones, obstáculos y juegos asociados con el financiamiento bancario tradicional.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="image-wrapper">
                            <div class="iframe-wrapper">
                                <iframe src="https://www.youtube.com/embed/J3oz31KghNM?rel=0&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="trustpilot-widget-wrapper">
                                <!-- TrustBox widget - Micro Star -->
                                <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="555cd8dd0000ff00057f8e1e" data-style-height="24px" data-style-width="100%" data-theme="light">
                                    <a href="https://www.trustpilot.com/review/oneparkfinancial.com" target="_blank">Trustpilot</a>
                                </div>
                                <!-- End TrustBox widget -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="requirements">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Requisitos Mínimos de Calificación</h2>
                        <h3>Obtenga Calificación en minutos y Financiación en pocos días</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <ul class="items">
                            <li>
                                <div class="left">
                                    <span>AÑOS DE NEGOCIO</span>
                                </div>
                                <div class="right">
                                    <p>
                                        Trabajamos con empresas abiertas por más de 3 meses.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <span>INGRESOS COMERCIALES</span>
                                </div>
                                <div class="right">
                                    <p>
                                        Trabajamos con ingresos de $5,000 o más.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <span>Crédito Personal</span>
                                </div>
                                <div class="right">
                                    <p>
                                        Problemas Con Su Crédito No hay problema
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <span>Sectores</span>
                                </div>
                                <div class="right">
                                    <p>
                                        Trabajamos con una mayoría de industrias.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="description">
                            <p>Con el mínimo papeleo requerido y un sencillo proceso de solicitud en línea, los dueños de empresas ya no necesitan esperar en la fila en un banco para obtener financiación. Nuestro mercado en línea totalmente automatizado está diseñado para obtener resultados reales para pequeñas empresas, ahorrándoles tiempo y dinero.</p>
                            <p>Póngase en contacto con nosotros para su evaluación de precalificación gratuita, sin obligación alguna. Podemos ayudarlo a encontrar los fondos comerciales que necesita, incluso si tiene un crédito imperfecto o si ha experimentado otros desafíos que le impiden adquirir un préstamo bancario o un préstamo comercial tradicional.</p>
                            <a href="/es/preaprob" class="btn btn-primary">Obtenga fondos ahora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="process">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Nuestro Sencillo y Directo</h2>
                        <h3>Proceso de Financiación Empresarial</h3>
                    </div>
                </div>
                {{ partial:modules/es/circles }}
            </div>
        </div>
        {{ partial:modules/es/testimonials }}
        <div class="advantages">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Las Ventajas de One Park</h2>
                        <p>En One Park Financial, sabemos que asegurar capital circulante es difícil para las pequeñas y medianas empresas. Creemos que usted merece tener las mismas excelentes opciones de financiación comercial que las grandes empresas. Por lo tanto, lo ayudamos a encontrar fuentes de financiación que cumplan con los requisitos de las empresas más pequeñas, y brinden acceso rápido y flexible al capital circulante que necesita para tener éxito.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ol>
                            <li>
                                <i class="far fa-check-circle"></i>
                                Financiamiento de $5,000 a $500,000
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                Decisiones de Calificación en Menos de 24 Horas
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                Financiación en tan poco como 72 Horas
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                Proceso Libre de complicaciones
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                No Se Requiere Garantía.
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                No Se requiere un Plan de Empresa
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                Precalificación Gratis y Sin Compromiso
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                Bajas Tasas Competitivas
                            </li>
                            <li>
                                <i class="far fa-check-circle"></i>
                                Aceptamos Mal Crédito, Incluyendo Bancarrotas y Gravámenes Fiscales
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        {{ partial:modules/es/products }}
    </section>
    {{ partial:modules/es/lp-form }}
</main>