<header>
    <nav id="menu" class="container" role="navigation">
        <ul class="languages">
            <li class="en"><a href="/{{ en_url }}"><span>English</span></a></li>
            <li class="es active"><a href="{{ current_url }}"><span>Español</span></a></li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div id="nav-menu" class="right collapse navbar-collapse">
            <ul>
                <li class="funding-options">
                    <a href="#products">
                        Opciones de financiación
                    </a>
                </li>
                <li class="about-us">
                    <a href="/es/#sobre-nosotros">
                        Sobre Nosotros
                    </a>
                </li>
                <li class="press">
                    <a href="/es/medios">
                        En Los Medios
                    </a>
                </li>
                <li class="faqs">
                    <a href="/es/preguntas-comunes">
                        Preguntas Comunes
                    </a>
                </li>
                <li class="contact-us">
                    <a href="/es/preaprob" class="btn btn-primary">
                        Aplique Ahora
                    </a>
                </li>
                {{ if logged_in }}
                    <li>
                        <a href="{{ user:logout_url }}">Log out</a>
                    </li>
                {{ /if }}
            </ul>
        </div>
    </nav>
    <nav id="branding" class="container" role="navigation">
        <ul class="branding">
            <li class="logo mr-auto">
                <a href="/es" class="logo" title="{{ site_name }} home">
                    {{site_name}}
                </a>
            </li>
            <li class="phone">
                <a href="tel:+18006172020" data-ctm-watch-id="3" data-ctm-tracked="1">
                    <span class="text">¡Hable con un gestor de fondos hoy! </span>
                    <span class="number">1-800-617-2020</span>
                </a>
            </li>
            <li class="join-now">
                <a href="tel:+18883269650" data-ctm-watch-id="3" data-ctm-tracked="1">
                    <span class="text">Obtenga Fondos</span>
                    <span class="number">1-888-326-9650</span>
                </a>
            </li>
        </ul>
    </nav>
</header>