<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Opciones de Financiación para su empresa pequeña o mediana</h2>
                <h3>¡Obtenga Ahora Los Fondos Que Necesita Para Lograr El Éxito!</h3>
                <p>¿Necesita usted financiación para llevar su empresa al próximo nivel de crecimiento o para cumplir con obligaciones críticas, pero no desea esperar la aprobación de un préstamo bancario empresarial? Quizá como muchas empresas pequeñas o medianas es posible que no califique fácilmente para las ofertas de préstamos comerciales tradicionales. Si este es su caso, no hay por qué preocuparse. iEstamos aquí para ayudarle!</p>
                <p>En One Park Financial creemos que su empresa debería tener acceso inmediato a capital circulante igual que las grandes corporaciones. Por lo tanto, lo emparejamos con financiadores que se enfocan en trabajar con pequeñas y medianas empresas, y quienes felizmente trabajan con personas cuya calificación crediticia quizá no sea la más perfecta.</p>
                <h4>Estas son algunas de las opciones de financiación que le podemos ayudar a conseguir:</h4>
                <ul class="products-wrapper">
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/mancomp.jpg">
                        </div>
                        <div class="description">
                            <h4>AVANCES EN EFECTIVO DE COMERCIANTE (MCA)</h4>
                            <p>Obtenga rápidamente el dinero que necesita para hacer crecer su negocio. La financiación está disponible hasta la suma de $500,000 de los ingresos brutos mensuales de su negocio.</p>
                            <a href="#lp-form" class="btn">Aplique Ahora</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/lady.jpg">
                        </div>
                        <div class="description">
                            <h4>FINANCIACIÓN BASADA EN INGRESOS</h4>
                            <p>Haga que el equipo o el inventario de su empresa trabaje para usted, con anticipos de hasta $ 2,500,000 según el valor de los activos comerciales.</p>
                            <a href="#lp-form" class="btn">Aplique Ahora</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/ladykitch.jpg">
                        </div>
                        <div class="description">
                            <h4>FINANCIACIÓN DE EQUIPOS</h4>
                            <p>¿Necesita equipos para llevar su negocio al siguiente nivel de éxito? Podemos conectarlo con fuentes de financiamiento para vehículos, maquinaria pesada, cargador frontal y otros tipos de equipamiento.</p>
                            <a href="#lp-form" class="btn">Aplique Ahora</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/office.jpg">
                        </div>
                        <div class="description">
                            <h4>FACTORAJE DE CRÉDITOS </h4>
                            <p>Los propietarios de pequeñas y medianas empresas a menudo se encuentran esperando que los clientes paguen sus facturas. Llene esa brecha financiera con un financiamiento de hasta $5,000,000 en base a las facturas que actualmente están pendientes de pago. ¿Por qué esperar? Reciba su pago ahora.</p>
                            <a href="#lp-form" class="btn">Aplique Ahora</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/men.jpg">
                        </div>
                        <div class="description">
                            <h4>FINANCIACIÓN BASADA EN ACTIVOS</h4>
                            <p>Aproveche los activos actuales de su empresa para satisfacer sus necesidades de capital circulante en el próximo nivel de crecimiento. Use lo que tiene ahora para asegurar el deseado éxito futuro.</p>
                            <a href="#lp-form" class="btn">Aplique Ahora</a>
                        </div>
                    </li>
                    <li class="product">
                        <div class="image-wrapper">
                            <img src="/assets/img/manchill100.jpg">
                        </div>
                        <div class="description">
                            <h4>FONDOS PARA PEQUEÑAS EMPRESAS</h4>
                            <p>Construya sobre el éxito ya alcanzado con una financiación de hasta $500,000, según el ingreso bruto comercial mensual.</p>
                            <a href="#lp-form" class="btn">Aplique Ahora</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>