<main>
    <div class="container">
        <section id="press-releases">
            <div class="heading">
                <h1>{{ title }}</h1>
            </div>
            <article class="list">
                {{ collection:press paginate="true" as="posts" limit="4" locale="{ locale }" }}
                <ul>
                    {{ posts scope="tag" }}
                    {{ partial:block }}
                    {{ /posts }}
                </ul>
                {{ partial:pagination }}
                {{ /collection:press }}
            </article>
        </section>
    </div>
    {{ partial:lp-form }}
</main>