<main>
    {{ FormStackAddon:congrats }}
        {{ if ! status }}
            {{ redirect to="{ url }" }}
        {{ /if }}
        <section id="form">
            <div class="container">
                <div class="row">
                    <div class="form">
                        <div id="prequalifed-content">
                            <h1>You've been pre-qualified</h1>
                            <img src="/assets/img/checkmark.png">
                            <div>
                                <p>{{ first_name }}, you have been pre-qualified for </p>
                            </div>
                            <div>
                                <p class="amount">
                                    <span>${{ qualified }}</span>
                                </p>
                            </div>
                            <div>
                                <p>in working capital for {{ business.name }}</p>
                            </div>
                            <br>
                            <p>Not enough? Don’t sweat it. The pre-qualification amount can change, based on your unique business situation</p>
                            <p><strong>Let’s complete your application below</strong></p>
                        </div>
                        <div>
                            <script type="text/javascript" src="https://oneparkfinancial.formstack.com/forms/js.php/{{ form }}?{{ rest_request }}"></script>
                            <noscript>
                                <a href="https://oneparkfinancial.formstack.com/forms/{{ form }}" title="Online Form"></a>
                            </noscript>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{ /FormStackAddon:congrats }}
</main>