<main>
    {{ FormStackAddon:qualification }}
        {{ if !status }}
            {{ redirect to="{ url }" }}
        {{ /if }}
        <section id="hero">
            <div class="container">
                <div class="description">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </section>
        <section id="form">
            <div class="container">
                <div class="row">
                    <div class="form">
                        <script type="text/javascript" src="https://oneparkfinancial.formstack.com/forms/js.php/{{ form }}"></script>
                        <noscript>
                            <a href="https://oneparkfinancial.formstack.com/forms/{{ form }}" title="Online Form"></a>
                        </noscript>
                        <div class="legal-notice">
                            <p>By clicking “Get Funded”, you (i) consent to receiving telemarketing calls and messages, including calls using an automatic telephone dialing system, from One Park Financial and those acting on its behalf at the telephone number you have provided above (including your cellular phone number); agree that this consent applies even if the number you have provided is currently on any state, federal, or corporate Do-Not-Call registry; and understand that you are not required to provide this consent as a condition of receiving any credit or services from One Park Financial and that you may apply for business credit by contacting us directly; and (ii) acknowledge that you have read One Park Financials <a href="/terms-of-use/" target="_blank">Terms of Use</a> and <a href="/privacy-policy/" target="_blank">Privacy Policy</a> and understand that you may opt out of receiving communications of your choice from One Park Financial as provided in the Privacy Policy.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{ /FormStackAddon:qualification }}
</main>