<main>
    <section class="hero">
        <div class="column left color-1">
            <div class="content-wrapper callout">
                <div class="content">
                    <div class="main">
                        <div class="logo">
                            <a href="{{ link to='/' }}">
                                <img src="/assets/img/one-park-logo-white.png" alt="{{ site_name }}">
                            </a>
                        </div>
                        <div class="product">
                            <span>Register</span>
                            <span>{{ site_name }}</span>
                        </div>
                        <div class="copyright">
                            ® 2018 {{ site_name }}. All rights reserved
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column right color-2">
            <div class="content-wrapper">
                <div class="content">
                    <fieldset class="form">
                        <article class="content">
                            {{ user:register_form redirect="/account" }}
                            {{ if errors }}
                            <div class="alert alert-danger">
                                {{ errors }}
                                {{ value }}<br>
                                {{ /errors }}
                            </div>
                            {{ /if }}
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" name="username" value="{{ old:username }}" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" value="{{ old:email }}" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Password Confirmation</label>
                                <input type="password" name="password_confirmation" class="form-control" />
                            </div>
                            <div class="form-group">
                                <div class="button-group">
                                    <button class="btn btn-primary">Register</button>
                                </div>
                            </div>
                            {{ /user:register_form }}
                        </article>
                    </fieldset>
                </div>
            </div>
        </div>
    </section>
</main>