<main>
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="description">
                        <h1>
                            <div class="what-we-do">Get <span><strong>$5,000</strong> to <strong>$500,000</strong></span></div>
                            <div class="why-we-do-it">in Funding Fast</div>
                        </h1>
                        <h4>Your business needs <strong>working capital</strong> <span>and it needs it <strong>fast</strong>.</span></h4>
                        <ul class="xl">
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Hassle-Free Application Process. Get Pre-Qualified in Minutes.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Your own Team of Funding Experts finds the offer that's best for you.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Most businesses get funds deposited in less than 3 business days.</span>
                            </li>
                        </ul>
                        <ul class="xs">
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Get Pre-Qualified in Minutes.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Funding in Under 72 Hours.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Poor Credit Accepted.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="button-wrapper">
                        <a class="btn btn-primary" href="/pre-qualification">
                            <span>Get Funded Now</span>
                        </a>
                        <div class="phone">
                            <div class="text">Speak to a funding expert</div>
                            <a href="tel:+18883271044" data-ctm-watch-id="3" data-ctm-tracked="1">
                                <span class="number">1-888-327-1044</span>
                            </a>
                        </div>
                        <div class="slogan">The standard in excellence!</div>
                        <div class="badges">
                            <img src="/assets/img/BBB.png">
                            <img src="/assets/img/google-rating-4.5.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:services }}
    {{ partial:call-to-action-1 }}
    {{ partial:testimonials }}
    {{ partial:call-to-action-2 }}
    {{ partial:about-us }}
    {{ partial:call-to-action-3 }}
    {{ partial:products }}
    {{ partial:lp-form }}
</main>