<main>
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="description">
                        <h1>
                            <div class="what-we-do">Get Hassle-Free</div>
                            <div class="why-we-do-it">Funding Fast</div>
                        </h1>
                        <h4>We Help Businesses grow with <strong>easy</strong>, <span>hassle-free funding options.</span> </h4>
                        <ul class="xl">
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>No collateral or business plan required.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Simply choose the offer that’s best for you.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Most businesses get working capital deposited in just days.</span>
                            </li>
                        </ul>
                        <ul class="xs">
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>No Collateral Required.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Funding in Under 72 Hours.</span>
                            </li>
                            <li>
                                <img src="/assets/img/leaf.png">
                                <span>Poor Credit Accepted.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="button-wrapper">
                        <a class="btn btn-primary" href="/pre-qualification">
                            <span>Get Approved Now</span>
                        </a>
                        <div class="phone">
                            <div class="text">Speak to a funding expert</div>
                            <a href="tel:+18883271044" data-ctm-watch-id="3" data-ctm-tracked="1">
                                <span class="number">1-888-327-1044</span>
                            </a>
                        </div>
                        <div class="slogan">The standard in excellence!</div>
                        <div class="badges">
                            <img src="/assets/img/BBB.png">
                            <img src="/assets/img/google-rating-4.5.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Why Wait? <br>Simple Application, Fast Approval Process</h2>
                    <p>If you are the owner of a small or mid-sized business and you need funding now – even if your credit isn’t great – we’re here to assist you in finding business funding sources that understand the needs of smaller businesses and will work with you to help you succeed. Whether you need $5,000 to $5,000,000 in business funding now, we can get you a pre-approval decision within 24 hours – and if pre-approved, you’ll have access to the funds you need in under 72-hours.</p>
                    <h3>ONE APPLICATION — OVER 30 FUNDERS!</h3>
                    <ul class="services-wrapper">
                        <li class="service">
                            <img src="/assets/img/circle6.jpg">
                            <div class="description">No credit, bad credit, <span>no problem!</span></div>
                        </li>
                        <li class="service">
                            <img src="/assets/img/circle7.jpg">
                            <div class="description">We accept monthly revenues of $5,000 or more.</div>
                        </li>
                        <li class="service">
                            <img src="/assets/img/circle8.jpg">
                            <div class="description">We accept businesses open for 3 months or longer.</div>
                        </li>
                        <li class="service">
                            <img src="/assets/img/circle9.jpg">
                            <div class="description">Serving all 50 U.S. States (and Puerto Rico)</div>
                        </li>
                        <li class="service">
                            <img src="/assets/img/circle10.jpg">
                            <div class="description">Working Capital For Small and Mid-Sized Businesses </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="call-to-action-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="flexed">
                        <h2>Ready to take your business to the next level?</h2>
                        <a href="/pre-qualification" class="btn btn-primary">Apply Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:testimonials }}
    <section id="call-to-action-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="flexed">
                        <h2>We can help you build the business you’ve always envisioned.</h2>
                        <a href="/pre-qualification" class="btn btn-primary">Apply Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>What does One Park Financial do?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-5">
                    <div class="image-wrapper">
                        <div class="iframe-wrapper">
                            <iframe src="https://www.youtube.com/embed/R0kUmrtKlTE?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="trustpilot-widget-wrapper">
                            <!-- TrustBox widget - Micro Star -->
                            <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="555cd8dd0000ff00057f8e1e" data-style-height="24px" data-style-width="100%" data-theme="light">
                                <a href="https://www.trustpilot.com/review/oneparkfinancial.com" target="_blank">Trustpilot</a>
                            </div>
                            <!-- End TrustBox widget -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-7">
                    <div class="description">
                        <p>
                            At One Park Financial, we understand that applying for a bank loan can be a long, drawn out
                            process that many small and mid-sized businesses will not qualify for. We are experts at
                            pairing businesses with the right funders, and since 2008, we have been making a difference
                            in the lives of business owners across the country.
                        </p>
                        <p>
                            By working with a large network of funders (over 35) we are able to offer a wide variety of
                            flexible financing and funding options without all the hassles, hurdles and games associated
                            with traditional bank financing.
                        </p>
                        <div class="advantages">
                            <h4>
                                <img src="/assets/img/leaf.png" width="20" height="16">
                                The One Park Advantage
                            </h4>
                            <ul>
                                <li>Financing from $5,000 to $5,000,000</li>
                                <li>Approval Decisions in Under 24 Hours</li>
                                <li>Funding in Under 72 Hours</li>
                                <li>Hassle-Free Process</li>
                                <li>No Collateral Required</li>
                                <li>No Business Plan Required</li>
                                <li>Free, No Obligation Pre-Approval</li>
                                <li>Low Competitive Rates</li>
                                <li>Poor Credit, Including Bankruptcies <span>and Tax Liens Accepted</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="call-to-action-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="flexed">
                        <h2>Get the funds you need to succeed, now!</h2>
                        <a href="/pre-qualification" class="btn btn-primary">Apply Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial:products }}
    {{ partial:lp-form }}
</main>