<main>
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-7">
                    <div class="description">
                        <h3>
                            We offer a variety of flexible financing and funding options designed to help small to mid-sized
                            <br>
                            <span>businesses succeed.</span>
                        </h3>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-5">
                    <div class="button-wrapper">
                        <a class="btn btn-primary" href="/pre-qualification">
                            <span>Get Approved Now</span>
                        </a>
                        <div class="badges">
                            <img src="/assets/img/BBB.png">
                            <img src="/assets/img/google-rating-4.5.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="description">
        <div class="container">
            <div class="text">
                <p>We have close relationships and partnerships with most of the private lenders and merchant cash advance providers across the country. We use our vast knowledge and experience to match you with the lender(s) that best meet your unique business scenario. This also means that because the lenders know we have multiple partners, they are competing with each other for your business. This results in better rates and terms for you! Additionally, there are never any up-front fees or associated costs to the merchant for our services.</p>
            </div>
        </div>
    </section>
    <section id="packages">
        <div class="container">
            <h2>6 Specialized Funding Packages</h2>
            <ul class="packages">
                <li id="revenue" class="package">
                    <div class="image-wrapper">
                        <img src="/assets/img/prod1a.jpg">
                    </div>
                    <div class="text">
                        <div class="badge">Package 1</div>
                        <h3>Revenue Based Financing/Merchant Cash Advance (no collateral, assets, equity)</h3>
                        <p>An unsecured revenue based capital or Merchant Cash Advance is the most common form of business financing. They are the easiest to qualify for and can usually be funded in a matter of 2-3 days from the time of application. No collateral or assets are required and challenging credit is not an obstacle to funding. OnePark Financial works with dozens of private lenders that offer anywhere from $5,000 – $500,000. The terms can range from 3-18 months, depending on the borrowers unique situation. One of our dedicated funding managers will walk you through the process and let you know what you could expect.</p>
                        <a href="/pre-qualification?package=1" class="btn btn-primary">Start Now!</a>
                    </div>
                </li>
                <li id="asset" class="package">
                    <div class="image-wrapper">
                        <img src="/assets/img/prod2a.jpg">
                    </div>
                    <div class="text">
                        <div class="badge">Package 2</div>
                        <h3>Asset Based Financing</h3>
                        <p>Asset based capital is secured by an asset, such as property, vehicles, and equipment.The structure of the capital is the same as the unsecured capital mentioned above, but is backed by collateral. In the simplest meaning, asset-based lending is any kind of lending secured by an asset. More commonly however, the phrase is used to describe lending to business and large corporations using assets not normally used in other advances. Typically, these advances are tied to inventory, accounts receivable, machinery and equipment. The rates are generally lower than unsecured capital and can range from 6-18 months. One of our dedicated funding managers will walk you through the process and let you know what you could expect.</p>
                        <a href="/pre-qualification?package=2" class="btn btn-primary">Start Now!</a>
                    </div>
                </li>
                <li id="hardmoney" class="package">
                    <div class="image-wrapper">
                        <img src="/assets/img/prod1.jpg">
                    </div>
                    <div class="text">
                        <div class="badge">Package 3</div>
                        <h3>Hard Money Advances</h3>
                        <p>A hard money advance is a specific type of asset-based financing through which a borrower receives funds secured by the value of a parcel of real estate. Interest rates are typically higher than conventional commercial or residential property advance because of the higher risk taken by the lender. Most hard money advances are used for projects lasting from a few months to a couple of years. This option can be used to borrow against a property currently owned by the borrower or a property that is looking to be purchased. Rates will vary and terms usually run from 12-18 months. One of our dedicated funding managers will walk you through the process and let you know what you could expect</p>
                        <a href="/pre-qualification?package=3" class="btn btn-primary">Start Now!</a>
                    </div>
                </li>
                <li id="equipment" class="package">
                    <div class="image-wrapper">
                        <img src="/assets/img/prod2.jpg">
                    </div>
                    <div class="text">
                        <div class="badge">Package 4</div>
                        <h3>Equipment Leasing</h3>
                        <p>Leasing is a process by which a firm can obtain the use of a certain fixed assets for which it must pay a series of contractual, periodic, tax deductible payments. Similar to a car lease, it is a lease to purchase option. This is a great option for many businesses that require the use of machinery, large trucks, and construction or office equipment. Rates can range and terms usually run for 2-4 years. Once paid off, the equipment is wholly owned by the borrower. One of our dedicated funding managers will walk you through the process and let you know what you could expect.</p>
                        <a href="/pre-qualification?package=4" class="btn btn-primary">Start Now!</a>
                    </div>
                </li>
                <li id="factoring" class="package">
                    <div class="image-wrapper">
                        <img src="/assets/img/prod3.jpg">
                    </div>
                    <div class="text">
                        <div class="badge">Package 5</div>
                        <h3>Receivables Factoring</h3>
                        <p>Factoring is a financial transaction in which a business sells its accounts receivable (i.e., invoices) to a third party (called a factor) at a discount. This is generally used as a short bridge advance. The advance is for work or deliverables that have already been completed or delivered. One of our dedicated funding managers will walk you through the process and let you know what you could expect.</p>
                        <a href="/pre-qualification?package=5" class="btn btn-primary">Start Now!</a>
                    </div>
                </li>
                <li id="vip" class="package">
                    <div class="image-wrapper">
                        <img src="/assets/img/prod4.jpg">
                    </div>
                    <div class="text">
                        <div class="badge">Package 6</div>
                        <h3>VIP Investment Banking</h3>
                        <p>This type of financing usually entails mezzanine investments, co-equity investments,senior/subordinate debt, mergers and acquisitions, or club and syndicated investments.OnePark Financial has the experts and relationships to successfully finance the “one-off” deal looking for $500,000+. One of our dedicated managers will walk you through the process and let you know what you could expect.</p>
                        <a href="/pre-qualification?package=6" class="btn btn-primary">Start Now!</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    {{ partial:lp-form }}
</main>