<main>
    <div class="container">
        <section id="jobs">
            <div class="heading">
                <h1>Jobs</h1>
                <h2>One Park Financial</h2>
            </div>
            <article class="list">
                {{ collection:jobs paginate="true" as="posts" limit="4" locale="only {locale}" }}
               <ul>
                  {{ posts scope="tag" }}
                  {{ partial:job-block }}
                  {{ /posts }}
               </ul>
                {{ partial:pagination }}
                {{ /collection:jobs }}
            </article>
        </section>
    </div>
</main>