@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin columns($colNum: 4, $colMargin: 2%) {
  float: left;
  width: (100% - ($colMargin * ($colNum - 1))) / $colNum !important;
  margin: 0 $colMargin $colMargin 0;
  &:nth-child(#{$colNum}n) {
    margin-right: 0;
  }
  &:nth-child(#{$colNum}n + #{$colNum + 1}) {
    clear: left;
  }
}