$white: #fff;
$brand-primary: #6EB95A;
$brand-secondary: #19354e;
$brand-third: #e88f0b;
$border-color: #eeeeee;
$text-color: #19354e;
$legal-text: #888;
$font-forge: "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
$font-one-park-financial: 'Nunito', sans-serif;